<div class="grid">
  <div class="grid-cell boosted-container">
    <!-- Header -->
    <div class="grid">
      <!-- Heading -->
      <div class="grid-cell">
        <h3>{{getTitle()}} <span *ngIf="shouldShowbOmmBalance()" class="label value-bomm-total" #bommBaln>{{userbOmmBalance | roundDown2Dec | usFormat | toZeroIfDash }} bOMM</span>&nbsp;
          <span class="bomm-tooltip tooltip">
            <span class="tooltip-item"><img src="assets/img/icon/question.svg" class="tooltip-icon"></span>
            <div class="tooltip-content">
              <p class="bomm-tooltip-content">{{bOmmTooltipContent()}}</p>
            </div>
          </span>
        </h3>
      </div>
      <!-- Button -->
      <div class="grid-cell" [ngStyle]="shouldHideBoostedSlider() | hide">
        <p class="text-right" [ngStyle]="isLockAdjustActive() | hide">
          <a href="javascript:void(0);" class="button" id="boost-adjust" style="margin-top: 0;" (click)="onLockAdjustClick()">{{boostAdjustLabel()}}</a>
        </p>

        <div class="boost-adjust-actions" [ngStyle]="!isLockAdjustActive() | hide">
          <div class="grid">
            <div class="grid-cell">
              <div class="grid grid-center">
                <div class="grid-cell text-right">
                  <a href="javascript:void(0);" class="cancel boost-cancel" (click)="onLockAdjustCancelClick()">Cancel</a>
                </div>
                <div class="grid-cell">
                  <a href="javascript:void(0);" class="button modal-trigger" style="margin-top: 0;"
                     data-modal="modal-boost-confirm" (click)="onConfirmLockOmmClick()">Confirm</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <p class="label intro-label" [ngStyle]="isLockAdjustActive() | hide">{{boostedOmmPanelMessage()}}</p>
    <div class="threshold locked boost {{shouldHideLockedOmmThreshold() ? 'hide':''}} {{calculatePercentLocked().lt(0.5) ? 'right':'left'}}" [ngStyle]="getLeftLockedThresholdPercentStyle()">
      <dl class="metadata">
        <dt>Locked</dt>
      </dl>
    </div>

    <!-- Locked OMM slider -->
    <app-boosted-omm-slider #lockOmmSlider
                            style="display: contents"
                            [lockAdjustActive]="isLockAdjustActive()"
                            [shouldHideBoostedSlider]="shouldHideBoostedSlider()"
                            (sliderValueUpdate)="handleLockSliderValueUpdate($event)"
    ></app-boosted-omm-slider>

    <div class="grid grid-center boost-data" [ngStyle]="shouldHideBoostedSlider() | hide">
      <div class="grid-cell">
        <p class="label">
          <input [ngStyle]="!isLockAdjustActive() | hide" #lockInput id="input-boost" (keyup)="onLockedOmmInputLostFocus()"
                 class="input-boost" type="text" name="">
          <span [ngStyle]="isLockAdjustActive() | hide" class="omm-locked">{{userLockedOmmBalance | roundDown2Dec | usFormat}}</span> / {{getLockSliderMax() | usFormat}} OMM</p>
      </div>
      <div class="grid-cell text-right">
        <p class="label locked-default" [ngStyle]="(isLockAdjustActive() || userLockedOmmBalance.isZero()) | hide">{{userHasLockedOmm() ? unlockedOnLockedUntilLabel() : "Lock up until"}} {{timestampInMillisecondsToPrettyDate(lockDate())}}</p>
        <div class="locked-adjust" [ngStyle]="!isLockAdjustActive() | hide">
          <p>
            <span class="label">{{unlockedOnLockedUntilLabel()}} </span> <a class="dropdown time-selector" (click)="onLockedDateDropdownClick()">
            <span class="animation-underline locked-selector">{{timestampInMillisecondsToPrettyDate(lockDate())}}</span></a></p>
          <div class="grid dropdown-content locked-selector" #drpdwnLocked>
            <div class="grid-cell">
              <ul>
                <ng-container *ngFor="let date of getLockedUntilDateOptions();">
                  <li (click)="onLockUntilDateClick(date)">{{date}}</li>
                </ng-container>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
