<!-- Header -->
<header class="header">
  <div class="grid grid-center">
    <div class="grid-cell">
      <div class="grid grid-center">
        <!-- Logo -->
        <div routerLink="">
          <img src="assets/img/logo/omm-wordmark.svg" alt="Omm logo" class="logo">
        </div>
        <!-- Page title -->
        <div class="grid-cell">
          <h1>Home</h1>
        </div>
      </div>
    </div>

    <!-- Utilities -->
    <div class="grid-cell" [ngStyle]="hideElement(!this.persistenceService.userLoggedIn())">
      <!-- Bridge wallet -->
      <div class="grid grid-center wallet bridge" (click)="onWalletClick($event)">
        <div class="grid-cell text-right">
          <p class="text-dark">{{getWalletName()}}</p>
          <span class="label">{{getWalletId()}}</span>
        </div>
        <div class="grid-cell">
          <div class="dot">
            <img src="assets/img/icon/wallet.svg" class="svg" alt="Wallet icon" width="50px">
          </div>
        </div>
      </div>

      <div class="grid wallet-content bridge panel">
        <div class="grid-cell">
          <ul>
            <li [ngStyle]="hideElement(!this.persistenceService.bridgeWalletActive())">
              <a href="javascript:void(0);" (click)="onOpenBridgeClick()" class="animation-underline">Open Bridge</a>
            </li>
            <li><a href="javascript:void(0);" class="animation-underline" (click)="onCopyIconAddressClick()">Copy ICON address</a></li>
          </ul>
          <p class="text-center"><a href="javascript:void(0);" class="button" (click)="onSignOutClick()">Sign out</a></p>
        </div>
      </div>
    </div>

    <!-- Sign in button -->
    <div class="text-right sign-in-container" [ngStyle]="hideElement(this.persistenceService.userLoggedIn())">
      <a href="javascript:void(0);" id="sign-in-btn" class="button modal-trigger" data-modal="modal-sign-in" (click)="onSignInClick()">Sign in</a>
    </div>

  </div>
</header>
