<!-- Header -->
<header class="header">
  <div class="grid grid-center">
    <!-- Logo -->
    <div class="grid-cell">
      <!-- tooltip -->
      <span id="logo-back-container" class="tooltip hover">
						<span class="tooltip-item"><a href="javascript:void(0);" class="logo"><img src="assets/img/logos/omm-logo.svg" alt="Omm logo"></a></span>
						<span id="logo-back" class="tooltip-content clearfix" style="margin-left: -105px;margin-bottom: -47px;">
							<div class="grid">
								<div class="grid-cell no-margin">
									<p>Back to the OMM website</p>
								</div>
							</div>
						</span>
					</span>
    </div>

    <!-- Utilities -->
    <div class="grid-cell"  *ngIf="this.persistenceService.userLoggedIn()">
      <!-- tooltip -->
      <span class="tooltip">
						<span class="tooltip-item"><span id="profile" class="profile" (click)="onProfileClick()"></span></span>
						<span id="profile-tooltip" class="tooltip-content clearfix" style="margin: 0 0 -160px 59px;">

							<div class="grid">
								<div class="grid-cell">
									<p class="text-center"><a href="javascript:void(0);" class="button text-center"
                                            (click)="this.persistenceService.iconexLogout()">Sign out</a></p>
								</div>
							</div>
						</span>
					</span>
      <div class="active-wallet">
        <p style="color: #49546a;">Wallet</p>
        <p class="label" *ngIf="this.persistenceService.userLoggedIn()">
          {{this.persistenceService.iconexWallet!.address}}</p>
      </div>
    </div>

    <div class="grid-cell" *ngIf="!this.persistenceService.userLoggedIn()">
      <div class="active-wallet">
        <a href="javascript:void(0);" class="button" (click)="onConnectWalletClick()">Sign in</a>
      </div>
    </div>
  </div>
</header>
<!-- /Header -->
