<!-- Your markets (users asset) or Available to supply state -->
<tr class="asset {{asset.className}} {{getAssetClass()}}" (click)="onAssetClick()" #assetYour [ngStyle]="hideElement(!shouldBeShown())">

  <td>{{asset.name}}<br><span class="label">{{getAssetTagAdjusted()}}</span></td>

  <!-- Your asset state -->
  <ng-container *ngIf="!isAllMarketViewActive() && !isAssetAvailable()">
    <td><span class="value-supplied">{{this.persistenceService.getUserAssetReserve(asset.tag)?.currentOTokenBalanceUSD | roundOff2Dec | dollarUsLocale}}</span><br>
      <span class="value-supplied label">{{getUserSuppliedAssetBalance() | usFormat}} {{supplyAssetTag()}}</span></td>
    <td class="text-green">{{getUserSupplyApy() | roundOff2DecPercent}}</td> <!-- Supply APY-->
    <td><span class="value-borrowed">{{userBorrowedAssetBalanceUSD | roundOff2Dec | dollarUsLocale}}</span><br>
      <span class="value-borrowed label">{{userBorrowedAssetBalance | roundDown2Dec | usFormat}} {{getBorrowAssetTagAdjusted()}}</span></td>
    <td class="{{isNegative(getUserBorrowApy()) ? 'text-purple' : 'text-green'}}">{{makeAbsolute(getUserBorrowApy()) | roundOff2DecPercent}}</td><!-- Borrow APY -->
  </ng-container>

  <!-- Asset available state -->
  <ng-container *ngIf="!isAllMarketViewActive() && isAssetAvailable()">
    <td colspan="2" class="text-right">{{getUserSuppliableBalanceUSD() | roundOff2Dec | dollarUsLocale}}
      <br><span class="label">{{getUserSuppliableBalance() | roundOff2Dec | usFormat}} {{supplyAssetTag()}}</span></td>
    <td colspan="2" class="text-right"><span class="text-green">{{getUserSupplyApy() | roundOff2DecPercent}} APY</span></td> <!-- Supply APY -->
  </ng-container>

  <!-- All markets state -->
  <ng-container *ngIf="isAllMarketViewActive()">
    <td><span>{{getTotalLiquidityUsd() | dollarUsLocale}}</span><br>
      <span class="label">{{getTotalLiquidity() | usFormat}} {{supplyAssetTag()}}</span></td>
    <td class="text-green">{{getMarketSupplyRate() | roundOff2DecPercent}}</td> <!-- Supply APY -->
    <td>{{getTotalBorrowUsd() | dollarUsLocale}}<br>
      <span class="label">{{getTotalAssetBorrows() | usFormat}} {{getBorrowAssetTagAdjusted()}}</span></td>
    <td class="{{isNegative(getMarketBorrowRate()) ? 'text-purple' : 'text-green'}}">{{makeAbsolute(getMarketBorrowRate()) | roundOff2DecPercent}}</td> <!-- Borrow APY -->
  </ng-container>

</tr>

<!-- Asset Expanded -->
<tr class="expanded">
  <td colspan="5">
    <div class="market-expanded" #marketExpandedEl>
      <div class="grid">
        <!-- Asset Supply -->
        <div class="grid-cell supply border-right" #supply>
          <!-- Supply title -->
          <div class="grid grid-center title">
            <div class="grid-cell">
              <h2>Supply</h2>

              <!-- Toggle for ICX / sICX -->
              <ng-container *ngIf="isAssetIcx() && userLoggedIn()">
                <ul class="toggle">
                  <li [ngClass]="!sIcxSelected ? 'active' : ''" (click)="onIcxToggleClick()">ICX</li>
                  <li [ngClass]="sIcxSelected ? 'active' : ''" (click)="onSIcxToggleClick()">sICX</li>
                </ul>
                <span id="tooltip-icx-sicx" class="tooltip tooltip-small">
                <span class="tooltip-item"><img src="assets/img/icon/question.svg" class="tooltip-icon"></span>
                <div class="tooltip-content"><p>View your market details in ICX or sICX. They use the same Supplied value, but the Available amount is based on your wallet balance for each.</p></div>
              </span>
              </ng-container>

            </div>
            <div class="grid-cell text-right">
              <p class="supply-apy" #suppApyEl>{{getSupplyRateForActiveMarket() | roundOff2DecPercent}} APY</p>
            </div>
          </div>

          <!-- Supply allow (Show if user can supply) -->
          <div class="supply-allow" #supplyAllow>

            <!-- Supply APY history chart -->
            <div class="chart-wrapper" (resized)="onSuppChartResize()" [ngStyle]="hideElement(ommApyChecked  || isAssetOmm())" #suppChartWrapper>
              <div class="chart-apy" #suppHistChart></div>
            </div>

            <!-- Supply slider -->
            <div [ngStyle]="hideElement(shouldHideSupplyContent())" id="slider-supply" #sliderSupply disabled></div>

            <!-- Supply inputs -->
            <div [ngStyle]="hideElement(shouldHideSupplyContent())" class="grid legend">
              <div class="grid-cell">
                <label class="label supplied">Supplied</label>
                <p class="input-supply-default value-supplied" [ngStyle]="hideElement(this.inputSupplyActive)">{{inputSupply?.value}} {{supplyAssetTag()}}</p>

                <div class="input-asset-supply" [ngStyle]="hideElement(!this.inputSupplyActive)">
                  <span class="ticker">{{supplyAssetTag()}}</span>
                  <input type="text" title="{{supplyAssetTag()}} supplied" id="input-supply" #inputSupply class="input-supply" disabled="" value="0" (keyup)="onInputSupplyLostFocus()"
                         [ngStyle]="{'padding-right': getInputPadding(true, supplyAssetTag().toString(), inputSupplyEl)}">
                </div>
              </div>
              <div class="grid-cell">
                <label class="label available">Available</label>
                <p class="input-supply-default value-supplied-available" [ngStyle]="hideElement(this.inputSupplyActive)">{{inputSupplyAvailable?.value}} {{supplyAssetTag()}}</p>

                <div class="input-asset-supply" [ngStyle]="hideElement(!this.inputSupplyActive)">
                  <span class="ticker">{{supplyAssetTag()}}</span>
                  <input type="text" title="{{supplyAssetTag()}} available to supply" id="input-supply-available" #inpSuppAvail class="input-supply" disabled value="0"
                         [ngStyle]="{'padding-right': getInputPadding(true, supplyAssetTag().toString(), inputSupplyAvailable)}">
                </div>
              </div>
            </div>

            <!-- Supply income -->
            <div [ngStyle]="hideElement(shouldHideSupplyContent())" class="grid legend income">
              <div class="grid-cell">
                <dl class="metadata">
                  <dt>Daily interest</dt>
                  <dd class="value-supply-interest" #suppInterest>0 </dd>
                </dl>
              </div>
              <div class="grid-cell">
                <dl class="metadata">
                  <dt>Daily rewards</dt>
                  <dd class="value-supply-rewards" #suppRewards>0 OMM</dd>
                </dl>
              </div>
            </div>

            <!-- Adjust-->
            <div [ngStyle]="hideElement(shouldHideSupplyContent())" class="grid grid-center supply-actions actions-1" #suppAct1>
              <div class="grid-cell text-center">
                <a href="javascript:void(0);" class="button {{asset.className}} supply-adjust"
                   (click)="onSupplyAdjustClick()">{{userAssetSuppliedBalanceIsZero() ? "Supply" : "Adjust"}}</a>
              </div>
            </div>
          </div>

          <!-- If logged out show sign in button -->
          <div class="grid grid-center sign-in-message" [ngStyle]="hideElement(userLoggedIn())">
            <div class="grid-cell" [ngStyle]="hideElement(userLoggedIn())">
              <p class="text-center"><a href="javascript:void(0);" class="button" (click)="onSignInClick()">Sign in to supply</a></p>
            </div>
          </div>

          <!-- Confirm -->
          <div class="grid grid-center supply-actions actions-2 hide" #suppAct2>
            <div class="grid-cell text-right">
              <a href="javascript:void(0);" class="cancel adjust-cancel" (click)="onAdjustCancelClick()">Cancel</a>
            </div>
            <div class="grid-cell text-left">
              <a href="javascript:void(0);" class="button modal-trigger" data-modal="modal-supply" (click)="onAssetSupplyConfirmClick()">Confirm</a>
            </div>
          </div>

          <!-- Risk warning -->
          <div class="grid grid-center supply-risk-warning hide">
            <div class="grid-cell">
              <p class="label text-red text-center">Your risk is too high.</p>
            </div>
          </div>

          <!-- Supply deny (Show if user can't borrow) -->
          <div class="supply-deny {{asset.className}} hide" [ngStyle]="displayAsBlockOrHide(userAssetBalanceIsZero() && userAssetSuppliedBalanceIsZero()
          && userLoggedIn() && shouldHideSupplySlider())">
            <p class="text-center label message">You have no {{asset.name}} available to supply.</p>
          </div>
        </div>

        <!-- Asset Borrow -->
        <div class="grid-cell borrow" #borrow>
          <!-- Borrow title -->
          <div class="grid grid-center title">
            <div class="grid-cell">
              <h2>Borrow</h2><span class="risk-outer" [ngStyle]="hideElement(this.persistenceService.userHasNotSuppliedAnyAsset())">Risk: <span class="value-risk-total">- %</span></span>
              <span class="tooltip expanded-risk-tooltip" style="padding-left: 5px" [ngStyle]="hideElement(this.persistenceService.userHasNotSuppliedAnyAsset())">
                <span class="tooltip-item"><img src="assets/img/icon/question.svg" class="tooltip-icon"></span>
                <div class="tooltip-content"><p>While you borrow assets, your supply is at risk of liquidation. Keep it below 50% to reduce the impact of volatile markets.</p></div>
              </span>
            </div>
            <div class="grid-cell text-right" [ngStyle]="hideElement(isAssetOmm())">
              <p class="{{isNegative(getBorrowRateForActiveMarket()) ? 'borrow-apy':'borrow-apy text-green'}}" #borrowAprEl>{{makeAbsolute(getBorrowRateForActiveMarket()) | roundOff2DecPercent}} APR</p>
            </div>
          </div>

          <!-- Borrow allow (Show if user can borrow) -->
          <div class="borrow-allow">

            <!-- Used indicator -->
            <div [ngStyle]="hideElement(shouldHideBorrowContent())" class="used-container" *ngIf="isAssetBorrowUsed()">
              <div class="used active" [ngStyle]="{left: assetRepayUsedPercentage() + '%'}"><p class="label">Used</p></div>
            </div>

            <!-- Chart line 2 -->
            <div class="chart-wrapper" [ngStyle]="hideElement(ommApyChecked || isAssetOmm())" #borrChartWrapper>
              <div class="chart-apy" #borrHistChart></div>
            </div>


            <!-- Borrow slider -->
            <div [ngStyle]="hideElement(shouldHideBorrowContent())" id="slider-borrow" #sliderBorrow disabled></div>

            <!-- Borrow legend -->
            <div [ngStyle]="hideElement(shouldHideBorrowContent())" class="grid legend">
              <div class="grid-cell">
                <label class="label borrowed">Borrowed</label>
                <p class="input-borrow-default value-borrowed" [ngStyle]="hideElement(this.inputBorrowActive)">{{inputBorrow?.value}} {{getBorrowAssetTagAdjusted()}}</p>

                <div class="input-asset-borrow" [ngStyle]="hideElement(!this.inputBorrowActive)">
                  <span class="ticker">{{getBorrowAssetTagAdjusted()}}</span>
                  <input type="text" title="{{getBorrowAssetTagAdjusted()}} borrowed" id="input-borrow" #inputBorrow class="input-borrow" disabled value="0" (keyup)="onInputBorrowLostFocus()"
                         [ngStyle]="{'padding-right': getInputPadding(false, getBorrowAssetTagAdjusted().toString(), inputBorrowEl)}">
                </div>
              </div>
              <div class="grid-cell">
                <label class="label available">Available</label>
                <p class="input-borrow-default value-borrowed-available" [ngStyle]="hideElement(this.inputBorrowActive)">{{inputBorrowAvailable?.value}} {{getBorrowAssetTagAdjusted()}}</p>

                <div class="input-asset-borrow" [ngStyle]="hideElement(!this.inputBorrowActive)">
                  <span class="ticker">{{getBorrowAssetTagAdjusted()}}</span>
                  <input type="text" title="{{getBorrowAssetTagAdjusted()}} available to borrow" id="input-borrow-available" #inpBorrAvail class="input-borrow" disabled value="0"
                         [ngStyle]="{'padding-right': getInputPadding(false, getBorrowAssetTagAdjusted().toString(), inputBorrowAvailable)}">
                </div>
              </div>
            </div>

            <!-- Borrow income legend -->
            <div [ngStyle]="hideElement(shouldHideBorrowContent())" class="grid legend income">
              <div class="grid-cell">
                <dl class="metadata">
                  <dt>Daily interest</dt>
                  <dd class="value-borrow-interest" #borrInterest>{{getDailyBorrowInterest() | roundOff2Dec | usFormat}} {{asset.tag}}</dd>
                </dl>
              </div>
              <div class="grid-cell">
                <dl class="metadata">
                  <dt>Daily rewards</dt>
                  <dd class="value-borrow-rewards" #borrRewards>0 OMM</dd>
                </dl>
              </div>
            </div>

            <!-- Adjust-->
            <div [ngStyle]="hideElement(shouldHideBorrowContent())" class="grid grid-center borrow-actions actions-1" #borrAct1>
              <div class="grid-cell text-center">
                <a href="javascript:void(0);" class="button {{asset.className}} purple borrow-adjust"
                   [ngStyle]="hideElement(this.persistenceService.userHasNotSuppliedAnyAsset())"
                   (click)="onBorrowAdjustClick()">{{userAssetBorrowedBalanceIsZero() ? "Borrow" : "Adjust"}}</a>
              </div>
            </div>

            <!-- Confirm -->
            <div [ngStyle]="hideElement(shouldHideBorrowContent())" class="grid grid-center borrow-actions actions-2 hide" #borrAct2>
              <div class="grid-cell text-right">
                <a href="javascript:void(0);" class="cancel adjust-cancel" (click)="onAdjustCancelClick()">Cancel</a>
              </div>
              <div class="grid-cell text-left">
                <a href="javascript:void(0);" class="button purple modal-trigger" data-modal="modal-borrow" (click)="onAssetBorrowConfirmClick()">Confirm</a>
              </div>
            </div>
          </div>

          <!-- Risk warning -->
          <div class="grid grid-center borrow-risk-warning {{asset.className}} hide">
            <div class="grid-cell">
              <p class="label text-red text-center">Reduce your risk to borrow {{asset.name}}.</p>
            </div>
          </div>

          <!-- Borrow deny (Show if user can't borrow) -->
          <div class="borrow-deny hide" [ngStyle]="displayAsBlockOrHide(shouldShowBorrowDeny() && !isAssetOmm())">
            <p class="text-center label message">Supply an asset to borrow {{asset.name}}.</p>
          </div>

          <!-- Borrow unavailable for OMM -->
          <div class="borrow-deny hide" [ngStyle]="displayAsBlockOrHide(isAssetOmm())">
            <p class="text-center label message">Omm Tokens aren't available to borrow.</p>
          </div>

        </div>
      </div>

      <div *ngIf="isAssetIcx()" class="notice">
        <p class="label">When you borrow or withdraw, you'll receive staked ICX (sICX). You can swap sICX for ICX on <a href="{{isProduction()
        ? 'https://app.balanced.network/trade' :'https://omm.balanced.network/trade'}}" target="_blank">Balanced</a>.</p>
        <!-- If ICX is unstaking -->
        <p *ngIf="getUserTotalUnstakeAmount().isGreaterThan(ZERO) && getUserClaimableIcxAmount().isZero()" class="label" style="margin-top: 7px;">{{getUserTotalUnstakeAmount() | roundDown2Dec | usFormat}} ICX is unstaking.</p>
        <!-- If some ICX is ready to claim -->
        <p *ngIf="getUserTotalUnstakeAmount().isGreaterThan(ZERO) && getUserClaimableIcxAmount().isGreaterThan(ZERO)" class="label" style="margin-top: 7px;">{{getUserTotalUnstakeAmount() | roundDown2Dec | usFormat}} ICX is unstaking. <a
          href="javascript:void(0);" (click)="onClaimIcxClick()" class="modal-trigger" data-modal="modal-claim-icx">{{getUserClaimableIcxAmount() | roundDown2Dec | usFormat}} ICX is ready to claim</a>.</p>
        <!-- If all ICX is ready to claim -->
        <p *ngIf="getUserTotalUnstakeAmount().isZero() && getUserClaimableIcxAmount().isGreaterThan(ZERO)" class="label" style="margin-top: 7px;">
          <a href="javascript:void(0);" (click)="onClaimIcxClick()" class="modal-trigger" data-modal="modal-claim-icx">{{getUserClaimableIcxAmount() | roundDown2Dec | usFormat}} ICX is ready to claim</a>.</p>
      </div>

    </div>
  </td>
</tr>
