<!-- Available to supply state -->
<tr class="asset {{asset.className}} asset-available hide" #assetAvail>
  <td>{{asset.name}}<br><span class="label">{{asset.tag}}</span></td>
  <td colspan="2" class="text-right">$15,000<br><span class="label">15,000 {{asset.tag}}</span></td>
  <td colspan="2" class="text-right"><span class="text-green">6.47% APY</span></td>
</tr>

<!-- Your markets state -->
<tr class="asset {{asset.className}} your hide" (click)="onAssetClick()" #assetYour>
  <td>{{asset.name}}<br><span class="label">{{asset.tag}}</span></td>
  <td><span class="value-supplied">${{this.formatNumberToNdigits(this.persistenceService.getUserAssetReserve(asset.tag)?.currentOTokenBalance)}}</span><br>
    <span class="value-supplied label">{{this.formatNumberToUSLocaleString(this.persistenceService.getUserSuppliedAssetBalance(asset.tag))}} {{asset.tag}}</span></td>
  <td class="text-green">{{this.persistenceService.getUserAssetReserve(asset.tag)?.liquidityRate?.toFixed(5)}}%</td>
  <td><span class="value-borrowed">${{this.formatNumberToNdigits(this.persistenceService.getUserAssetReserve(asset.tag)?.principalBorrowBalanceUSD)}}</span><br>
    <span class="value-borrowed label">{{this.formatNumberToUSLocaleString(this.persistenceService.getUserAssetBorrowedBalance(asset.tag))}} {{asset.tag}}</span></td>
  <td class="text-purple">{{this.persistenceService.getUserAssetReserve(asset.tag)?.borrowRate?.toFixed(5)}}%</td>
</tr>

<!-- All markets state -->
<tr class="asset {{asset.className}} all" #assetAll>
  <td>{{asset.name}}<br><span class="label">{{asset.tag}}</span></td>
  <td><span>${{this.formatNumberToNdigits(this.persistenceService.getAssetAllReserveData(asset.tag)?.totalLiquidity)}}</span><br>
    <span class="label">{{this.formatNumberToUSLocaleString(this.persistenceService.getAssetAllReserveData(asset.tag)?.totalLiquidity)}} {{asset.tag}}</span></td>
  <td class="text-green">{{this.persistenceService.getAssetAllReserveData(asset.tag)?.liquidityRate?.toFixed(5)}}%</td>
  <td>${{this.formatNumberToNdigits(this.persistenceService.getAssetAllReserveData(asset.tag)?.totalBorrows)}}<br>
    <span class="label">{{this.formatNumberToUSLocaleString(this.persistenceService.getAssetAllReserveData(asset.tag)?.totalBorrows)}} {{asset.tag}}</span></td>
  <td class="text-purple">{{this.persistenceService.getAssetAllReserveData(asset.tag)?.borrowRate?.toFixed(5)}}%</td>
</tr>

<!-- Expanded -->
<tr class="expanded">
  <td colspan="5">
    <div class="market-expanded" #marketExpandedEl>
      <div class="grid">
        <!-- Asset Supply -->
        <div class="grid-cell supply border-right" #supply>
          <!-- Supply title -->
          <div class="grid grid-center title">
            <div class="grid-cell">
              <h2>Supply</h2>
            </div>
            <div class="grid-cell text-right">
              <p class="supply-apy">6.47% APY</p>
            </div>
          </div>

          <!-- Supply slider -->
          <div id="slider-supply" #sliderSupply disabled></div>

          <!-- Supply inputs -->
          <div class="grid legend">
            <div class="grid-cell">
              <label class="label supplied">Supplied</label>
              <input type="text" title="{{asset.tag}} supplied" id="input-supply" #inputSupply class="input-supply" disabled="" value="0">
            </div>
            <div class="grid-cell">
              <label class="label available">Available</label>
              <input type="text" title="{{asset.tag}} available to supply" #inpSuppAvail id="input-supply-available" class="input-supply-available" disabled="" value="0">
            </div>
          </div>

          <!-- Supply income -->
          <div class="grid legend income">
            <div class="grid-cell">
              <dl class="metadata">
                <dt>Daily interest</dt>
                <dd class="value-supply-interest">+ 0 {{asset.tag}}</dd>
              </dl>
            </div>
            <div class="grid-cell">
              <dl class="metadata">
                <dt>Daily rewards</dt>
                <dd class="value-supply-rewards">+ 0 OMM</dd>
              </dl>
            </div>
          </div>

          <!-- Adjust-->
          <div class="grid grid-center supply-actions actions-1" #suppAct1>
            <div class="grid-cell text-center">
              <a href="javascript:void(0);" class="button {{asset.className}} supply-adjust"
                 (click)="onSupplyAdjustClick()">Adjust</a>
            </div>
          </div>

          <!-- Confirm -->
          <div class="grid grid-center supply-actions actions-2 hide" #suppAct2>
            <div class="grid-cell text-right">
              <a href="javascript:void(0);" class="cancel adjust-cancel" (click)="onAdjustCancelClick()">Cancel</a>
            </div>
            <div class="grid-cell text-left">
              <a href="javascript:void(0);" class="button modal-trigger" data-modal="modal-supply" (click)="onAssetSupplyConfirmClick()">Confirm</a>
            </div>
          </div>

          <!-- Supply deny (Show if user can't borrow) -->
          <div class="supply-deny {{asset.className}} hide">
            <p class="text-center label message">You have no {{asset.name}} available to supply.</p>
          </div>
        </div>

        <!-- Asset Borrow -->
        <div class="grid-cell borrow" #borrow>
          <!-- Borrow title -->
          <div class="grid grid-center title">
            <div class="grid-cell">
              <h2>Borrow</h2><span class="risk-outer">Risk: <span class="value-risk-total">54%</span></span>
            </div>
            <div class="grid-cell text-right">
              <p class="borrow-apy">7.25% APY</p>
            </div>
          </div>

          <!-- Borrow allow (Show if user can borrow) -->
          <div class="borrow-allow">
            <!-- Borrow slider -->
            <div id="slider-borrow" #sliderBorrow disabled></div>

            <!-- Borrow legend -->
            <div class="grid legend">
              <div class="grid-cell">
                <label class="label borrowed">Borrowed</label>
                <input type="text" title="{{asset.tag}} borrowed" id="input-borrow" class="input-borrow" #inputBorrow disabled value="0">
              </div>
              <div class="grid-cell">
                <label class="label available">Available</label>
                <input type="text" title="{{asset.tag}} available to borrow" #inpBorrAvail id="input-borrow-available" class="input-borrow-available" disabled value="0">
              </div>
            </div>

            <!-- Borrow income legend -->
            <div class="grid legend income">
              <div class="grid-cell">
                <dl class="metadata">
                  <dt>Daily interest</dt>
                  <dd class="value-borrow-interest">+ 0 {{asset.tag}}</dd>
                </dl>
              </div>
              <div class="grid-cell">
                <dl class="metadata">
                  <dt>Daily rewards</dt>
                  <dd class="value-borrow-rewards">+ 0 OMM</dd>
                </dl>
              </div>
            </div>

            <!-- Adjust-->
            <div class="grid grid-center borrow-actions actions-1" #borrAct1>
              <div class="grid-cell text-center">
                <a href="javascript:void(0);" class="button {{asset.className}} purple borrow-adjust"
                   (click)="onBorrowAdjustClick()">Adjust</a>
              </div>
            </div>

            <!-- Confirm -->
            <div class="grid grid-center borrow-actions actions-2 hide" #borrAct2>
              <div class="grid-cell text-right">
                <a href="javascript:void(0);" class="cancel adjust-cancel" (click)="onAdjustCancelClick()">Cancel</a>
              </div>
              <div class="grid-cell text-left">
                <a href="javascript:void(0);" class="button purple modal-trigger" data-modal="modal-borrow" (click)="onAssetBorrowConfirmClick()">Confirm</a>
              </div>
            </div>
          </div>

          <!-- Borrow deny (Show if user can't borrow) -->
          <div class="borrow-deny hide">
            <p class="text-center label message">Supply an asset to borrow {{asset.name}}.</p>
          </div>
        </div>
      </div>
    </div>
  </td>
</tr>
