<!-- Your markets (users asset) or Available to supply state -->
<tr class="asset {{asset.className}} {{getAssetClass()}}" (click)="onAssetClick()" #assetYour [ngStyle]="hideElement(!shouldBeShown())">

  <td>{{asset.name}}<br><span class="label">{{getAssetTagAdjusted()}}</span></td>

  <!-- Your asset state -->
  <ng-container *ngIf="!isAllMarketViewActive() && !isAssetAvailable()">
    <td><span class="value-supplied">{{this.toDollarUSLocaleString(roundOffTo2Decimals(this.persistenceService.getUserAssetReserve(asset.tag)?.currentOTokenBalanceUSD))}}</span><br>
      <span class="value-supplied label">{{this.formatNumberToUSLocaleString(getUserSuppliedAssetBalance())}} {{asset.tag}}</span></td>
    <td class="text-green">{{to2DecimalRoundedOffPercentString(getUserSupplyApy())}}</td> <!-- Supply APY-->
    <td><span class="value-borrowed">{{this.toDollarUSLocaleString(roundOffTo2Decimals(this.persistenceService.getUserAssetReserve(asset.tag)?.currentBorrowBalanceUSD))}}</span><br>
      <span class="value-borrowed label">{{this.formatNumberToUSLocaleString(getUserBorrowedAssetBalance())}} {{getBorrowAssetTagAdjusted()}}</span></td>
    <td class="text-purple">{{to2DecimalRoundedOffPercentString(getUserBorrowApy())}}</td><!-- Borrow APY -->
  </ng-container>

  <!-- Asset available state -->
  <ng-container *ngIf="!isAllMarketViewActive() && isAssetAvailable()">
    <td colspan="2" class="text-right">{{this.toDollarUSLocaleString(roundOffTo2Decimals(getUserSuppliableBalanceUSD()))}}
      <br><span class="label">{{this.formatNumberToUSLocaleString(roundOffTo2Decimals(getUserSuppliableBalance()))}} {{asset.tag}}</span></td>
    <td colspan="2" class="text-right"><span class="text-green">{{to2DecimalRoundedOffPercentString(getUserSupplyApy())}} APY</span></td> <!-- Supply APY -->
  </ng-container>

  <!-- All markets state -->
  <ng-container *ngIf="isAllMarketViewActive()">
    <td><span>{{this.toDollarUSLocaleString(roundOffTo2Decimals(this.persistenceService.getAssetReserveData(asset.tag)?.totalLiquidityUSD))}}</span><br>
      <span class="label">{{this.formatNumberToUSLocaleString(roundOffTo2Decimals(getTotalLiquidity()))}} {{asset.tag}}</span></td>
    <td class="text-green">{{to2DecimalRoundedOffPercentString(getMarketSupplyRate())}}</td> <!-- Supply APY -->
    <td>{{this.toDollarUSLocaleString(roundOffTo2Decimals(this.persistenceService.getAssetReserveData(asset.tag)?.totalBorrowsUSD))}}<br>
      <span class="label">{{this.formatNumberToUSLocaleString(roundOffTo2Decimals(getTotalAssetBorrows()))}} {{getBorrowAssetTagAdjusted()}}</span></td>
    <td class="text-purple">{{to2DecimalRoundedOffPercentString(getMarketBorrowRate())}}</td> <!-- Borrow APY -->
  </ng-container>

</tr>

<!-- Asset Expanded -->
<tr class="expanded">
  <td colspan="5">
    <div class="market-expanded" #marketExpandedEl>
      <div class="grid">
        <!-- Asset Supply -->
        <div class="grid-cell supply border-right" #supply>
          <!-- Supply title -->
          <div class="grid grid-center title">
            <div class="grid-cell">
              <h2>Supply</h2>
            </div>
            <div class="grid-cell text-right">
              <p class="supply-apy">{{to2DecimalRoundedOffPercentString(this.persistenceService.getUserAssetReserve(asset.tag)?.liquidityRate)}} APY</p>
            </div>
          </div>

          <!-- If logged out show sign in button -->
          <div class="grid grid-center sign-in-message" [ngStyle]="hideElement(userLoggedIn())">
            <div class="grid-cell" [ngStyle]="hideElement(userLoggedIn())">
              <p class="text-center"><a href="javascript:void(0);" class="button" (click)="onSignInClick()">Sign in to supply</a></p>
            </div>
          </div>

          <!-- Supply allow (Show if user can supply) -->
          <div class="supply-allow" #supplyAllow [ngStyle]="hideElement(userAssetBalanceIsZero() && userAssetSuppliedBalanceIsZero() || !userLoggedIn())">
            <!-- Supply slider -->
            <div id="slider-supply" #sliderSupply disabled></div>

            <!-- Supply inputs -->
            <div class="grid legend">
              <div class="grid-cell">
                <label class="label supplied">Supplied</label>
                <input type="text" title="{{asset.tag}} supplied" id="input-supply" #inputSupply class="input-supply"
                       disabled="" value="0" (keyup)="onInputSupplyLostFocus()">
              </div>
              <div class="grid-cell">
                <label class="label available">Available</label>
                <input type="text" title="{{asset.tag}} available to supply" #inpSuppAvail id="input-supply-available"
                       class="input-supply-available" disabled value="0">
                <p *ngIf="shouldShowUnstaking()" class="label">{{formatNumberToUSLocaleString(roundDownTo2Decimals(persistenceService.userUnstakingInfo?.totalAmount))}} ICX unstaking</p>
              </div>
            </div>

            <!-- Supply income -->
            <div class="grid legend income">
              <div class="grid-cell">
                <dl class="metadata">
                  <dt>Daily interest</dt>
                  <dd class="value-supply-interest" #suppInterest>+ 0 </dd>
                </dl>
              </div>
              <div class="grid-cell">
                <dl class="metadata">
                  <dt>Daily rewards</dt>
                  <dd class="value-supply-rewards" #suppRewards>+ ?? OMM</dd>
                </dl>
              </div>
            </div>

            <!-- Adjust-->
            <div class="grid grid-center supply-actions actions-1" #suppAct1>
              <div class="grid-cell text-center">
                <a href="javascript:void(0);" class="button {{asset.className}} supply-adjust"
                   (click)="onSupplyAdjustClick()">{{userAssetSuppliedBalanceIsZero() ? "Supply" : "Adjust"}}</a>
              </div>
            </div>
          </div>

          <!-- Confirm -->
          <div class="grid grid-center supply-actions actions-2 hide" #suppAct2>
            <div class="grid-cell text-right">
              <a href="javascript:void(0);" class="cancel adjust-cancel" (click)="onAdjustCancelClick()">Cancel</a>
            </div>
            <div class="grid-cell text-left">
              <a href="javascript:void(0);" class="button modal-trigger" data-modal="modal-supply" (click)="onAssetSupplyConfirmClick()">Confirm</a>
            </div>
          </div>

          <!-- Risk warning -->
          <div class="grid grid-center supply-risk-warning hide">
            <div class="grid-cell">
              <p class="label text-red text-center">Your risk is too high.</p>
            </div>
          </div>

          <!-- Supply deny (Show if user can't borrow) -->
          <div class="supply-deny {{asset.className}} hide" [ngStyle]="displayAsBlockOrHide(userAssetBalanceIsZero() && userAssetSuppliedBalanceIsZero() && userLoggedIn())">
            <p class="text-center label message">You have no {{asset.name}} available to supply.</p>
          </div>
        </div>

        <!-- Asset Borrow -->
        <div class="grid-cell borrow" #borrow>
          <!-- Borrow title -->
          <div class="grid grid-center title">
            <div class="grid-cell">
              <h2>Borrow</h2><span class="risk-outer" [ngStyle]="hideElement(this.persistenceService.userHasNotSuppliedAnyAsset())">Risk: <span class="value-risk-total">- %</span></span>
              <span class="tooltip expanded-risk-tooltip" style="padding-left: 5px" [ngStyle]="hideElement(this.persistenceService.userHasNotSuppliedAnyAsset())">
                <span class="tooltip-item"><img src="assets/img/icon/question.svg" class="tooltip-icon"></span>
                <div class="tooltip-content"><p>While you borrow assets, your supply is at risk of liquidation. Keep it below 50% to reduce the impact of volatile markets.</p></div>
              </span>
            </div>
            <div class="grid-cell text-right">
              <p class="borrow-apy">{{to2DecimalRoundedOffPercentString(this.persistenceService.getUserAssetReserve(asset.tag)?.borrowRate)}} APY</p>
            </div>
          </div>

          <!-- Borrow allow (Show if user can borrow) -->
          <div class="borrow-allow" [ngStyle]="hideElement(this.persistenceService.userHasNotSuppliedAnyAsset())">

            <!-- Used indicator -->
            <div class="used-container" *ngIf="isAssetBorrowUsed()">
              <div class="used active" [ngStyle]="{left: assetRepayUsedPercentage() + '%'}"><p class="label">Used</p></div>
            </div>

            <!-- Borrow slider -->
            <div id="slider-borrow" #sliderBorrow disabled></div>

            <!-- Borrow legend -->
            <div class="grid legend">
              <div class="grid-cell">
                <label class="label borrowed">Borrowed</label>
                <input type="text" title="{{asset.tag}} borrowed" id="input-borrow" class="input-borrow" #inputBorrow disabled value="0" (keyup)="onInputBorrowLostFocus()">
              </div>
              <div class="grid-cell">
                <label class="label available">Available</label>
                <input type="text" title="{{asset.tag}} available to borrow" #inpBorrAvail id="input-borrow-available" class="input-borrow-available" disabled value="0">
              </div>
            </div>

            <!-- Borrow income legend -->
            <div class="grid legend income">
              <div class="grid-cell">
                <dl class="metadata">
                  <dt>Daily interest</dt>
                  <dd class="value-borrow-interest" #borrInterest>+ {{roundOffTo2Decimals(getDailyBorrowInterest())}} {{asset.tag}}</dd>
                </dl>
              </div>
              <div class="grid-cell">
                <dl class="metadata" [ngStyle]="hideElement(getInputBorrowValue() === 0)">
                  <dt>Daily rewards</dt>
                  <dd class="value-borrow-rewards" #borrRewards>+ ?? OMM</dd>
                </dl>
              </div>
            </div>

            <!-- Adjust-->
            <div class="grid grid-center borrow-actions actions-1" #borrAct1>
              <div class="grid-cell text-center">
                <a href="javascript:void(0);" class="button {{asset.className}} purple borrow-adjust"
                   [ngStyle]="hideElement(this.persistenceService.userHasNotSuppliedAnyAsset())"
                   (click)="onBorrowAdjustClick()">{{userAssetBorrowedBalanceIsZero() ? "Borrow" : "Adjust"}}</a>
              </div>
            </div>

            <!-- Confirm -->
            <div class="grid grid-center borrow-actions actions-2 hide" #borrAct2>
              <div class="grid-cell text-right">
                <a href="javascript:void(0);" class="cancel adjust-cancel" (click)="onAdjustCancelClick()">Cancel</a>
              </div>
              <div class="grid-cell text-left">
                <a href="javascript:void(0);" class="button purple modal-trigger" data-modal="modal-borrow" (click)="onAssetBorrowConfirmClick()">Confirm</a>
              </div>
            </div>
          </div>

          <!-- Risk warning -->
          <div class="grid grid-center borrow-risk-warning {{asset.className}} hide">
            <div class="grid-cell">
              <p class="label text-red text-center">Reduce your risk to borrow {{asset.name}}.</p>
            </div>
          </div>

          <!-- Borrow deny (Show if user can't borrow) -->
          <div class="borrow-deny hide" [ngStyle]="displayAsBlockOrHide(this.persistenceService.userHasNotSuppliedAnyAsset())">
            <p class="text-center label message">Supply an asset to borrow {{asset.name}}.</p>
          </div>
        </div>
      </div>

      <div class="notice" *ngIf="isAssetIcx()">
        <p class="label">When you borrow or withdraw, you'll receive staked ICX (sICX). You can swap sICX for ICX on <a href="https://app.balanced.network/trade" target="_blank">Balanced</a>.</p>
      </div>
    </div>
  </td>
</tr>
