<main>
  <!-- Overview -->
  <section class="overview">
    <div class="grid">
      <div class="grid-cell">
        <h2>Overview</h2>
        <ul class="toggle" [ngStyle]="hideElement(!userLoggedIn())">
          <li id="toggle-your-liquidity" class="{{!isAllLiquidityOverviewActive() ? 'active': ''}}" (click)="onYourLiquidityClick()">Your rewards</li>
          <li id="toggle-all-liquidity" class="{{isAllLiquidityOverviewActive() ? 'active': ''}}" (click)="onAllLiquidityClick()">All rewards</li>
        </ul>
      </div>
    </div>

    <!-- Your liquidity -->
    <div id="your-liquidity" class="grid panel" [ngStyle]="hideElement(isAllLiquidityOverviewActive() || !userLoggedIn())">

      <ng-container *ngIf="rewardsTimeStampsActivated() && !rewardsAccrueStartDateHasPassed() && false">
        <!-- If the timestamp of omm rewards accrue is not yet passed -->
        <div class="grid-cell text-center">
          <dt>Omm rewards will start accruing in 24 hours.</dt>
        </div>
      </ng-container>

      <ng-container *ngIf="!rewardsTimeStampsActivated() || rewardsAccrueStartDateHasPassed() || true">

        <ng-container *ngIf="rewardsTimeStampsActivated() && !rewardsClaimStartDateHasPassed()">
          <div class="grid-cell text-center border-right">
            <dl class="metadata">
              <dt>Claimable in {{getTimeUntilClaimStart()}}
              </dt>
              <dd>{{getUserOmmRewardsBalance() | roundOff2Dec | usFormat}} <span class="label">{{getUserOmmRewardsBalance().isGreaterThan(ZERO) ? "OMM" :  ""}}</span></dd>
            </dl>
          </div>
        </ng-container>

        <ng-container *ngIf="!rewardsTimeStampsActivated() || rewardsClaimStartDateHasPassed()">
          <!-- Claim rewards -->
          <div class="grid-cell text-center border-right" [ngStyle]="hideElement(shouldHideClaimBtn())">
            <p class="label">{{getUserOmmRewardsBalance() | roundDown2Dec | usFormat}} Omm Tokens</p>
            <a href="javascript:void(0);" class="button modal-trigger" style="margin-top: 5px;" data-modal="modal-claim-rewards"
               (click)="onClaimOmmRewardsClick()" >Claim rewards</a>
          </div>
        </ng-container>

        <!-- Market rewards -->
        <div class="grid-cell text-center">
          <dl class="metadata">
            <dt>Markets
              <span class="tooltip expanded-risk-tooltip">
              <span class="tooltip-item"><img src="assets/img/icon/question.svg" class="tooltip-icon"></span>
              <div class="tooltip-content"><p>The amount you've earned by supplying or borrowing assets since you last claimed.</p></div>
            </span>
            </dt>
            <dd>{{getMarketRewards() | roundOff2Dec | usFormat}} <span class="label">{{getMarketRewards().isGreaterThan(ZERO) ? "OMM" :  ""}}</span></dd>
          </dl>
        </div>

        <!-- Staking rewards -->
        <div class="grid-cell text-center">
          <dl class="metadata">
            <dt>Staking
              <span class="tooltip expanded-risk-tooltip">
              <span class="tooltip-item"><img src="assets/img/icon/question.svg" class="tooltip-icon"></span>
              <div class="tooltip-content"><p>The amount you've earned by staking OMM since you last claimed.</p></div>
            </span>
            </dt>
            <dd>{{getStakingRewards() | roundOff2Dec | usFormat}} <span class="label">{{getStakingRewards().isGreaterThan(ZERO) ? "OMM" :  ""}}</span></dd>
          </dl>
        </div>

        <!-- Liquidity rewards -->
        <div class="grid-cell text-center">
          <dl class="metadata">
            <dt>Liquidity
              <span class="tooltip expanded-risk-tooltip">
              <span class="tooltip-item"><img src="assets/img/icon/question.svg" class="tooltip-icon"></span>
              <div class="tooltip-content"><p>The amount you've earned by staking LP tokens since you last claimed.</p></div>
            </span>
            </dt>
            <dd>{{getLiquidityRewards() | roundOff2Dec | usFormat}} <span class="label">{{getLiquidityRewards().isGreaterThan(ZERO) ? "OMM" :  ""}}</span></dd>
          </dl>
        </div>
      </ng-container>
    </div>

    <!-- All liquidity -->
    <div id="all-liquidity" class="grid panel" [ngStyle]="hideElement(!isAllLiquidityOverviewActive())">
      <div class="grid-cell text-center border-right">
        <dl class="metadata">
          <dt>Total daily rewards</dt>
          <dd>{{getTotalDailyRewards() | roundOff2Dec | usFormat}} <span class="label">{{getTotalDailyRewards().isGreaterThan(ZERO) ? "OMM":""}}</span></dd>
        </dl>
      </div>
      <div class="grid-cell text-center">
        <dl class="metadata">
          <dt>Markets
            <span class="tooltip expanded-risk-tooltip">
              <span class="tooltip-item"><img src="assets/img/icon/question.svg" class="tooltip-icon"></span>
              <div class="tooltip-content"><p>Supply or borrow from a market to earn these rewards.</p></div>
            </span>
          </dt>
          <dd>{{getDailyMarketRewards() | roundOff2Dec | usFormat}} <span class="label">{{getDailyMarketRewards().isGreaterThan(ZERO) ? "OMM":""}}</span></dd>
        </dl>
      </div>
      <div class="grid-cell text-center">
        <dl class="metadata">
          <dt>Staking
            <span class="tooltip expanded-risk-tooltip">
            <span class="tooltip-item"><img src="assets/img/icon/question.svg" class="tooltip-icon"></span>
            <div class="tooltip-content"><p>Stake Omm Tokens to earn these rewards.</p></div>
          </span>
          </dt>
          <dd>{{getDailyStakingRewards() | roundOff2Dec | usFormat}} <span class="label">{{getDailyStakingRewards().isGreaterThan(ZERO) ? "OMM":""}}</span></dd>
        </dl>
      </div>
      <div class="grid-cell text-center">
        <dl class="metadata">
          <dt>Liquidity
            <span class="tooltip expanded-risk-tooltip">
              <span class="tooltip-item"><img src="assets/img/icon/question.svg" class="tooltip-icon"></span>
              <div class="tooltip-content"><p>Supply OMM liquidity on Balanced, then stake your LP tokens here to earn rewards.</p></div>
            </span>
          </dt>
          <dd>{{getDailyLiquidityRewards() | roundOff2Dec | usFormat}} <span class="label">{{getDailyLiquidityRewards().isGreaterThan(ZERO) ? "OMM":""}}</span></dd>
        </dl>
      </div>
    </div>
  </section>

  <section id="staking-overview">
    <h2>Staking</h2>
    <!-- Container -->
    <div class="grid panel">
      <!-- Omm stake -->
      <div id="omm-stake" class="grid-cell">
        <!-- Title -->
        <h3>Omm stake</h3>

        <!-- Stake slider -->
        <div id="slider-omm-stake" disabled class="" #stkSlider [ngStyle]="hideElement(!userLoggedIn() || !userHasOmmTokens())"></div>

        <!-- Message (If no OMM in wallet) -->
        <p class="label text-center" id="message-stake-no-omm" [ngStyle]="hideElement(!userLoggedIn() || userHasOmmTokens())">Earn or buy Omm Tokens,<br>then stake them here to earn more OMM.</p>

        <!-- Message (If not signed in) -->
        <div id="message-stake-logged-out" class="grid" [ngStyle]="hideElement(userLoggedIn())">
          <div class="grid-cell">
            <p>Sign in to stake Omm Tokens.</p>
            <a href="javascript:void(0);" class="button" (click)="onSignInClick()">Sign in</a>
          </div>
        </div>

        <!-- Stake actions -->
        <div class="grid" [ngStyle]="hideElement(!userLoggedIn() || !userHasOmmTokens())">
          <div class="grid-cell text-center">
            <!-- Actions to show by default -->
            <div *ngIf="!userHasStaked()" class="grid grid-center stake-omm-actions-default actions-default">
              <div class="grid-cell text-center">
                <a href="javascript:void(0);" class="button" id="stake-adjust-omm" (click)="onStakeAdjustClick()">Stake Omm Tokens</a>
              </div>
            </div>

            <!-- Actions to show if already staked -->
            <div *ngIf="userHasStaked() && !isMaxStaked() && !stakeAdjustActive" class="grid grid-center stake-omm-actions-default actions-default">
              <div class="grid-cell text-center">
                <a href="javascript:void(0);" (click)="onStakeAdjustClick()" class="button">Adjust stake</a>
              </div>
            </div>

            <!-- Actions to show if max staked -->
            <div *ngIf="userHasStaked() && isMaxStaked() && !stakeAdjustActive" class="grid grid-center actions-default">
              <div class="grid-cell text-center">
                <a href="javascript:void(0);" class="button" (click)="onStakeAdjustClick()">Unstake Omm Tokens</a>
              </div>
            </div>

            <!-- Actions to show when adjust class is active -->
            <div class="grid grid-center stake-omm-actions-adjust hide">
              <div class="grid-cell text-right">
                <a id="stake-omm-actions-adjust-cancel" href="javascript:void(0);" (click)="onStakeAdjustCancelClick()" class="cancel">Cancel</a>
              </div>
              <div class="grid-cell text-left">
                <a href="javascript:void(0);" (click)="onConfirmStakeClick()" class="button">Confirm</a>
              </div>
            </div>
          </div>

          <!-- Stake -->
          <div class="grid-cell text-center">
            <dl class="metadata">
              <dt>Your stake</dt>
              <dd><span class="value-omm-stake-amount" #ommStk>{{userOmmTokenBalanceDetails?.stakedBalance | usFormat
                }}</span> / {{getYourStakeMax() | usFormat}} OMM</dd>
            </dl>

            <!-- Message (If unstaking) -->
            <p *ngIf="isUnstaking()" class="label" style="margin-top: 5px;">{{this.persistenceService.getUserUnstakingOmmBalance() | usFormat}} OMM unstaking</p>
          </div>
        </div>
      </div>

      <!-- Staking metadata -->
      <div id="staking-apy" class="grid-cell">
        <div id="staking-apy-data" class="grid-cell border-bottom text-center">
          <dl class="metadata">
            <dt>{{userLoggedIn() ? "Your daily rewards" : "Daily rewards"}}</dt>
            <dd class="omm-stake-rewards" #stkDailyRew>{{this.getDailyOmmRewards() | roundOff2Dec | usFormat}} {{this.getDailyOmmRewards().isGreaterThan(ZERO) ? "OMM":""}}</dd>
          </dl>
        </div>
        <div class="grid">
          <div class="grid-cell">
            <dl class="metadata text-center">
              <dt>Staking APY</dt>
              <dd class="text-green">{{to2DecimalRoundedOffPercentString(getStakingApy())}}</dd>
            </dl>
          </div>
          <div class="grid-cell">
            <dl class="metadata text-center">
              <dt>Total staked</dt>
              <dd>{{getTotalStaked() | roundOff2Dec | usFormat}} {{getTotalStaked().isGreaterThan(ZERO) ? "OMM":""}}</dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Liquidity pools -->
  <section class="overview" [ngStyle]="hideElement(getAllPoolsData().length === 0)">
    <div class="grid">
      <div class="grid-cell">
        <h2>Liquidity pools</h2>
        <ul class="toggle" [ngStyle]="hideElement(!userLoggedIn())">
          <li id="toggle-your-pools" #toggYourPools class="{{!isAllPoolsActive() ? 'active': ''}}" (click)="onYourPoolsClick()">Your pools</li>
          <li id="toggle-all-pools" #toggAllPools class="{{isAllPoolsActive() ? 'active': ''}}" (click)="onAllPoolsClick()">All pools</li>
        </ul>
      </div>
    </div>

    <!-- If no pools or no LP tokens-->
    <div *ngIf="userLoggedIn() && !userHasStakedToAnyPool() && !isAllPoolsActive()" class="grid" style="max-width: 500px; margin: 50px auto;">
      <div class="grid-cell">
        <p>Supply liquidity on <a href="{{isProduction() ? 'https://app.balanced.network/trade' :'https://omm.balanced.network/trade'}}" target="_blank">Balanced</a>, then stake your LP tokens here to earn OMM. Includes the risk of impermanent loss, so it’s best for advanced users. <a
          href="https://docs.omm.finance/user-guide/liquidity" target="_blank">Learn more.</a></p>
      </div>
    </div>

    <table id="your-pools" class="list liquidity" [ngClass]="isAllPoolsActive() || !userLoggedIn() || !userHasStakedToAnyPool() ? 'hide':''">
      <thead>
      <tr>
        <th>Pool</th>
        <th>You've supplied</th>
        <th>LP tokens</th>
        <th>Daily rewards</th>
        <th>Liquidity APY</th>
      </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let poolData of getUserStakedPoolsData(); last as isLast;">
          <ng-container *ngIf="userHasStakedToPool(poolData)">
            <tr class="pool {{poolData.getPairClassName()}}" (click)="onPoolClick(poolData)">
              <td class="text-dark">{{poolData.getPrettyName()}}</td>
              <td><span class="text-dark">{{getUserSuppliedBase(poolData) | roundOff2Dec | usFormat}} OMM</span><br>
                <span class="label">{{getUserSuppliedQuote(poolData) | roundOff2Dec | usFormat}} {{poolData.getQuoteAssetName()}}</span></td>
              <td><span class="text-dark">{{poolData.userStakedBalance | roundDown2Dec | usFormat}}</span><br>
                <span class="label">{{poolData.userAvailableBalance | roundDown2Dec | usFormat}} available</span></td>
              <td><span class="text-dark">{{getUserDailyRewards(poolData) | roundOff2Dec | usFormat}} OMM</span><br>
                <span class="label">{{toDollarUSLocaleString(getUserDailyRewardsUSD(poolData) | roundOff2Dec)}}</span></td>
              <td class="text-green">{{to2DecimalRoundedOffPercentString(getLiquidityApy(poolData))}}</td>
            </tr>

            <!-- Pool expanded -->
            <tr class="expanded">
              <td colspan="5">
                <div class="pool-expanded pool-{{poolData.getPairClassName()}}-expanded hide" #poolExpandedEl>
                  <div class="grid border-top">
                    <div class="grid-cell text-center content">
                      <h2>Stake LP tokens</h2>
                      <p>Supply liquidity on <a href="{{isProduction() ? 'https://app.balanced.network/trade' :'https://omm.balanced.network/trade'}}" target="_blank"
                      >Balanced</a>, then<br>stake your LP tokens here to earn OMM.</p>
                      <div class="slider-stake" disabled></div>

                      <app-pool-stake-slider *ngIf="userLoggedIn() && userHasLpTokenAvailableOrHasStaked(poolData.poolId)" [poolIdSet]="poolData.poolId"></app-pool-stake-slider>

                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </ng-container>

          <!-- Spacer -->
          <tr *ngIf="!isLast || getUserPoolsAvailableData().length > 0" class="spacer"></tr>
        </ng-container>

        <!-- User available Assets (hide if user market view is not active) -->
        <ng-container *ngIf="getUserPoolsAvailableData().length > 0">

          <!-- Available to supply -->
          <tr class="available-to-supply">
            <td colspan="5">
              <div class="grid">
                <div class="grid-cell">
                  <p class="separator-full text-center"><span>Available to stake</span></p>
                </div>
              </div>
            </td>
          </tr>

          <ng-container *ngFor="let poolData of getUserPoolsAvailableData(); last as isLast;">
            <ng-container *ngIf="userHasAvailableStakeToPool(poolData)">
              <tr class="pool {{poolData.getPairClassName()}}" (click)="onPoolClick(poolData)">
                <td class="text-dark">{{poolData.getPrettyName()}}</td>
                <td colspan="2"><span class="text-dark">{{poolData.userAvailableBalance | roundDown2Dec | usFormat}} LP tokens</span></td>
                <td colspan="2" class="text-green">{{to2DecimalRoundedOffPercentString(getLiquidityApy(poolData))}}</td>
              </tr>

              <!-- Pool expanded -->
              <tr class="expanded">
                <td colspan="5">
                  <div class="pool-expanded pool-{{poolData.getPairClassName()}}-expanded hide">
                    <div class="grid border-top">
                      <div class="grid-cell text-center content">
                        <h2>Stake LP tokens</h2>
                        <p>Supply liquidity on <a href="{{isProduction() ? 'https://app.balanced.network/trade' :'https://omm.balanced.network/trade'}}" target="_blank"
                        >Balanced</a>, then<br>stake your LP tokens here to earn OMM.</p>
                        <div class="slider-stake" disabled></div>

                        <app-pool-stake-slider *ngIf="userLoggedIn() && userHasLpTokenAvailableOrHasStaked(poolData.poolId)" [poolIdSet]="poolData.poolId"></app-pool-stake-slider>

                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-container>

            <!-- Spacer -->
            <tr *ngIf="!isLast" class="spacer"></tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>

    <!-- All pools -->
    <table id="all-pools" class="list liquidity" [ngClass]="!isAllPoolsActive() ? 'hide':''">
      <thead>
      <tr>
        <th>Pool</th>
        <th>Total supplied</th>
        <th>Total LP tokens</th>
        <th>Daily rewards</th>
        <th>Liquidity APY</th>
      </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let poolData of getAllPoolsData(); last as isLast;">
          <tr class="pool {{poolData.getPairClassName()}}" #allPool (click)="onPoolClick(poolData)">
            <td class="text-dark">{{poolData.getPrettyName()}}</td>
            <td><span class="text-dark">{{getTotalSuppliedBase(poolData) | roundOff2Dec | usFormat}} OMM</span><br>
              <span class="label">{{getTotalSuppliedQuote(poolData) | roundOff2Dec | usFormat}} {{poolData.getQuoteAssetName()}}</span></td>
            <td><span class="text-dark">{{poolData.totalStakedBalance | roundOff2Dec | usFormat}}</span></td>
            <td><span class="text-dark">{{getDailyRewards(poolData) | roundOff2Dec | usFormat}} OMM</span><br>
              <span class="label">{{toDollarUSLocaleString(getDailyRewardsUSD(poolData) | roundOff2Dec)}}</span></td>
            <td class="text-green">{{to2DecimalRoundedOffPercentString(getLiquidityApy(poolData))}}</td>
          </tr>

          <tr class="expanded">
            <td colspan="5">
              <div class="pool-expanded pool-{{poolData.getPairClassName()}}-expanded hide">
                <div class="grid border-top">
                  <div class="grid-cell text-center content">
                    <h2>Stake LP tokens</h2>
                    <p>Supply liquidity on <a href="{{isProduction() ? 'https://app.balanced.network/trade' :'https://omm.balanced.network/trade'}}"
                                              target="_blank">Balanced</a>, then<br>stake your LP tokens here to earn OMM.</p>

                    <app-pool-stake-slider #stakeSlider *ngIf="userLoggedIn() && userHasLpTokenAvailableOrHasStaked(poolData.poolId)" [poolIdSet]="poolData.poolId"> </app-pool-stake-slider>
                  </div>
                </div>
              </div>
            </td>
          </tr>

          <!-- Spacer -->
          <tr *ngIf="!isLast" class="spacer"></tr>
        </ng-container>
      </tbody>
    </table>
  </section>
</main>
