<main>
  <!-- Overview -->
  <section class="overview">
    <div class="grid">
      <div class="grid-cell">
        <h2>Overview</h2>
        <ul class="toggle" [ngStyle]="hideElement(!userLoggedIn())">
          <li id="toggle-your-liquidity" class="{{!isAllLiquidityOverviewActive() ? 'active': ''}}" (click)="onYourLiquidityClick()">Your rewards</li>
          <li id="toggle-all-liquidity" class="{{isAllLiquidityOverviewActive() ? 'active': ''}}" (click)="onAllLiquidityClick()">All rewards</li>
        </ul>
      </div>
    </div>

    <!-- Your liquidity -->
    <div id="your-liquidity" class="grid panel" [ngStyle]="hideElement(isAllLiquidityOverviewActive() || !userLoggedIn())">
        <!-- Claim rewards -->
        <div class="grid-cell text-center border-right" [ngStyle]="hideElement(shouldHideClaimBtn())">
          <p class="label">{{getUserOmmRewardsBalance() | roundDown2Dec | usFormat}} Omm Tokens</p>
          <a href="javascript:void(0);" class="button modal-trigger" style="margin-top: 5px;" data-modal="modal-claim-rewards"
             (click)="onClaimOmmRewardsClick()" >Claim rewards</a>
        </div>

        <!-- No rewards to claim -->
        <div class="grid-cell text-center border-right" [ngStyle]="hideElement(!shouldHideClaimBtn())">
          <p style="margin-top: 25px;" class="label">No rewards to claim</p>
        </div>

        <!-- Market rewards -->
        <div class="grid-cell text-center">
          <dl class="metadata">
            <dt>Markets
              <span class="tooltip expanded-risk-tooltip">
              <span class="tooltip-item"><img src="assets/img/icon/question.svg" class="tooltip-icon"></span>
              <div class="tooltip-content"><p>The amount you've earned by supplying or borrowing assets since you last claimed.</p></div>
            </span>
            </dt>
            <dd [ngStyle]="{opacity: getUserMarketRewards().gt(ZERO) ? null : 0.5}">{{getUserMarketRewards() | roundOff2Dec | usFormat}} <span class="label">{{getUserMarketRewards().gt(ZERO) ? "OMM" :  ""}}</span></dd>
          </dl>
        </div>

        <!-- Staking rewards -->
        <div class="grid-cell text-center">
          <dl class="metadata">
            <dt>Boosted OMM
              <span class="tooltip expanded-risk-tooltip">
              <span class="tooltip-item"><img src="assets/img/icon/question.svg" class="tooltip-icon"></span>
              <div class="tooltip-content"><p>The amount you've earned from your locked OMM since you last claimed.</p></div>
            </span>
            </dt>
            <dd [ngStyle]="{opacity: getUserLockingRewards().gt(ZERO) ? null : 0.5}">{{getUserLockingRewards() | roundOff2Dec | usFormat}} <span class="label">{{getUserLockingRewards().isGreaterThan(ZERO) ? "OMM" :  ""}}</span></dd>
          </dl>
        </div>

        <!-- Liquidity rewards -->
        <div class="grid-cell text-center">
          <dl class="metadata">
            <dt>Liquidity
              <span class="tooltip expanded-risk-tooltip">
              <span class="tooltip-item"><img src="assets/img/icon/question.svg" class="tooltip-icon"></span>
              <div class="tooltip-content"><p>The amount you've earned by staking LP tokens since you last claimed.</p></div>
            </span>
            </dt>
            <dd [ngStyle]="{opacity: getUserLiquidityRewards().gt(ZERO) ? null : 0.5}">{{getUserLiquidityRewards() | roundOff2Dec | usFormat}} <span class="label">{{getUserLiquidityRewards().isGreaterThan(ZERO) ? "OMM" :  ""}}</span></dd>
          </dl>
        </div>
    </div>

    <!-- All liquidity -->
    <div id="all-liquidity" class="grid panel" [ngStyle]="hideElement(!isAllLiquidityOverviewActive())">
      <div class="grid-cell text-center border-right">
        <dl class="metadata">
          <dt>Total daily rewards</dt>
          <dd>{{getTotalDailyRewards() | roundOff2Dec | usFormat}} <span class="label">{{getTotalDailyRewards().isGreaterThan(ZERO) ? "OMM":""}}</span></dd>
        </dl>
      </div>
      <div class="grid-cell text-center">
        <dl class="metadata">
          <dt>Markets
            <span class="tooltip expanded-risk-tooltip">
              <span class="tooltip-item"><img src="assets/img/icon/question.svg" class="tooltip-icon"></span>
              <div class="tooltip-content"><p>Supply or borrow from a market to earn these rewards.</p></div>
            </span>
          </dt>
          <dd>{{getDailyMarketRewards() | roundOff2Dec | usFormat}} <span class="label">{{getDailyMarketRewards().isGreaterThan(ZERO) ? "OMM":""}}</span></dd>
        </dl>
      </div>
      <div class="grid-cell text-center">
        <dl class="metadata">
          <dt>Boosted OMM
            <span class="tooltip expanded-risk-tooltip">
            <span class="tooltip-item"><img src="assets/img/icon/question.svg" class="tooltip-icon"></span>
            <div class="tooltip-content"><p>Lock up OMM to earn these rewards.</p></div>
          </span>
          </dt>
          <dd>{{getDailyOmmLockingRewards() | roundOff2Dec | usFormat}} <span class="label">{{getDailyOmmLockingRewards().isGreaterThan(ZERO) ? "OMM":""}}</span></dd>
        </dl>
      </div>
      <div class="grid-cell text-center">
        <dl class="metadata">
          <dt>Liquidity
            <span class="tooltip expanded-risk-tooltip">
              <span class="tooltip-item"><img src="assets/img/icon/question.svg" class="tooltip-icon"></span>
              <div class="tooltip-content"><p>Supply OMM liquidity on Balanced, then stake your LP tokens here to earn rewards.</p></div>
            </span>
          </dt>
          <dd>{{getDailyLiquidityRewards() | roundOff2Dec | usFormat}} <span class="label">{{getDailyLiquidityRewards().isGreaterThan(ZERO) ? "OMM":""}}</span></dd>
        </dl>
      </div>
    </div>
  </section>

  <!-- Boosted Omm -->
  <section class="boosted-omm">
    <div class="grid">
      <div class="grid-cell">
        <h2>Boosted OMM</h2>
      </div>

      <div class="grid-cell">

      </div>
    </div>

    <!-- Boosted OMM panel -->
    <div class="grid panel">
      <div class="grid-cell">
        <app-omm-locking style="display: contents"
                         [type]="getOmmLckCmpType()"
                         (lockAdjustClicked)="onLockAdjustClick()"
                         (lockUntilDateClicked)="onLockUntilDateClick($event)"
                         (sliderValueUpdate)="handleLockSliderValueUpdate($event)"
                         (lockAdjustCancelClicked)="handleLockAdjustCancelClicked()"
        ></app-omm-locking>

        <div class="grid">
          <div class="grid-cell boost-increase border-top">
            <div class="grid">
              <div class="grid-cell border-right">
                <dl class="metadata">
                  <dt>Daily rewards</dt>
                  <dd>
                    <!-- User Daily Rewards APR -->
                    <ng-container *ngIf="userLoggedIn() && !userHasOmmUnlocked() && userHasLockedOmm() || lockAdjustActive">
                      <ng-container *ngIf="showBoostedOmmDailyRewardsOmmAmount()">
                        <span #lockDailyRew>{{userDailyLockingOmmRewards | roundOff2Dec | usFormat}} OMM&nbsp;</span>
                        <span class="label">(<span class=" text-green" #lockApr>{{getUserLockingApr() | roundOff2DecPercent}} APR</span>)</span>
                      </ng-container>
                      <ng-container *ngIf="!showBoostedOmmDailyRewardsOmmAmount()">
                        <span class=" text-green">{{getUserLockingApr() | roundOff2DecPercent}} APR</span>
                      </ng-container>
                    </ng-container>

                    <!-- General Daily Rewards APR -->
                    <ng-container *ngIf="!userLoggedIn() || (!userHasLockedOmm() && !lockAdjustActive) || userHasOmmUnlocked()">
                      <span class=" text-green">{{lockingApr()}}</span>
                    </ng-container>
                  </dd>
                </dl>
              </div>
              <div class="grid-cell border-right">
                <dl class="metadata">
                  <dt>Market rewards</dt>
                  <ng-container *ngIf="!fromToIsEmpty(marketBoosterData)">
                    <dd>
                      <span class="value-liquidity-apy-4" #mrktBoosterFrom>{{marketBoosterData?.from | roundOff2Dec | usFormat}} x</span>
                      <span *ngIf="!marketMultipliersAreEqual()" class="label"> – </span>
                      <span *ngIf="!marketMultipliersAreEqual()" class="value-liquidity-apy-2" #mrktBoosterTo>{{marketBoosterData?.to | roundOff2Dec | usFormat}} x</span>
                    </dd>
                  </ng-container>
                  <ng-container *ngIf="fromToIsEmpty(marketBoosterData)">
                    <dd>–</dd>
                  </ng-container>
                </dl>
              </div>
              <div class="grid-cell">
                <dl class="metadata">
                  <dt>Liquidity rewards</dt>
                  <ng-container *ngIf="!fromToIsEmpty(liquidityBoosterData)">
                    <dd>
                      <span class="value-liquidity-apy-4" #liqBoosterFrom>{{liquidityBoosterData?.from | roundOff2Dec | usFormat}} x</span>
                      <span *ngIf="!liquidityMultipliersAreEqual()" class="label"> – </span>
                      <span *ngIf="!liquidityMultipliersAreEqual()" class="value-liquidity-apy-2"  #liqBoosterTo>{{liquidityBoosterData?.to | roundOff2Dec | usFormat}} x</span>
                    </dd>
                  </ng-container>
                  <ng-container *ngIf="fromToIsEmpty(liquidityBoosterData)">
                    <dd>–</dd>
                  </ng-container>
                </dl>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- Liquidity pools -->
  <section class="overview" [ngStyle]="hideElement(getAllPoolsData().length === 0)">
    <div class="grid">
      <div class="grid-cell">
        <h2>Liquidity pools</h2>
        <ul class="toggle" [ngStyle]="hideElement(!userLoggedIn())">
          <li id="toggle-your-pools" #toggYourPools class="{{!isAllPoolsActive() ? 'active': ''}}" (click)="onYourPoolsClick()">Your pools</li>
          <li id="toggle-all-pools" #toggAllPools class="{{isAllPoolsActive() ? 'active': ''}}" (click)="onAllPoolsClick()">All pools</li>
        </ul>
      </div>
    </div>

    <!-- If no pools or no LP tokens-->
    <p *ngIf="userLoggedIn() && !userHasStakedOrAvailableToAnyPool() && !isAllPoolsActive()" class="text-center" style="margin-top: 50px; max-width: 430px; margin-left: auto; margin-right: auto;"
    >You don’t have any LP tokens. Supply Omm assets to a liquidity pool on <a href="{{isProduction() ? 'https://app.balanced.network/trade' :'https://omm.balanced.network/trade'}}" target="_blank" style="font-size: 16px;">Balanced</a>, then come back here.<br>
      <br>Includes the risk of impermanent loss, so it’s best for advanced users. <a href="https://docs.omm.finance/user-guide/liquidity" target="_blank" style="font-size: 16px;">Learn more.</a></p>

    <app-your-pools style="display: contents" #yourPools
                    [activeLiquidityPoolView]="activeLiquidityPoolView"
                    (poolClickUpdate)="onPoolClick($event)"
    >

    </app-your-pools>

    <app-all-pools style="display: contents"
                   [allPools]="getAllPoolsData()"
                   [activeLiquidityPoolView]="activeLiquidityPoolView"
                   (poolClickUpdate)="onPoolClick($event)"
    >

    </app-all-pools>
  </section>
</main>
