<!-- Sign in modal -->
<div class="modal" id="modal-sign-in" #signInModal>
  <div class="modal-content">
    <h3 class="text-center label">Sign in with:</h3>
    <div class="grid sign-in-options">
      <div class="grid-cell">
        <a href="javascript:void(0);" class="sign-in-icon animation-underline" (click)="onSignInIconexClick()">
          <img src="assets/img/logo/icx.svg">
          <p>ICONex</p>
        </a>
      </div>

      <div class="grid-cell">
        <a href="javascript:void(0);" class="sign-in-bridge animation-underline" (click)="onSignInBridgeClick()">
          <img src="assets/img/logo/usdb.png">
          <p>Bridge</p>
        </a>
      </div>

      <div class="grid-cell">
        <a href="javascript:void(0);" class="sign-in-ledger animation-underline">
          <img src="assets/img/logo/ledger.png">
          <p>Ledger</p>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Claim Omm rewards modal -->
<div class="modal" id="modal-claim-rewards" #claimOmmRewardsModal>
  <div class="modal-content">
    <h3 class="text-center label">Claim Omm rewards?</h3>
    <p class="text-bold text-center value-rewards-mdoal">50 OMM</p>
    <div class="grid">
      <div class="grid-cell text-center border-right">
        <p class="label">Before</p>
        <p class="text-dark">0 OMM</p>
      </div>

      <div class="grid-cell text-center">
        <p class="label">After</p>
        <p class="text-dark value-rewards-mdoal">50 OMM</p>
      </div>
    </div>
    <div class="modal-actions">
      <a href="javascript:void(0);" class="cancel modal-close" (click)="onCancelClick()">Not now</a> <a href="javascript:void(0);" class="button no-margin">Claim rewards</a>
    </div>
  </div>
</div>

<!-- Asset action (supply, borrow, withdraw, repay) dynamic modal -->
<div class="modal" #assetActionModal>
  <div class="modal-content">
    <h3 class="text-center label">{{getModalActionName()}} {{this.activeModalChange?.assetAction?.asset?.name}}?</h3>
    <p class="text-bold text-center value-borrow-difference">{{getBeforeAfterDiff()}} {{this.activeModalChange?.assetAction?.asset?.tag}}</p>
    <div class="grid">
      <div class="grid-cell text-center border-right">
        <p class="label">Before</p>
        <p class="text-dark value-borrowed">{{this.activeModalChange?.assetAction?.before}} {{this.activeModalChange?.assetAction?.asset?.tag}}</p>
      </div>

      <div class="grid-cell text-center">
        <p class="label">After</p>
        <p class="text-dark value-borrow-after">{{this.activeModalChange?.assetAction?.after}} {{this.activeModalChange?.assetAction?.asset?.tag}}</p>
      </div>
    </div>


    <p class="label text-center {{isNotSupply() ? '': 'hide'}}" style="margin-top: 25px;">Risk: <span class="value-risk-total" style="font-size: 14px !important;"
    >{{this.activeModalChange?.assetAction?.risk}}%</span></p>


    <!-- Modal actions -->
    <div class="modal-actions">
      <a href="javascript:void(0);" class="cancel modal-close" (click)="onCancelClick()">Cancel</a>
      <a href="javascript:void(0);" class="button {{isBorrow() ? 'purple' : 'no-margin'}}" (click)="onAssetModalActionClick()">{{getModalActionName()}}</a>
    </div>
  </div>
</div>

<!-- ICON withdraw modal -->
<div class="modal modal" id="modal-withdraw-icx" #iconWithdrawModal>
  <div class="modal-content">
    <!-- Title -->
    <h3 class="text-center label">Withdraw ICON?</h3>
    <p class="text-bold text-center">{{getBeforeAfterDiff()}} ICX</p>

    <!-- Before / After -->
    <div class="grid before-after">
      <div class="grid-cell text-center border-right">
        <p class="label">Before</p>
        <p class="text-dark">{{this.activeModalChange?.assetAction?.before}} ICX</p>
      </div>

      <div class="grid-cell text-center">
        <p class="label">After</p>
        <p class="text-dark">{{this.activeModalChange?.assetAction?.after}} ICX</p>
      </div>
    </div>

    <!-- Risk -->
    <p class="label text-center" style="margin-top: 25px; margin-bottom: 15px;">Risk: <span class="value-risk-total" style="font-size: 14px !important;">0%</span></p>

    <!-- Message -->
    <p class="label text-center text-dark" style="margin-bottom: 15px;">Your ICX is staked (sICX).<br>Choose what to do with it:</p>

    <!-- Withdraw options -->
    <div class="grid graphical-options">
      <div id="withdraw-wait" class="grid-cell text-center">
        <input class="checkbox-tools" type="radio" name="tools" id="tool-2" checked>
        <label class="for-checkbox-tools" for="tool-2">
          <img src="assets/img/icon/clock.svg" class="svg">
          <br>
          <span class="text-bold">Wait 9 days</span>
          <br>
          <span>200 ICX</span>  <!-- TODO -->
        </label>
      </div>

      <div id="withdraw-keep" class="grid-cell text-center">
        <input class="checkbox-tools" type="radio" name="tools" id="tool-3">
        <label class="for-checkbox-tools" for="tool-3">
          <img src="assets/img/icon/wallet.svg" class="svg">
          <br>
          <span class="text-bold">Keep sICX</span>
          <br>
          <span>175 sICX</span>   <!-- TODO -->
        </label>
      </div>
    </div>

    <!-- Modal actions -->
    <div class="modal-actions">
      <a href="javascript:void(0);" class="cancel modal-close" (click)="onCancelClick()">Cancel</a>
      <a href="javascript:void(0);" class="button" (click)="onAssetModalActionClick()">Withdraw</a>
    </div>
  </div>
</div>
