<!-- Modal: Vote approve -->
<div class="modal" id="modal-vote-approve" #submitVote>
  <div *ngIf="isGovernanceVoteModal()" class="modal-content">
    <!-- Overview -->
    <h3 class="label text-center">Submit vote?</h3>

    <img *ngIf="!isProposalApprove()" src="assets/img/icon/cross-circle-purple.svg" style="width: 35px; display: block; margin: 0 auto;margin-top: 15px;margin-bottom: 5px;">
    <img *ngIf="isProposalApprove()" src="assets/img/icon/tick-circle-green.svg" style="width: 35px; display: block; margin: 0 auto;margin-top: 15px;margin-bottom: 5px;">
    <p class="text-dark text-center" style="font-size: 20px;">{{isProposalApprove() ? "Approve" : "Reject"}}</p>


    <!-- Message -->
    <p class="text-center label" style="margin-top: 10px;">Voting weight: {{userVotingWeight() | roundOff2Dec | usFormat}} OMM</p>

    <!-- Modal actions -->
    <div class="modal-actions">
      <a href="javascript:void(0);" class="cancel modal-close" (click)="onCancelClick()">Cancel</a>
      <a href="javascript:void(0);" class="button {{userVotingWeight().isLessThanOrEqualTo(0) ? 'disabled' : ''}}" (click)="onSubmitVoteClick()">Submit vote</a>
    </div>
    <ng-container *ngIf="userVotingWeight().isLessThanOrEqualTo(0)">
      <br>
      <p class="label text-red text-center">Stake OMM to vote on this proposal.</p>
    </ng-container>
  </div>
</div>

<!-- Modal: Submit proposal -->
<div class="modal" id="modal-submit-proposal" #submitProposal>
  <div class="modal-content">
    <!-- Title -->
    <h3 class="text-center label">Submit proposal?</h3>
    <p class="text-bold text-center">{{activeModalChange?.governanceAction?.newProposal?.voteDefinitionFee | roundOff2Dec | usFormat}} OMM</p>

    <!-- When / Value -->
    <div class="grid before-after" style="margin-bottom: 0px; margin-top: 10px;max-width: 220px;margin-left: auto;margin-right: auto;">
      <div class="grid-cell text-center">
        <p class="label">Voting will begin immediately, and end after 5 days.</p>
      </div>
    </div>

    <!-- Modal actions -->
    <div class="modal-actions">
      <a href="javascript:void(0);" class="cancel modal-close" (click)="onCancelClick()">Go back</a>
      <a href="javascript:void(0);" class="button" (click)="onSubmitProposalClick()">Submit proposal</a>
    </div>
  </div>
</div>

<!-- Sign in modal -->
<div class="modal" id="modal-sign-in" #signInModal>
  <div class="modal-content">
    <!-- Title -->
    <h3 class="text-center label">Sign in with:</h3>
    <!-- Sign in options -->
    <div class="grid sign-in-options">
      <div class="grid-cell">
        <a href="javascript:void(0);" class="sign-in-icon animation-underline" (click)="onSignInIconexClick()">
          <img src="assets/img/logo/icx.svg">
          <p>ICON</p>
        </a>
      </div>

      <div class="grid-cell">
        <a href="javascript:void(0);" class="sign-in-bridge animation-underline" (click)="onSignInBridgeClick()">
          <img src="assets/img/logo/usdb.png">
          <p>Bridge</p>
        </a>
      </div>

      <div class="grid-cell">
        <a href="javascript:void(0);" class="sign-in-ledger animation-underline" (click)="onSignInLedgerClick()">
          <img src="assets/img/logo/ledger.png">
          <p>Ledger</p>
        </a>
      </div>
    </div>
    <p class="label message text-center"><span class="text-bold" style="margin-bottom: 10px;display: block;line-height: 1;"
    >Use at your own risk.</span> Project contributors are not liable for any lost or stolen funds. <a href="https://omm.finance/disclaimer/">View disclaimer</a></p>
  </div>
</div>


<!-- Modal: Confirm Omm Token stake -->
<div class="modal" id="modal-confirm-stake" #stakeOmm>
  <div class="modal-content">
    <!-- Title -->
    <h3 class="text-center label">Stake Omm Tokens?</h3>
    <p class="text-center"><span class="value-omm-stake-amount">{{activeModalChange?.stakingAction?.amount | usFormat}}</span> OMM</p>

    <!-- Before vs after -->
    <div class="grid before-after">
      <div class="grid-cell text-center border-right">
        <p class="label">Before</p>
        <p class="text-dark">{{activeModalChange?.stakingAction?.before | usFormat}} OMM</p>
      </div>
      <div class="grid-cell text-center">
        <p class="label">After</p>
        <p class="text-dark"><span class="value-omm-stake-amount">{{activeModalChange?.stakingAction?.after | usFormat}}</span> OMM</p>
      </div>
    </div>

    <!-- Unstaking message -->
    <p class="label text-center">It will take 3 days to unstake them.</p>

    <!-- Modal actions -->
    <div class="modal-actions">
      <a href="javascript:void(0);" class="cancel modal-close" (click)="onCancelClick()">Cancel</a>
      <a href="javascript:void(0);" class="button" (click)="onGovernanceModalConfirmClick()">Stake</a>
    </div>
  </div>
</div>

<!-- Modal: Confirm Omm Token unstake -->
<div class="modal" id="modal-confirm-unstake" #unstakeOmm>
  <div class="modal-content">
    <!-- Title -->
    <h3 class="text-center label">Unstake Omm Tokens?</h3>
    <p class="text-center"><span class="value-omm-stake-amount">{{activeModalChange?.stakingAction?.amount | usFormat}}</span> OMM</p>

    <!-- Before vs after -->
    <div class="grid before-after">
      <div class="grid-cell text-center border-right">
        <p class="label">Before</p>
        <p class="text-dark">{{activeModalChange?.stakingAction?.before | usFormat}} OMM</p>
      </div>
      <div class="grid-cell text-center">
        <p class="label">After</p>
        <p class="text-dark"><span class="value-omm-stake-amount">{{activeModalChange?.stakingAction?.after | usFormat}}</span> OMM</p>
      </div>
    </div>

    <!-- Unstaking message -->
    <p class="label text-center">You'll receive them in 3 days.</p>

    <!-- Modal actions -->
    <div class="modal-actions">
      <a href="javascript:void(0);" class="cancel modal-close" (click)="onCancelClick()">Cancel</a>
      <a href="javascript:void(0);" class="button" (click)="onGovernanceModalConfirmClick()">Unstake</a>
    </div>
  </div>
</div>

<!-- Modal: Confirm Omm Token cancel unstake -->
<div class="modal" id="modal-cancel-unstake" #cancelUnstake>
  <div class="modal-content">
    <!-- Title -->
    <h3 class="text-center label">Restake Omm Tokens?</h3>
    <p class="text-center">{{activeModalChange?.stakingAction?.amount | usFormat}} OMM</p>

    <!-- Unstaking message -->
    <p class="label text-center">This will cancel the unstaking process.</p>

    <!-- Modal actions -->
    <div class="modal-actions">
      <a href="javascript:void(0);" class="cancel modal-close" (click)="onCancelClick()">Go back</a>
      <a href="javascript:void(0);" class="button" (click)="onRestakeConfirmClick()">Restake</a>
    </div>
  </div>
</div>

<!-- Modal: Add P-Rep selection -->
<div class="modal" id="modal-add-preps" #updateVotes>
  <div class="modal-content">
    <!-- Title -->
    <h3 class="text-center label">Vote for these P-Reps ?</h3>

    <!-- Your P-Rep list -->
    <ul>
      <ng-container *ngFor="let yourVote of activeModalChange?.voteAction?.yourVotesPrepList">
        <li>{{yourVote.name}}</li>
      </ng-container>
    </ul>

    <!-- Modal actions -->
    <div class="modal-actions">
      <a href="javascript:void(0);" class="cancel modal-close" (click)="onCancelClick()">Cancel</a>
      <a href="javascript:void(0);" class="button" (click)="onConfirmUpdateVotesClick()">Vote</a>
    </div>
  </div>
</div>

<!-- Modal: Remove all P-Rep selection -->
<div class="modal" id="modal-remove-preps" #rmvPrep>
  <div class="modal-content">
    <!-- Title -->
    <h3 class="text-center label">Remove votes from all P-Reps?</h3>

    <!-- Message -->
    <p class="text-center" style="font-size: 16px;">Your votes will be allocated towards the P-Reps that work on Omm.</p>

    <!-- Modal actions -->
    <div class="modal-actions">
      <a href="javascript:void(0);" class="cancel modal-close" (click)="onCancelClick()">Cancel</a>
      <a href="javascript:void(0);" class="button" (click)="onConfirmUpdateVotesClick()">Remove votes</a>
    </div>
  </div>
</div>


<!-- Modal: Claim Omm rewards -->
<div class="modal" id="modal-claim-rewards" #claimOmmRewardsModal>
  <div class="modal-content">
    <!-- Title -->
    <h3 class="text-center label">Claim Omm rewards?</h3>
    <p class="text-bold text-center value-rewards-modal">{{activeModalChange?.assetAction?.amount | roundDown2Dec | usFormat}} OMM</p>

    <!-- Before & after -->
    <div class="grid before-after">
      <div class="grid-cell text-center border-right">
        <p class="label">Before</p>
        <p class="text-dark">{{activeModalChange?.assetAction?.before | roundDown2Dec | usFormat}} OMM</p>
      </div>

      <div class="grid-cell text-center">
        <p class="label">After</p>
        <p class="text-dark value-rewards-mdoal">{{activeModalChange?.assetAction?.after | roundDown2Dec | usFormat}} OMM</p>
      </div>
    </div>

    <!-- Modal actions -->
    <div class="modal-actions">
      <a href="javascript:void(0);" class="cancel modal-close" (click)="onCancelClick()">Not now</a>
      <a href="javascript:void(0);" class="button no-margin" (click)="onClaimOmmRewardsClick()">Claim rewards</a>
    </div>
  </div>
</div>

<!-- Modal: Claim ICX -->
<div class="modal" id="modal-claim-icx" #claimIcxModal>
  <div class="modal-content">
    <!-- Title -->
    <h3 class="text-center label">Claim ICX?</h3>
    <p class="text-bold text-center value-rewards-mdoal">{{activeModalChange?.assetAction?.amount | roundDown2Dec | usFormat}} ICX</p>

    <!-- Before & after -->
    <div class="grid before-after">
      <div class="grid-cell text-center border-right">
        <p class="label">Before</p>
        <p class="text-dark">{{activeModalChange?.assetAction?.before | roundDown2Dec | usFormat}} ICX</p>
      </div>

      <div class="grid-cell text-center">
        <p class="label">After</p>
        <p class="text-dark value-rewards-modal">{{activeModalChange?.assetAction?.after | roundDown2Dec | usFormat}} ICX</p>
      </div>
    </div>

    <!-- Modal actions -->
    <div class="modal-actions">
      <a href="javascript:void(0);" class="cancel modal-close" (click)="onCancelClick()">Not now</a>
      <a href="javascript:void(0);" class="button no-margin" (click)="onClaimIcxClick()">Claim ICX</a>
    </div>
  </div>
</div>

<!-- Asset action (supply, borrow, withdraw, repay) dynamic modal -->
<div class="modal" #assetActionModal>
  <div class="modal-content">
    <h3 class="text-center label">{{getModalActionName()}} {{activeModalChange?.assetAction?.asset?.name}}?</h3>
    <p class="text-bold text-center value-borrow-difference">{{activeModalChange?.assetAction?.amount | roundDown2Dec | usFormat}} {{getAdjustedAssetTag()}}</p>
    <div class="grid">
      <div class="grid-cell text-center border-right">
        <p class="label">Before</p>
        <p class="text-dark value-borrowed">{{activeModalChange?.assetAction?.before | roundDown2Dec | usFormat}} {{getAdjustedAssetTag()}}</p>
      </div>

      <div class="grid-cell text-center">
        <p class="label">After</p>
        <p class="text-dark value-borrow-after">{{activeModalChange?.assetAction?.after | roundDown2Dec | usFormat}} {{getAdjustedAssetTag()}}</p>
      </div>
    </div>

    <p class="label text-center {{isIconSupply() ? '': 'hide'}}" style="margin-top: 15px;">Your ICX will be staked as sICX.</p>

    <p class="label text-center {{riskGreaterThanZero() ? '': 'hide'}}" style="margin-top: 25px;">Risk: <span class="value-risk-total" style="font-size: 14px !important;"
    >{{activeModalChange?.assetAction?.risk}}%</span></p>
    <p *ngIf="isBorrow()" class="label text-center" style="margin-top: 5px;">Includes a fee of {{getBorrowFee() | usFormat}} {{getAdjustedAssetTag()}}</p>

    <!-- Modal actions -->
    <div class="modal-actions">
      <a href="javascript:void(0);" class="cancel modal-close" (click)="onCancelClick()">Cancel</a>
      <a href="javascript:void(0);" class="button {{isBorrow() ? 'purple' : 'no-margin'}}" (click)="onAssetModalActionConfirmClick()">{{getModalActionName()}}</a>
    </div>
  </div>
</div>

<!-- ICON withdraw modal (ICX and sICX) -->
<div class="modal" id="modal-withdraw-icx" #iconWithdrawModal>
  <div class="modal-content">
    <!-- Title -->
    <h3 class="text-center label">Withdraw ICON?</h3>
    <p class="text-bold text-center">{{activeModalChange?.assetAction?.amount | roundDown2Dec | usFormat}} {{assetActionAssetTag()}}</p>

    <!-- Before / After -->
    <div class="grid before-after">
      <div class="grid-cell text-center border-right">
        <p class="label">Before</p>
        <p class="text-dark">{{activeModalChange?.assetAction?.before | roundDown2Dec | usFormat}} {{assetActionAssetTag()}}</p>
      </div>

      <div class="grid-cell text-center">
        <p class="label">After</p>
        <p class="text-dark">{{activeModalChange?.assetAction?.after | roundDown2Dec | usFormat}} {{assetActionAssetTag()}}</p>
      </div>
    </div>

    <!-- Risk -->
    <p class="label text-center" style="margin-top: 25px; margin-bottom: 15px;">Risk: <span class="value-risk-total" style="font-size: 14px !important;">0%</span></p>

    <!-- Message -->
    <p *ngIf="!assetIsCollateralSIcx()" class="label text-center text-dark" style="margin-bottom: 15px;">Your ICX is staked (sICX).<br>Choose what to do with it:</p>
    <p *ngIf="assetIsCollateralSIcx()" class="label text-center text-dark" style="margin-bottom: 15px;">Choose what to do with your sICX:</p>

    <!-- Withdraw options -->
    <div class="grid graphical-options">
      <div id="withdraw-wait" class="grid-cell text-center">
        <input class="checkbox-tools" type="radio" value="unstake" [(ngModel)]="withdrawOption" name="tools" id="tool-2" checked>
        <label class="for-checkbox-tools" for="tool-2">
          <img src="assets/img/icon/clock.svg" class="svg">
          <br>
          <span class="text-bold">Unstake</span>
          <br>
          <span>{{(assetIsCollateralSIcx() ? convertSICXToICX(getAssetActionAmount()) : getAssetActionAmount()) | roundOff2Dec | usFormat}} ICX</span>
        </label>
      </div>

      <div id="withdraw-keep" class="grid-cell text-center">
        <input class="checkbox-tools" type="radio" value="keep" [(ngModel)]="withdrawOption" name="tools" id="tool-3">
        <label class="for-checkbox-tools" for="tool-3">
          <img src="assets/img/icon/wallet.svg" class="svg">
          <br>
          <span class="text-bold">Keep sICX</span>
          <br>
          <span>{{assetIsCollateralSIcx() ? getAssetActionAmount() : convertFromICXTosICX(getAssetActionAmount()) | roundDown2Dec | usFormat}} sICX</span>
        </label>
      </div>
    </div>

    <p *ngIf="withdrawOption == 'unstake'" class="label text-center" style="margin-top: 10px;">Takes up to 7 days. You can claim your ICX from the ICON market when it's ready.</p>

    <!-- Modal actions -->
    <div class="modal-actions">
      <a href="javascript:void(0);" class="cancel modal-close" (click)="onCancelClick()">Cancel</a>
      <a href="javascript:void(0);" class="button" (click)="onAssetModalActionConfirmClick()">Withdraw</a>
    </div>
  </div>
</div>

<!-- Modal: Ledger wallet -->
<div class="modal" id="modal-sign-in-ledger" #ledgerAddressList>
  <div class="modal-content">
    <!-- Title -->
    <h3 class="text-center label">Choose a wallet from your Ledger:</h3>

    <!-- Ledger wallets -->
    <table>
      <tbody>
      <ng-container *ngFor="let wallet of ledgerWallets; let i = index">
        <tr (click)="onSelectLedgerAddressClick(wallet)">
          <td>{{formatIconAddressToShort(wallet.address)}}</td>
          <td class="text-right">{{formatNumberToUSLocaleString(ledgerIcxBalance(wallet), true)}} ICX</td>
        </tr>
      </ng-container>
      </tbody>
    </table>

    <!-- Pagination -->
    <ul class="pagination">
      <li (click)="onLedgerPageBackClick()"><</li>
      <ng-container *ngFor="let i of activeLedgerAddressPageList">
        <li class="{{i === selectedLedgerAddressPage ? 'active' : ''}}" (click)="onLedgerAddressPageClick(i)">{{i + 1}}</li>
      </ng-container>
      <li (click)="onLedgerPageNextClick()">></li>
    </ul>
  </div>
</div>

<!-- Modal: Confirm Pool Token stake -->
<div class="modal" id="modal-confirm-pool-stake" #poolStakeModal>
  <div class="modal-content">
    <!-- Title -->
    <h3 class="text-center label">Stake pool tokens?</h3>
    <p class="text-center">{{activeModalChange?.stakingAction?.amount | roundDown2Dec | usFormat}}</p>

    <!-- Before vs after -->
    <div class="grid before-after">
      <div class="grid-cell text-center border-right">
        <p class="label">Before</p>
        <p class="text-dark">{{activeModalChange?.stakingAction?.before | roundDown2Dec | usFormat}}</p>
      </div>
      <div class="grid-cell text-center">
        <p class="label">After</p>
        <p class="text-dark">{{activeModalChange?.stakingAction?.after | roundDown2Dec | usFormat}}</p>
      </div>
    </div>

    <!-- Unstaking message -->
    <p class="label text-center">You'll need to unstake your tokens before you can withdraw your assets from the liquidity pool on Balanced.</p>

    <!-- Modal actions -->
    <div class="modal-actions">
      <a href="javascript:void(0);" class="cancel modal-close" (click)="onCancelClick()">Cancel</a>
      <a href="javascript:void(0);" class="button" (click)="onPoolStakingClick()">Stake</a>
    </div>
  </div>
</div>

<!-- Modal: Confirm Pool Token unstake -->
<div class="modal" id="modal-confirm-pool-unstake" #poolUnstakeModal>
  <div class="modal-content">
    <!-- Title -->
    <h3 class="text-center label">Unstake pool tokens?</h3>
    <p class="text-center">{{activeModalChange?.stakingAction?.amount | roundDown2Dec | usFormat}}</p>

    <!-- Before vs after -->
    <div class="grid before-after">
      <div class="grid-cell text-center border-right">
        <p class="label">Before</p>
        <p class="text-dark">{{activeModalChange?.stakingAction?.before | roundDown2Dec | usFormat}}</p>
      </div>
      <div class="grid-cell text-center">
        <p class="label">After</p>
        <p class="text-dark">{{activeModalChange?.stakingAction?.after | roundDown2Dec | usFormat}}</p>
      </div>
    </div>

    <!-- Unstaking message -->
    <p class="label text-center">After you unstake you can withdraw<br>your liquidity from Balanced.</p>

    <!-- Modal actions -->
    <div class="modal-actions">
      <a href="javascript:void(0);" class="cancel modal-close" (click)="onCancelClick()">Cancel</a>
      <a href="javascript:void(0);" class="button" (click)="onPoolStakingClick()">Unstake</a>
    </div>
  </div>
</div>

<!-- Modal: Liquidated -->
<div class="modal" id="modal-liquidated">
  <div class="modal-content">
    <!-- Title -->
    <h3 class="text-center label">Your position was liquidated</h3>
    <p class="text-bold text-center">-1,984 ICX</p>

    <!-- When / Value -->
    <div class="grid before-after">
      <div class="grid-cell text-center border-right">
        <p class="label">When</p>
        <p class="text-dark">March 1<br><span class="label">09:48</span></p>
      </div>

      <div class="grid-cell text-center">
        <p class="label">Value</p>
        <p class="text-dark">$2,500</p>
      </div>
    </div>

    <!-- Modal actions -->
    <p class="text-center"><a href="#" class="button">Close</a></p>
  </div>
</div>

<!-- Modal: Loading -->
<div class="modal" id="modal-loading" #modalLoading>
  <div class="modal-content">
    <!-- Title -->
    <h3 class="text-center label">Loading...</h3>

    <!-- Loading -->
    <div class="animation-container">
      <div class="animation-wrapper">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>
