<!-- Your overview content -->
<div id="your-overview-content" class="grid panel" [ngStyle]="hideElement(marketOverviewActive || !userLoggedIn())">
  <!-- Supplied -->
  <div class="grid-cell border-right">
    <div class="grid">
      <!-- You've supplied -->
      <div class="grid-cell text-center">
        <dl class="metadata">
          <dt>You've supplied</dt>
          <dd class="value-supplied-total">{{userTotalSuppliedUSD | roundOff2Dec | dollarUsLocale}}</dd>
        </dl>
      </div>

      <!-- Your supply APY -->
      <div class="grid-cell text-center">
        <dl class="metadata">
          <dt class="">Your supply APY</dt>
          <dd class="text-green value-supplied-apy">{{getUserAvgSupplyApy() | roundOff2DecPercent}}</dd>
        </dl>
      </div>
    </div>
  </div>

  <!-- Borrowed -->
  <div class="grid-cell">
    <div class="grid">
      <!-- You've borrowed -->
      <div class="grid-cell text-center">
        <dl class="metadata">
          <dt>You've borrowed</dt>
          <dd class="value-borrowed-total">{{userTotalBorrowedUSD | roundOff2Dec | dollarUsLocale}}</dd>
        </dl>
      </div>

      <!-- Your borrow APR -->
      <div class="grid-cell text-center">
        <dl class="metadata">
          <dt>Your borrow APR</dt>
          <dd class="{{avgBorrowAprClass()}} value-borrowed-apy">{{getUserAvgBorrowApy() | abs | roundOff2DecPercent}}</dd> <!-- Borrow APY -->
        </dl>
      </div>
    </div>
  </div>
</div>
