<body>
<!-- Bridge supply modal -->
<div class="modal" id="modal-1">
  <div class="modal-content">
    <h3 class="text-center"><span class="adjust-label">Adjust</span> supply by <br><strong id="supply-increase">XXX USDb</strong>?</h3>
    <div>
      <p class="text-center">Before: <span id="supply-before"></span></p>
      <p class="text-center">After: <span id="confirm-supply"></span></p>
      <div class="modal-actions">
        <a href="#" class="cancel modal-close">Cancel</a> <a href="./" id="confirm-supply-adjust" class="button">Confirm</a>
      </div>
    </div>
  </div>
</div>

<!-- Bridge borrow-service modal -->
<div class="modal" id="modal-2">
  <div class="modal-content">
    <h3 class="text-center"><span class="adjust-label">Adjust</span> borrow by <br><strong id="borrow-increase">XXX USDb</strong>?</h3>
    <div>
      <p class="text-center">Before: <span id="borrow-before"></span></p>
      <p class="text-center">After: <span id="confirm-borrow"></span></p>
      <div class="modal-actions">
        <a href="#" class="cancel modal-close">Cancel</a> <a href="./" id="confirm-borrow-adjust" class="button">Confirm</a>
      </div>
    </div>
  </div>
</div>

<!-- Reward claim modal -->
<div class="modal" id="modal-2">
  <div class="modal-content">
    <h3 class="text-center"><span class="adjust-label">Adjust</span> borrow by <br><strong id="borrow-increase">XXX USDb</strong>?</h3>
    <div>
      <p class="text-center">Before: <span id="borrow-before"></span></p>
      <p class="text-center">After: <span id="confirm-borrow"></span></p>
      <div class="modal-actions">
        <a href="#" class="cancel modal-close">Cancel</a> <a href="./" id="confirm-borrow-adjust" class="button">Confirm</a>
      </div>
    </div>
  </div>
</div>

<!-- Header -->
<app-header> </app-header>
<!-- /Header -->

<!-- Navigation -->
<nav>
  <ul>
    <li>
      <a href="javascript:void(0);" routerLink="" class="active"><img src="assets/img/icons/home.svg" width="24px" class="svg home"><span>Home</span></a>
    </li>
    <li>
      <a href="javascript:void(0);"><img src="assets/img/icons/governance.svg" width="23px" class="svg governance"><span>Vote</span></a>
    </li>
    <li>
      <a href="javascript:void(0);"><img src="assets/img/icons/liquidation.svg" width="22px" class="svg liquidation"><span>Liquidate</span></a>
    </li>
  </ul>
</nav>
<!-- /Navigation -->

<!-- Home content -->
<main class="home">

  <!-- Overview -->
  <section class="overview">
    <div class="grid grid-center margin-bottom-15">
      <div class="grid-cell" style="max-width: 125px;">
        <h2>Overview</h2>
      </div>
      <div class="grid-cell" [ngStyle]="{'display': this.persistenceService.userLoggedIn() ? null: 'none'}">
        <ul class="toggle text-left no-padding">
          <li id="toggle-your-overview" class="animation-underline active" (click)="onToggleYourOverviewClick()">Your overview</li>
          <li id="toggle-market-overview" class="animation-underline" (click)="onToggleMarketOverviewClick()">Market overview</li>
        </ul>
      </div>
    </div>
    <div id="your-overview-content" class="grid panel" [ngStyle]="{'display': this.persistenceService.userLoggedIn() ? null: 'none'}">
      <div class="grid-cell"><h3 class="text-center"><span class="label">You've supplied</span><br><span class="text-size-25 supply-deposited-dollar">${{this.formatNumberToUSLocaleString(this.persistenceService.userUSDbReserve?.currentOTokenBalanceUSD)}}</span></h3></div>
      <div class="grid-cell border-right"><h3 class="text-center"><span class="label">Your supply APY</span><br><span class="text-green text-size-25">6.47%</span></h3></div>
      <div class="grid-cell"><h3 class="text-center"><span class="label">You've borrowed</span><br><span class="text-size-25 borrow-borrowed-dollar">${{this.formatNumberToUSLocaleString(this.persistenceService.userUSDbReserve?.principalBorrowBalanceUSD)}}</span></h3></div>
      <div class="grid-cell"><h3 class="text-center"><span class="label">Your borrow APY</span><br><span class="text-purple text-size-25">6.29%</span></h3></div>
    </div>
    <div id="market-overview-content" class="grid panel" [ngStyle]="{'display': !this.persistenceService.userLoggedIn() ? null: 'none'}">
      <div class="grid-cell"><h3 class="text-center"><span class="label">Total supplied</span><br><span class="text-size-25">$982,647</span></h3></div>
      <div class="grid-cell border-right"><h3 class="text-center"><span class="label">Avg. supply APY</span><br><span class="text-green text-size-25">4.96%</span></h3></div>
      <div class="grid-cell"><h3 class="text-center"><span class="label">Total borrowed</span><br><span class="text-size-25">$323,559</span></h3></div>
      <div class="grid-cell"><h3 class="text-center"><span class="label">Avg. borrow APY</span><br><span class="text-purple text-size-25">6.84%</span></h3></div>
    </div>
  </section>

  <!-- Risk / Rewards -->
  <section [ngStyle]="{'display': this.persistenceService.userLoggedIn() ? null: 'none'}" class="risk-rewards">
    <div class="grid">
      <!-- Rewards -->
      <div class="grid-cell rewards">
        <h2>Performance<span class="label margin-left-15 animation-underline"><a href="#" class="time-selector">Per day</a></span></h2>
        <div class="panel">
          <div class="grid">
            <div class="grid-cell"><h3 class="text-center"><span class="label">Supply interest</span><br><span class="supply-interest-dollar">+$1.77</span></h3></div>
            <div class="grid-cell"><h3 class="text-center"><span class="label">Borrow interest</span><br><span class="borrow-interest-dollar">-$0.47</span></h3></div>
            <div class="grid-cell"><h3 class="text-center"><span class="label">Omm rewards</span><br><span class="supply-rewards-total">+16.99</span></h3></div>
          </div>
          <p class="text-center"><a href="#" class="button modal-trigger" data-modal="modal-3">Claim Omm rewards</a></p>
        </div>
      </div>
      <!-- Risk -->
      <div class="grid-cell risk">
        <h2>Risk</h2>
        <div class="panel">
          <div class="grid">
            <div class="grid-cell"><h3 class="text-center"><span class="label">Risk rate</span><br><span class="risk-percentage">23%</span></h3></div>
            <div class="grid-cell"><h3 class="text-center"><span class="label">Locked supply</span><br>$4,545</h3></div>
          </div>
          <div id="risk-slider" disabled></div>
          <p class="label text-right"><span>Your supply will be liquidated at 100%.</span></p>
        </div>
      </div>
    </div>
  </section>

  <!-- Asset list -->
  <section>
    <div class="grid grid-center margin-bottom-25">
      <div class="grid-cell" style="max-width: 110px;">
        <h2>Markets</h2>
      </div>
      <div [ngStyle]="{'display': this.persistenceService.userLoggedIn() ? null: 'none'}" class="grid-cell">
        <ul class="toggle text-left no-padding">
          <li id="toggle-your-markets" class="active animation-underline" (click)="onToggleYourMarketsClick()">Your markets</li>
          <li id="toggle-all-markets" class="animation-underline" (click)="onToggleAllMarketsClick()">All markets</li>
        </ul>
      </div>
      <div class="grid-cell text-right">
        <input type="text" name="" placeholder="Search markets" style="max-width: 300px;">
      </div>
    </div>

    <div class="grid">
      <div class="grid-cell">
        <!-- Your markets -->
        <table [ngStyle]="{'display': this.persistenceService.userLoggedIn() ? null: 'none'}" id="your-markets-list" class="list">
          <thead>
          <tr>
            <th>Asset</th>
            <th>You've supplied</th>
            <th>Supply APY</th>
            <th>You've borrowed</th>
            <th>Borrow APY</th>
          </tr>
          </thead>
          <tbody>
          <tr id="asset-bridge" class="asset bridge" (click)="onAssetBridgeClick()">
            <td><span>Bridge Dollars</span><br>USDb</td>
            <td><span>${{this.formatNumberToNdigits(this.persistenceService.userUSDbReserve?.currentOTokenBalanceUSD)}}</span>
              <br>{{this.formatNumberToUSLocaleString(this.persistenceService.userUSDbReserve?.currentOTokenBalance)}} USDb</td>
            <td><span class="text-green">6.47%</span><br>+0.51% / 24h</td>
            <td><span>${{this.formatNumberToNdigits(this.persistenceService.userUSDbReserve?.principalBorrowBalanceUSD)}}</span>
              <br>{{this.formatNumberToUSLocaleString(this.persistenceService.userUSDbReserve?.principalBorrowBalance)}} USDb</td>
            <td><span class="text-purple">7.25%</span><br>-0.27% / 24h</td>
          </tr>
          <tr>
            <td colspan="5" class="no-padding">
              <div id="asset-bridge-expanded" class="grid asset-expanded" style="display: none;">
                <div class="grid-cell">
                  <!-- Market container -->
                  <div class="grid">
                    <!-- Supply container-->
                    <div id="supply" class="grid-cell container supply">
                      <!-- Title -->
                      <div class="grid grid-center title">
                        <div class="grid-cell">
                          <h2>Supply</h2>
                        </div>
                        <div class="grid-cell text-right">
                          <span class="text-green">6.47% APY</span>
                        </div>
                      </div>

                      <!-- Slider -->
                      <div class="grid">
                        <div class="grid-cell">
                          <div class="locked" id="locked"></div>
                          <div id="bridge-supply-slider" disabled></div>
                        </div>
                      </div>

                      <!-- Legend -->
                      <div class="grid legend">
                        <div class="grid-cell">
                          <p class="label deposited">Supplied</p>
                          <input title="Deposited supply" id="supply-deposited" (keyup)="depositUSDbAmountChange()" disabled="" value="50 USDb">
                        </div>
                        <div class="grid-cell">
                          <p class="label available">Available</p>
                          <input title="Available supply" id="supply-available" disabled="" value="50 USDb">
                        </div>
                      </div>

                      <!-- Income -->
                      <div class="grid legend income">
                        <div class="grid-cell">
                          <p class="label">Daily interest</p>
                          <p class="supply-interest">+ 10 USDb</p>
                        </div>
                        <div class="grid-cell">
                          <p class="label">Daily rewards</p>
                          <p id="supply-rewards">+ 10 OMM</p>
                        </div>
                      </div>

                      <!-- Actions -->
                      <div class="grid">
                        <div class="grid-cell text-center">
                          <!-- Adjust -->
                          <div class="grid grid-center supply-actions">
                            <div class="grid-cell text-center">
                              <a href="javascript:void(0);" class="button supply-adjust" id="supply-adjust-button" (click)="onSupplyAdjustClick()">Adjust</a>
                            </div>
                          </div>
                          <!-- Confirm -->
                          <div class="grid grid-center supply-actions hide">
                            <div class="grid-cell text-right">
                              <a href="javascript:void(0);" class="cancel supply-adjust" (click)="onSupplyAdjustClick()">Cancel</a>
                            </div>
                            <div class="grid-cell text-left">
                              <a href="javascript:void(0);" class="button modal-trigger" data-modal="modal-1" id="modal-trigger-1" (click)="onUSDbSupplyConfirmClick()">Confirm</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /Supply container-->

                    <!-- Borrow container -->
                    <div id="borrow" class="grid-cell container borrow">
                      <!-- Title -->
                      <div class="grid grid-center title">
                        <div class="grid-cell">
                          <h2>Borrow</h2>
                        </div>
                        <div class="grid-cell text-right">
                          <span>7.25% APY</span>
                        </div>
                      </div>

                      <!-- Slider -->
                      <div class="grid">
                        <div class="grid-cell">
                          <div id="bridge-borrow-slider" disabled></div>
                        </div>
                      </div>

                      <!-- Legend -->
                      <div class="grid legend">
                        <div class="grid-cell">
                          <p class="label deposited">Borrowed</p>
                          <input (keyup)="borrowUSDbAmountChange()" title="Deposited borrow" id="borrow-borrowed" disabled="" value="50 USDb">
                        </div>
                        <div class="grid-cell">
                          <p class="label available">Available</p>
                          <input title="Available borrow" id="borrow-available" disabled="" value="50 USDb">
                        </div>
                      </div>

                      <!-- Income -->
                      <div class="grid legend income">
                        <div class="grid-cell">
                          <p class="label">Daily interest</p>
                          <p id="borrow-interest">- 10 USDb</p>
                        </div>
                        <div class="grid-cell">
                          <p class="label">Daily rewards</p>
                          <p id="borrow-rewards">+ 10 OMM</p>
                        </div>
                      </div>

                      <!-- Button -->
                      <div class="grid">
                        <div class="grid-cell text-center">
                          <div class="grid grid-center borrow-actions">
                            <div class="grid-cell text-center">
                              <a href="javascript:void(0);" class="button borrow-adjust" id="borrow-adjust-button" (click)="onBorrowAdjustClick()">Adjust</a>
                            </div>
                          </div>
                          <div class="grid grid-center borrow-actions hide">
                            <div class="grid-cell text-right">
                              <a href="javascript:void(0);" class="cancel borrow-adjust">Cancel</a>
                            </div>
                            <div class="grid-cell text-left">
                              <a href="javascript:void(0);" class="button modal-trigger" data-modal="modal-2" id="modal-trigger-2" (click)="onBorrowUSDbConfirmClick()">Confirm</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /Borrow container -->
                  </div>
                  <!-- /Market container -->
                </div>
              </div>
            </td>
          </tr>

          <tr class="spacer"></tr>

          <tr id="asset-icon" class="icon asset" (click)="onAssetIconClick()">
            <td><span>ICON</span><br>ICX</td>
            <td><p class="opacity-half"><span>—</span><br>—</p></td>
            <td><span class="text-green">4.83%</span><br>+0.12% / 24h</td>
            <td><span>$1,212</span><br>9,840 ICX</td>
            <td><span class="text-purple">5.25%</span><br>+0.23% / 24h</td>
          </tr>
          <tr>
            <td colspan="5" class="no-padding">
              <div id="asset-icon-expanded" class="grid asset-expanded" style="display: none;">

                <div class="grid-cell">
                  <div class="grid">

                    <!-- Supply -->
                    <div id="supply" class="grid-cell container supply">
                      <!-- Title -->
                      <div class="grid grid-center title">
                        <div class="grid-cell">
                          <h2>Supply</h2>
                        </div>
                        <div class="grid-cell text-right">
                          <span class="text-green">4.83% APY</span>
                        </div>
                      </div>

                      <!-- Slider -->
                      <div class="grid">
                        <div class="grid-cell">
                          <div id="icon-supply-slider" disabled></div>
                        </div>
                      </div>

                      <!-- Legend -->
                      <div class="grid legend">
                        <div class="grid-cell">
                          <p class="label deposited">Supplied</p>
                          <input title="Deposited supply" id="supply-deposited-icon" disabled="" value="0 ICX">
                        </div>
                        <div class="grid-cell">
                          <p class="label available">Available</p>
                          <input title="Available supply" id="supply-available-icon" disabled="" value="3,000 ICX">
                        </div>
                      </div>

                      <!-- Income -->
                      <div class="grid legend income">
                        <div class="grid-cell">
                          <p class="label">Daily interest</p>
                          <p id="supply-interest">0 ICX</p>
                        </div>
                        <div class="grid-cell">
                          <p class="label">Daily rewards</p>
                          <p id="supply-rewards">0 OMM</p>
                        </div>
                      </div>

                      <!-- Button -->
                      <div class="grid">
                        <div class="grid-cell text-center">

                          <div class="grid grid-center supply-actions">
                            <div class="grid-cell text-center">
                              <a href="#" class="button supply-adjust" id="supply-adjust-button">Supply</a>
                            </div>
                          </div>
                          <div class="grid grid-center supply-actions hide">
                            <div class="grid-cell text-right">
                              <a href="#" class="cancel supply-adjust">Cancel</a>
                            </div>
                            <div class="grid-cell text-left">
                              <a href="#" class="button modal-trigger" data-modal="modal-1" id="modal-trigger-1">Confirm</a>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>

                    <!-- Borrow content -->
                    <div id="borrow" class="grid-cell container borrow">
                      <!-- Title -->
                      <div class="grid grid-center title">
                        <div class="grid-cell">
                          <h2>Borrow</h2>
                        </div>
                        <div class="grid-cell text-right">
                          <span>5.25% APY</span>
                        </div>
                      </div>

                      <!-- Slider -->
                      <div class="grid">
                        <div class="grid-cell">
                          <div id="icon-borrow-slider" disabled></div>
                        </div>
                      </div>

                      <!-- Legend -->
                      <div class="grid legend">
                        <div class="grid-cell">
                          <p class="label deposited">Borrowed</p>
                          <input title="Deposited borrow" id="borrow-borrowed" disabled="" value="9,840 ICX">
                        </div>
                        <div class="grid-cell">
                          <p class="label available">Available</p>
                          <input title="Available borrow" id="borrow-available" disabled="" value="16,000 ICX">
                        </div>
                      </div>

                      <!-- Income -->
                      <div class="grid legend income">
                        <div class="grid-cell">
                          <p class="label">Daily interest</p>
                          <p id="borrow-interest">- 1.41 ICX</p>
                        </div>
                        <div class="grid-cell">
                          <p class="label">Daily rewards</p>
                          <p id="borrow-rewards">+ 2.8 OMM</p>
                        </div>
                      </div>

                      <!-- Button -->
                      <div class="grid">
                        <div class="grid-cell text-center">
                          <div class="grid grid-center borrow-actions">
                            <div class="grid-cell text-center">
                              <a href="#" class="button borrow-adjust" id="borrow-adjust-button">Adjust</a>
                            </div>
                          </div>
                          <div class="grid grid-center borrow-actions hide">
                            <div class="grid-cell text-right">
                              <a href="#" class="cancel borrow-adjust">Cancel</a>
                            </div>
                            <div class="grid-cell text-left">
                              <a href="#" class="button modal-trigger" data-modal="modal-2" id="modal-trigger-2">Confirm</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Borrow content -->
                  </div>
                </div>
              </div>
            </td>
          </tr>

          <!-- Potential markets -->
          <tr style="display: none;">
            <td colspan="5" class="table-label">
              <p>Potential markets</p>
            </td>
          </tr>
          <tr id="asset-icon" class="tap asset" style="display: none;">
            <td><span>ICONbet</span><br>TAP</td>
            <td><p class="opacity-half"><span>—</span><br>—</p></td>
            <td><span class="text-green">9.83%</span><br>+1.12% / 24h</td>
            <td><p class="opacity-half"><span>—</span><br>—</p></td>
            <td><span class="text-purple">15.25%</span><br>+4.23% / 24h</td>
          </tr>
          <!-- /Potential markets -->
          </tbody>
        </table>


        <!-- All markets -->
        <table [ngStyle]="{'display': !this.persistenceService.userLoggedIn() ? null: 'none'}" id="all-markets-list" class="list">
          <thead>
          <tr>
            <th>Asset</th>
            <th>Total supplied</th>
            <th>Supply APY</th>
            <th>Total borrowed</th>
            <th>Borrow APY</th>
          </tr>
          </thead>
          <tbody>

          <tr id="asset-bridge-all" class="asset bridge">
            <td><span>Bridge Dollars</span><br>USDb</td>
            <td><span>$120.69K</span><br>120,690 USDb</td>
            <td><span class="text-green">6.47%</span><br>+0.51% / 24h</td>
            <td><span>$11.84K</span><br>11,840 USDb</td>
            <td><span class="text-purple">7.25%</span><br>-0.27% / 24h</td>
          </tr>

          <tr class="spacer"></tr>

          <tr id="asset-icon-all" class="icon asset">
            <td><span>ICON</span><br>ICX</td>
            <td><span>$310.12K</span><br>951,287 ICX</td>
            <td><span class="text-green">4.83%</span><br>+0.12% / 24h</td>
            <td><span>$69.82K</span><br>248,143 ICX</td>
            <td><span class="text-purple">5.25%</span><br>+0.23% / 24h</td>
          </tr>

          <tr class="spacer"></tr>

          <tr id="asset-1" class="asset">
            <td><span>Asset 1</span><br>TKR</td>
            <td><span>$XXX.XXK</span><br>XXX,XXX TKR</td>
            <td><span class="text-green">X.XX%</span><br>+X.XX% / 24h</td>
            <td><span>$XXX.XXK</span><br>XXX,XXX TKR</td>
            <td><span class="text-purple">XX.XX%</span><br>-X.XX% / 24h</td>
          </tr>

          <tr class="spacer"></tr>

          <tr id="asset-2" class="asset">
            <td><span>Asset 2</span><br>TKR</td>
            <td><span>$XXX.XXK</span><br>XXX,XXX TKR</td>
            <td><span class="text-green">X.XX%</span><br>+X.XX% / 24h</td>
            <td><span>$XXX.XXK</span><br>XXX,XXX TKR</td>
            <td><span class="text-purple">XX.XX%</span><br>-X.XX% / 24h</td>
          </tr>

          <tr class="spacer"></tr>

          <tr id="asset-3" class="asset">
            <td><span>Asset 3</span><br>TKR</td>
            <td><span>$XXX.XXK</span><br>XXX,XXX TKR</td>
            <td><span class="text-green">X.XX%</span><br>+X.XX% / 24h</td>
            <td><span>$XXX.XXK</span><br>XXX,XXX TKR</td>
            <td><span class="text-purple">XX.XX%</span><br>-X.XX% / 24h</td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>
  </section>
  <!-- /Asset list -->
</main>
<!-- /Markets content -->

<!-- Modal overlay -->
<div class="modal-overlay"></div>

</body>
