<body>
<!-- Notification-->
<div class="notification">
  <p>This is a notification</p>
  <p class="label">This is some notification content.</p>
</div>


<!-- Bridge supply modal -->
<div class="modal" id="modal-1">
  <div class="modal-content">
    <p class="text-center label">{{this.persistenceService.getUserSuppliedUSDbBalance() < fromUSDbFormatToNumber(this.supplyDepositedBridge?.value) ?"Supply" : "Withdraw"}} Bridge Dollars?</p>
    <p class="text-bold text-center text-size-25 margin-bottom-15">{{getSupplyBridgeDifference().toFixed(2)}} USDb</p>

    <!-- Before & after -->
    <div class="grid">
      <div class="grid-cell text-center border-right">
        <p class="label">Before</p>
        <p>{{this.formatNumberToUSLocaleString(this.persistenceService.getUserSuppliedUSDbBalance().toFixed(2))}} USDb</p>
      </div>

      <div class="grid-cell text-center">
        <p class="label">After</p>
        <p>{{this.formatNumberToUSLocaleString(fromUSDbFormatToNumber(this.supplyDepositedBridge?.value).toFixed(2))}} USDb</p>
      </div>
    </div>

    <!-- Modal actions -->
    <div class="modal-actions">
      <a href="javascript:void(0);" class="cancel modal-close">Cancel</a>
      <a href="javascript:void(0);" id="confirm-collateral-adjust" class="button no-margin modal-confirm"
         (click)="onUSDbSupplyConfirmClick()">{{this.persistenceService.getUserSuppliedUSDbBalance() < fromUSDbFormatToNumber(this.supplyDepositedBridge?.value) ?"Supply" : "Withdraw"}}</a>
    </div>
  </div>
</div>

<!-- Bridge borrow modal -->
<div class="modal" id="modal-2">
  <div class="modal-content">
    <p class="text-center label">{{this.persistenceService.getUserBorrowedUSDbBalance() < fromUSDbFormatToNumber(this.borrowBorrowedBridge?.value) ? "Borrow": "Repay"}} Bridge Dollars?</p>
    <p class="text-bold text-center text-size-25 margin-bottom-15">{{getBorrowBridgeDifference().toFixed(2)}} USDb</p>
    <div class="grid">
      <div class="grid-cell text-center border-right">
        <p class="label">Before</p>
        <p>{{this.formatNumberToUSLocaleString(this.persistenceService.getUserBorrowedUSDbBalance().toFixed(2))}} USDb</p>
      </div>

      <div class="grid-cell text-center">
        <p class="label">After</p>
        <p>{{this.formatNumberToUSLocaleString(fromUSDbFormatToNumber(this.borrowBorrowedBridge?.value).toFixed(2))}} USDb</p>
      </div>
    </div>
    <p class="label text-center margin-top-15">Risk: <span class="risk-percentage" style="font-size: 14px !important;">??%</span></p>
    <div class="modal-actions margin-top-15">
      <a href="javascript:void(0);" class="cancel modal-close">Cancel</a>
      <a href="javascript:void(0);" id="confirm-collateral-adjust" class="button purple no-margin modal-confirm"
         (click)="onBorrowUSDbConfirmClick()">{{this.persistenceService.getUserBorrowedUSDbBalance() < fromUSDbFormatToNumber(this.borrowBorrowedBridge?.value) ? "Borrow": "Repay"}}</a>
    </div>
  </div>
</div>

<!-- Reward claim modal -->
<div class="modal" id="modal-3">
  <div class="modal-content">
    <p class="text-center label">Claim Omm rewards?</p>
    <p class="text-bold text-center text-size-25 margin-bottom-15">50 OMM</p>
    <div class="grid">
      <div class="grid-cell text-center border-right">
        <p class="label">Before</p>
        <p>100 OMM</p>
      </div>

      <div class="grid-cell text-center">
        <p class="label">After</p>
        <p>150 OMM</p>
      </div>
    </div>
    <div class="modal-actions">
      <a href="javascript:void(0);" class="cancel modal-close">Not now</a>
      <a href="javascript:void(0);" id="confirm-collateral-adjust" class="button no-margin modal-confirm">Claim rewards</a>
    </div>
  </div>
</div>

<!-- Sign in modal -->
<div class="modal" id="modal-4">
  <div class="modal-content">
    <p class="text-center label">Sign in with?</p>
    <!-- Login options -->
    <div class="grid login-options">
      <div class="grid-cell text-center margin-right-15 padding-right-15 border-right">
        <a href="javascript:void(0);">
          <p>ICONex</p>
        </a>
      </div>

      <div class="grid-cell text-center">
        <a href="javascript:void(0);">
          <p>Bridge</p>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Header -->
<app-header [walletValue]="'$' + this.formatNumberToUSLocaleString(this.persistenceService.getWalletValue())"> </app-header>
<!-- /Header -->

<!-- Navigation -->
<nav>
  <ul>
    <li>
      <a href="javascript:void(0);" routerLink="" class="active"><img src="assets/img/icons/1.svg" class="svg home"><span>Home</span></a>
    </li>
    <li>
      <a href="javascript:void(0);" routerLink="liquidate"><img src="assets/img/icons/3.svg" class="svg liquidation"><span>Liquidate</span></a>
    </li>
  </ul>
</nav>
<!-- /Navigation -->

<!-- Home content -->
<main class="home" (click)="onMainClick()">

  <!-- Overview -->
  <section class="overview">
    <div class="grid grid-center margin-bottom-15">
      <div class="grid-cell" style="max-width: 125px;">
        <h2>Overview</h2>
      </div>
      <div class="grid-cell" [ngStyle]="{'display': this.persistenceService.userLoggedIn() ? null: 'none'}">
        <ul class="toggle text-left no-padding">
          <li id="toggle-your-overview" class="animation-underline active" (click)="toggleLogic.onToggleYourOverviewClick()">Your overview</li>
          <li id="toggle-market-overview" class="animation-underline" (click)="toggleLogic.onToggleMarketOverviewClick()">Market overview</li>
        </ul>
      </div>
    </div>
    <div id="your-overview-content" class="grid panel" [ngStyle]="{'display': this.persistenceService.userLoggedIn() ? null: 'none'}">
      <div class="grid-cell"><h3 class="text-center"><span class="label">You've supplied</span><br><span class="text-size-25 supply-total-dollar">${{this.formatNumberToUSLocaleString(this.persistenceService.userUSDbReserve?.currentOTokenBalanceUSD)}}</span></h3></div>
      <div class="grid-cell border-right"><h3 class="text-center"><span class="label">Your supply APY</span><br><span class="text-green text-size-25">{{this.persistenceService.userUSDbReserve?.liquidityRate?.toFixed(5)}}%</span></h3></div>
      <div class="grid-cell"><h3 class="text-center"><span class="label">You've borrowed</span><br><span class="text-size-25 borrow-total-dollar">${{this.formatNumberToUSLocaleString(this.persistenceService.userUSDbReserve?.principalBorrowBalanceUSD)}}</span></h3></div>
      <div class="grid-cell"><h3 class="text-center"><span class="label">Your borrow APY</span><br><span class="text-purple text-size-25">{{this.persistenceService.userUSDbReserve?.borrowRate?.toFixed(5)}}%</span></h3></div>
    </div>
    <div id="market-overview-content" class="grid panel" style="display: none;" [ngStyle]="{'display': !this.persistenceService.userLoggedIn() ? null: 'none'}">
      <div class="grid-cell"><h3 class="text-center"><span class="label">Total supplied</span><br><span class="text-size-25">${{this.formatNumberToUSLocaleString(this.persistenceService.getTotalSupplied())}}</span></h3></div>
      <div class="grid-cell border-right"><h3 class="text-center"><span class="label">Avg. supply APY</span><br><span class="text-green text-size-25">{{this.persistenceService.getAvgSupplyApy().toFixed(5)}}%</span></h3></div>
      <div class="grid-cell"><h3 class="text-center"><span class="label">Total borrowed</span><br><span class="text-size-25">${{this.formatNumberToUSLocaleString(this.persistenceService.getTotalBorrowed())}}</span></h3></div>
      <div class="grid-cell"><h3 class="text-center"><span class="label">Avg. borrow APY</span><br><span class="text-purple text-size-25">{{this.persistenceService.getAvgBorrowApy().toFixed(5)}}%</span></h3></div>
    </div>
  </section>




  <!-- Risk / Rewards -->
  <section class="risk-rewards" [ngStyle]="{'display': this.persistenceService.userLoggedIn() ? null: 'none'}">
    <div class="grid">

      <!-- Rewards -->
      <div class="grid-cell rewards">
        <div class="grid">
          <div class="grid-cell" style="max-width: 150px;">
            <h2>Performance</h2>
          </div>
          <div class="grid-cell">
								<span class="tooltip" style="margin-top: 8px;">
                  <span class="tooltip-item"><span class="label margin-left-15 animation-underline" id="time-selector" (click)="toggleLogic.onTimeSelectorClick()"><a href="javascript:void(0);" class="time-selector">Per day</a></span></span>
									<span id="time-tooltip" class="tooltip-content clearfix">
										<div class="grid">
											<div class="grid-cell">
												<ul>
													<li>Week</li>
													<li>Month</li>
													<li>Year</li>
												</ul>
											</div>
										</div>
									</span>
								</span>
          </div>
        </div>

        <div class="panel">
          <div class="grid">
            <div class="grid-cell"><h3 class="text-center"><span class="label">Supply interest</span><br><span class="supply-interest-total">+$1.77</span></h3></div>
            <div class="grid-cell"><h3 class="text-center"><span class="label">Borrow interest</span><br><span class="borrow-interest-total">-$0.47</span></h3></div>
            <div class="grid-cell"><h3 class="text-center"><span class="label">Omm rewards</span><br><span class="omm-rewards-total">+16.99</span></h3></div>
          </div>
          <p class="text-center"><a href="#" class="button modal-trigger" data-modal="modal-3">Claim Omm rewards</a></p>
        </div>
      </div>

      <!-- Risk -->
      <div class="grid-cell risk">
        <h2>Risk <span class="risk-percentage">23%</span></h2>
        <div class="panel">
          <p class="label text-right"><span>Your supply will be liquidated at 100%.</span></p>
          <div id="risk-slider" disabled></div>
          <div class="grid legend margin-bottom-5">
            <div class="grid-cell">
              <p class="label bridge">Bridge Dollars</p>
            </div>
          </div>
        </div>
      </div>


    </div>
  </section>

  <!-- Asset list -->
  <section>
    <div class="grid grid-center margin-bottom-25">
      <div class="grid-cell" style="max-width: 110px;">
        <h2>Markets</h2>
      </div>
      <div [ngStyle]="{'display': this.persistenceService.userLoggedIn() ? null: 'none'}" class="grid-cell">
        <ul class="toggle text-left no-padding">
          <li id="toggle-your-markets" class="active animation-underline" (click)="toggleLogic.onToggleYourMarketsClick()">Your markets</li>
          <li id="toggle-all-markets" class="animation-underline" (click)="toggleLogic.onToggleAllMarketsClick(bridgeSupplySlider, bridgeBorrowSlider, iconSupplySlider, iconBorrowSlider)">All markets</li>
        </ul>
      </div>
      <div class="grid-cell text-right">
        <input type="text" name="" placeholder="Search markets" style="max-width: 300px;">
      </div>
    </div>

    <div class="grid">
      <div class="grid-cell">
        <!-- Your markets -->
        <table [ngStyle]="{'display': this.persistenceService.userLoggedIn() ? null: 'none'}" id="your-markets-list" class="list">
          <thead>
          <tr>
            <th>Asset</th>
            <th>You've supplied</th>
            <th>
              <span class="tooltip hover">
                <span class="tooltip-item">Supply APY</span>
                <span class="tooltip-content clearfix" style="width:285px;margin-left:-120px;margin-bottom: 10px;">
                  <div class="grid">
                    <div class="grid-cell no-margin">
                      <p style="line-height: 1.4;">The amount of compounded interest you’ll earn if you supply an asset for 1 year. Rates vary based on supply and demand. The higher, the better.</p>
                    </div>
                  </div>
                </span>
              </span>
            </th>
            <th>You've borrowed</th>
            <th>
              <span class="tooltip hover">
                <span class="tooltip-item">Borrow APY</span>
                <span class="tooltip-content clearfix" style="width:325px;margin-left:-130px;margin-bottom: 10px;">
                  <div class="grid">
                    <div class="grid-cell no-margin">
                      <p style="line-height: 1.4;">The amount of compounded interest you’ll lose from your supply if you borrow an asset for 1 year. Rates vary based on supply and demand. The lower, the better.</p>
                    </div>
                  </div>
                </span>
              </span>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr id="asset-bridge" class="asset bridge" (click)="onAssetBridgeClick()">
            <td><span>Bridge Dollars</span><br>USDb</td>
            <td><span>${{this.formatNumberToNdigits(this.persistenceService.userUSDbReserve?.currentOTokenBalanceUSD)}}</span>
              <br>{{this.formatNumberToUSLocaleString(this.persistenceService.userUSDbReserve?.currentOTokenBalance)}} USDb</td>
            <td><span class="text-green">{{this.persistenceService.userUSDbReserve?.liquidityRate?.toFixed(5)}}%</span><br>+??%</td>
            <td><span>${{this.formatNumberToNdigits(this.persistenceService.userUSDbReserve?.principalBorrowBalanceUSD)}}</span>
              <br>{{this.formatNumberToUSLocaleString(this.persistenceService.userUSDbReserve?.principalBorrowBalance)}} USDb</td>
            <td><span class="text-purple">{{this.persistenceService.userUSDbReserve?.borrowRate?.toFixed(5)}}%</span><br>-??%</td>
          </tr>
          <tr class="expanded">
            <td colspan="5" class="no-padding">
              <div id="asset-bridge-expanded" class="grid asset-expanded" style="display: none;">
                <div class="grid-cell">
                  <!-- Market container -->
                  <div class="grid">
                    <!-- Supply container-->
                    <div id="supply" class="grid-cell container supply">
                      <!-- Title -->
                      <div class="grid grid-center title">
                        <div class="grid-cell">
                          <h2>Supply</h2>
                        </div>
                        <div class="grid-cell text-right">
                          <span class="text-green">{{this.persistenceService.userUSDbReserve?.liquidityRate?.toFixed(5)}}% APY</span>
                        </div>
                      </div>

                      <!-- Slider -->
                      <div class="grid">
                        <div class="grid-cell">
                          <div id="bridge-supply-slider" disabled></div>
                        </div>
                      </div>

                      <!-- Legend -->
                      <div class="grid legend">
                        <div class="grid-cell margin-right-25">
                          <p class="label deposited">Supplied</p>
                          <input title="Deposited supply" id="supply-deposited-bridge" class="input-supply-deposited" (keyup)="depositUSDbAmountChange()" disabled="" value="50 USDb">
                        </div>
                        <div class="grid-cell">
                          <p class="label available">Wallet</p>
                          <input title="Available supply" id="supply-available-bridge" class="input-supply-available" disabled="" value="50 USDb">
                        </div>
                      </div>

                      <!-- Income -->
                      <div class="grid legend income">
                        <div class="grid-cell margin-right-25">
                          <p class="label">Daily interest</p>
                          <p class="supply-interest-bridge">+ 10 USDb</p>
                        </div>
                        <div class="grid-cell">
                          <p class="label">Daily rewards</p>
                          <p class="supply-rewards-bridge">+ 10 OMM</p>
                        </div>
                      </div>

                      <!-- Actions -->
                      <div class="grid">
                        <div class="grid-cell text-center">
                          <!-- Adjust -->
                          <div class="grid grid-center supply-actions">
                            <div class="grid-cell text-center">
                              <a href="javascript:void(0);" class="button supply-adjust"
                                 (click)="toggleLogic.onSupplyAdjustClick(bridgeSupplySlider,iconSupplySlider, tapSupplySlider, bridgeBorrowSlider, this.persistenceService, iconBorrowSlider)">Adjust</a>
                            </div>
                          </div>
                          <!-- Confirm -->
                          <div class="grid grid-center supply-actions hide">
                            <div class="grid-cell text-right">
                              <a href="javascript:void(0);" class="cancel supply-adjust"
                                 (click)="toggleLogic.onSupplyAdjustClick(bridgeSupplySlider,iconSupplySlider, tapSupplySlider, bridgeBorrowSlider, this.persistenceService, iconBorrowSlider)">Cancel</a>
                            </div>
                            <div class="grid-cell text-left">
                              <a href="javascript:void(0);" class="button modal-trigger" data-modal="modal-1">Confirm</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /Supply container-->

                    <!-- Borrow container -->
                    <div id="borrow" class="grid-cell container borrow">
                      <!-- Title -->
                      <div class="grid grid-center title">
                        <div class="grid-cell">
                          <h2>Borrow <span class="label text-grey">Risk: <span class="risk-percentage text-grey" style="font-size: 14px !important;">23%</span></span></h2>
                        </div>
                        <div class="grid-cell text-right">
                          <span class="text-purple">{{this.persistenceService.userUSDbReserve?.borrowRate?.toFixed(5)}}% APY</span>
                        </div>
                      </div>

                      <!-- Slider -->
                      <div class="grid">
                        <div class="grid-cell">
                          <div id="bridge-borrow-slider" disabled></div>
                        </div>
                      </div>

                      <!-- Legend -->
                      <div class="grid legend">
                        <div class="grid-cell  margin-right-25">
                          <p class="label deposited">Borrowed</p>
                          <input (keyup)="borrowUSDbAmountChange()" title="Deposited borrow" id="borrow-borrowed-bridge" class="input-borrow-borrowed" disabled="" value="1,500 USDb">
                        </div>
                        <div class="grid-cell">
                          <p class="label available">Available</p>
                          <input title="Available borrow" id="borrow-available-bridge" class="input-borrow-available" disabled="" value="1,800 USDb">
                        </div>
                      </div>

                      <!-- Income -->
                      <div class="grid legend income">
                        <div class="grid-cell margin-right-25">
                          <p class="label">Daily interest</p>
                          <p class="borrow-interest-bridge">- 10 USDb</p>
                        </div>
                        <div class="grid-cell">
                          <p class="label">Daily rewards</p>
                          <p class="borrow-rewards-bridge">+ 10 OMM</p>
                        </div>
                      </div>

                      <!-- Button -->
                      <div class="grid">
                        <div class="grid-cell text-center">
                          <div class="grid grid-center borrow-actions">
                            <div class="grid-cell text-center">
                              <a href="javascript:void(0);" class="button purple borrow-adjust" id="borrow-adjust-button"
                                 (click)="toggleLogic.onBorrowAdjustClick(bridgeBorrowSlider, iconSupplySlider, tapSupplySlider, bridgeSupplySlider, this.persistenceService)">Adjust</a>
                            </div>
                          </div>
                          <div class="grid grid-center borrow-actions hide">
                            <div class="grid-cell text-right">
                              <a href="javascript:void(0);" class="cancel borrow-adjust"
                                 (click)="toggleLogic.onBorrowAdjustClick(bridgeBorrowSlider, iconSupplySlider, tapSupplySlider, bridgeSupplySlider, this.persistenceService)">Cancel</a>
                            </div>
                            <div class="grid-cell text-left">
                              <a href="javascript:void(0);" class="button purple modal-trigger" data-modal="modal-2" id="modal-trigger-2">Confirm</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /Borrow container -->
                  </div>
                  <!-- /Market container -->
                </div>
              </div>
            </td>
          </tr>

          <tr class="spacer"></tr>

          <tr id="asset-icon" class="icon asset" (click)="onAssetIconClick()">
            <td><span>ICON</span><br>ICX</td>
            <td><span>${{this.formatNumberToNdigits(this.persistenceService.userIcxReserve?.currentOTokenBalanceUSD)}}</span>
              <br>{{this.formatNumberToUSLocaleString(this.persistenceService.userIcxReserve?.currentOTokenBalance)}} ICX</td>
            <td><span class="text-green">{{this.persistenceService.userIcxReserve?.liquidityRate?.toFixed(5)}}%</span>
              <br>+??%</td>
            <td><span>${{this.formatNumberToNdigits(this.persistenceService.userIcxReserve?.principalBorrowBalanceUSD)}}</span>
              <br>{{this.formatNumberToUSLocaleString(this.persistenceService.userIcxReserve?.principalBorrowBalance)}} ICX</td>
            <td><span class="text-purple">{{this.persistenceService.userIcxReserve?.borrowRate?.toFixed(5)}}%</span><br>+??%</td>
          </tr>
          <tr class="expanded">
            <td colspan="5" class="no-padding">
              <div id="asset-icon-expanded" class="grid asset-expanded" style="display: none;">

                <div class="grid-cell">
                  <div class="grid">

                    <!-- Supply -->
                    <div id="supply" class="grid-cell container supply">
                      <!-- Title -->
                      <div class="grid grid-center title">
                        <div class="grid-cell">
                          <h2>Supply</h2>
                        </div>
                        <div class="grid-cell text-right">
                          <span class="text-green">{{this.persistenceService.userIcxReserve?.liquidityRate?.toFixed(5)}}% APY</span>
                        </div>
                      </div>

                      <!-- Slider -->
                      <div class="grid">
                        <div class="grid-cell">
                          <div id="icon-supply-slider"></div>
                        </div>
                      </div>

                      <!-- Legend -->
                      <div class="grid legend">
                        <div class="grid-cell margin-right-25">
                          <p class="label deposited">Supplied</p>
                          <input title="Deposited supply" id="supply-deposited-icon" class="input-borrow-borrowed" (keyup)="depositIcxAmountChange()" value="30,000 ICX">
                        </div>
                        <div class="grid-cell">
                          <p class="label available">Wallet</p>
                          <input title="Available supply" id="supply-available-icon" class="input-borrow-borrowed" value="0 ICX">
                        </div>
                      </div>

                      <!-- Income -->
                      <div class="grid legend income">
                        <div class="grid-cell margin-right-25">
                          <p class="label">Daily interest</p>
                          <p id="supply-interest">+7.12 ICX</p>
                        </div>
                        <div class="grid-cell">
                          <p class="label">Daily rewards</p>
                          <p id="supply-rewards">+18.84 OMM</p>
                        </div>
                      </div>

                      <!-- Button -->
                      <div class="grid">
                        <div class="grid-cell text-center">

                          <div class="grid grid-center supply-actions">
                            <div class="grid-cell text-center">
                              <a href="javascript:void(0);" class="button supply-adjust" id="supply-adjust-button"
                                 (click)="toggleLogic.onSupplyAdjustClick(bridgeSupplySlider, iconSupplySlider, tapSupplySlider, bridgeBorrowSlider, this.persistenceService, iconBorrowSlider)">Adjust</a>
                            </div>
                          </div>
                          <div class="grid grid-center supply-actions hide">
                            <div class="grid-cell text-right">
                              <a href="javascript:void(0);" class="cancel supply-adjust"
                                 (click)="toggleLogic.onSupplyAdjustClick(bridgeSupplySlider, iconSupplySlider, tapSupplySlider, bridgeBorrowSlider, this.persistenceService, iconBorrowSlider)">Cancel</a>
                            </div>
                            <div class="grid-cell text-left">
                              <a href="javascript:void(0);" class="button" (click)="onIcxSupplyConfirmClick()">Confirm</a>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>

                    <!-- Borrow content -->
                    <div id="borrow" class="grid-cell container borrow">
                      <!-- Title -->
                      <div class="grid grid-center title">
                        <div class="grid-cell">
                          <h2>Borrow <span class="label">Risk: <span class="risk-percentage text-grey" style="font-size: 14px !important;">23%</span></span></h2>
                        </div>
                        <div class="grid-cell text-right">
                          <span class="text-purple">{{this.persistenceService.userIcxReserve?.borrowRate?.toFixed(5)}}% APY</span>
                        </div>
                      </div>

                      <!-- Slider -->
                      <div class="grid">
                        <div class="grid-cell">
                          <div id="icon-borrow-slider" ></div>
                        </div>
                      </div>

                      <!-- Legend -->
                      <div class="grid legend">
                        <div class="grid-cell">
                          <p class="label deposited">Borrowed</p>
                          <input title="Deposited borrow" id="borrow-borrowed-icon" class="input-borrow-borrowed"  value="0 ICX">
                        </div>
                        <div class="grid-cell">
                          <p class="label available">Available</p>
                          <input title="Available borrow" id="borrow-available-icon" class="input-borrow-borrowed"  value="16,000 ICX">
                        </div>
                      </div>

                      <!-- Income -->
                      <div class="grid legend income">
                        <div class="grid-cell margin-right-25">
                          <p class="label">Daily interest</p>
                          <p id="borrow-interest">0 ICX</p>
                        </div>
                        <div class="grid-cell">
                          <p class="label">Daily rewards</p>
                          <p id="borrow-rewards">0 OMM</p>
                        </div>
                      </div>

                      <!-- Button -->
                      <div class="grid">
                        <div class="grid-cell text-center">
                          <div class="grid grid-center borrow-actions">
                            <div class="grid-cell text-center">
                              <a href="javascript:void(0);" class="button purple borrow-adjust" id="borrow-adjust-button"
                                 (click)="toggleLogic.onBorrowAdjustClick(bridgeBorrowSlider, iconSupplySlider, tapSupplySlider, bridgeSupplySlider, this.persistenceService)">Adjust</a>
                            </div>
                          </div>
                          <div class="grid grid-center borrow-actions hide">
                            <div class="grid-cell text-right">
                              <a href="javascript:void(0);" class="cancel borrow-adjust"
                                 (click)="toggleLogic.onBorrowAdjustClick(bridgeBorrowSlider, iconSupplySlider, tapSupplySlider, bridgeSupplySlider, this.persistenceService)">Cancel</a>
                            </div>
                            <div class="grid-cell text-left">
                              <a href="javascript:void(0);" class="button purple" (click)="onBorrowIcxConfirmClick()">Confirm</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Borrow content -->
                  </div>
                </div>
              </div>
            </td>
          </tr>

          <!-- Potential markets -->
          <tr>
            <td colspan="5" class="table-label">
              <p class="separator-full text-center"><span>Available to supply</span></p>
            </td>
          </tr>
          <tr id="asset-tap" class="tap asset">
            <td><span>TAP Tokens</span><br>TAP</td>
            <td><p class="opacity-half"><span>—</span><br>—</p></td>
            <td><span class="text-green">9.83%</span><br>+1.12%</td>
            <td><p class="opacity-half"><span>—</span><br>—</p></td>
            <td><span class="text-purple">15.25%</span><br>+4.23%</td>
          </tr>
          <!-- /Potential markets -->

          <tr class="expanded">
            <td colspan="5" class="no-padding">
              <div id="asset-tap-expanded" class="grid asset-expanded" style="display: none;">

                <div class="grid-cell">
                  <div class="grid">

                    <!-- Supply -->
                    <div id="supply" class="grid-cell container supply">
                      <!-- Title -->
                      <div class="grid grid-center title">
                        <div class="grid-cell">
                          <h2>Supply</h2>
                        </div>
                        <div class="grid-cell text-right">
                          <span class="text-green">9.83% APY</span>
                        </div>
                      </div>

                      <!-- Slider -->
                      <div class="grid">
                        <div class="grid-cell">
                          <div id="tap-supply-slider" disabled></div>
                        </div>
                      </div>

                      <!-- Legend -->
                      <div class="grid legend">
                        <div class="grid-cell margin-right-25">
                          <p class="label deposited">Supplied</p>
                          <input title="Deposited supply" id="supply-deposited-tap" class="input-borrow-borrowed" disabled="" value="0 TAP">
                        </div>
                        <div class="grid-cell">
                          <p class="label available">Wallet</p>
                          <input title="Available supply" id="supply-available-tap" class="input-borrow-borrowed" disabled="" value="3,000 TAP">
                        </div>
                      </div>

                      <!-- Income -->
                      <div class="grid legend income">
                        <div class="grid-cell margin-right-25">
                          <p class="label">Daily interest</p>
                          <p id="supply-interest">0 TAP</p>
                        </div>
                        <div class="grid-cell">
                          <p class="label">Daily rewards</p>
                          <p id="supply-rewards">0 OMM</p>
                        </div>
                      </div>

                      <!-- Button -->
                      <div class="grid">
                        <div class="grid-cell text-center">

                          <div class="grid grid-center supply-actions">
                            <div class="grid-cell text-center">
                              <a href="#" class="button supply-adjust" id="supply-adjust-button"
                              >Supply</a>
                            </div>
                          </div>
                          <div class="grid grid-center supply-actions hide">
                            <div class="grid-cell text-right">
                              <a href="#" class="cancel supply-adjust">Cancel</a>
                            </div>
                            <div class="grid-cell text-left">
                              <a href="#" class="button modal-trigger" data-modal="modal-1">Confirm</a>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>

                    <!-- Borrow content -->
                    <div id="borrow" class="grid-cell container borrow">
                      <!-- Title -->
                      <div class="grid grid-center title">
                        <div class="grid-cell">
                          <h2>Borrow <span class="label">Risk: <span class="risk-percentage text-grey" style="font-size: 14px !important;">23%</span></span></h2>
                        </div>
                        <div class="grid-cell text-right">
                          <span class="text-purple">15.25% APY</span>
                        </div>
                      </div>

                      <!-- Slider -->
                      <div class="grid">
                        <div class="grid-cell">
                          <div id="tap-borrow-slider" disabled></div>
                        </div>
                      </div>

                      <!-- Legend -->
                      <div class="grid legend">
                        <div class="grid-cell margin-right-25">
                          <p class="label deposited">Borrowed</p>
                          <input title="Deposited borrow" id="borrow-borrowed-tap" class="input-borrow-borrowed" disabled="" value="0 TAP">
                        </div>
                        <div class="grid-cell">
                          <p class="label available">Available</p>
                          <input title="Available borrow" id="borrow-available-tap" class="input-borrow-borrowed" disabled="" value="10,000 TAP">
                        </div>
                      </div>

                      <!-- Income -->
                      <div class="grid legend income">
                        <div class="grid-cell margin-right-25">
                          <p class="label">Daily interest</p>
                          <p id="borrow-interest">0 TAP</p>
                        </div>
                        <div class="grid-cell">
                          <p class="label">Daily rewards</p>
                          <p id="borrow-rewards">0 OMM</p>
                        </div>
                      </div>

                      <!-- Button -->
                      <div class="grid">
                        <div class="grid-cell text-center">
                          <div class="grid grid-center borrow-actions">
                            <div class="grid-cell text-center">
                              <a href="#" class="button purple borrow-adjust" id="borrow-adjust-button">Borrow</a>
                            </div>
                          </div>
                          <div class="grid grid-center borrow-actions hide">
                            <div class="grid-cell text-right">
                              <a href="#" class="cancel borrow-adjust">Cancel</a>
                            </div>
                            <div class="grid-cell text-left">
                              <a href="#" class="button purple modal-trigger" data-modal="modal-2">Confirm</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Borrow content -->
                  </div>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>


        <!-- All markets -->
        <table [ngStyle]="{'display': !this.persistenceService.userLoggedIn() ? null: 'none'}" id="all-markets-list" class="list">
          <thead>
            <tr>
              <th>Asset</th>
              <th>Total supplied</th>
              <th>Supply APY</th>
              <th>Total borrowed</th>
              <th>Borrow APY</th>
            </tr>
          </thead>
          <tbody>

          <tr id="asset-bridge" class="asset bridge">
            <td><span>Bridge Dollars</span><br>USDb</td>
            <td><span>${{this.formatNumberToNdigits(this.persistenceService.allReserves?.USDb?.totalLiquidity)}}</span>
              <br>{{this.formatNumberToUSLocaleString(this.persistenceService.allReserves?.USDb?.totalLiquidity)}} USDb</td>
            <td><span class="text-green">{{this.persistenceService.allReserves?.USDb?.liquidityRate?.toFixed(5)}}%</span>
              <br>+??%</td>
            <td><span>${{this.formatNumberToNdigits(this.persistenceService.allReserves?.USDb?.totalBorrows)}}</span>
              <br>{{this.formatNumberToUSLocaleString(this.persistenceService.allReserves?.USDb?.totalBorrows)}} USDb</td>
            <td><span class="text-purple">{{this.persistenceService.allReserves?.USDb?.borrowRate?.toFixed(5)}}%</span>
              <br>-??%</td>
          </tr>

          <tr>
            <td colspan="5" class="no-padding">
              <div id="asset-bridge-expanded" class="grid asset-expanded" style="display: none;">
                <div class="grid-cell">
                  <!-- Market container -->
                  <div class="grid">
                    <!-- Supply container-->
                    <div id="supply" class="grid-cell container supply">
                      <!-- Title -->
                      <div class="grid grid-center title">
                        <div class="grid-cell">
                          <h2>Supply</h2>
                        </div>
                        <div class="grid-cell text-right">
                          <span class="text-green">6.47% APY</span>
                        </div>
                      </div>

                      <!-- Slider -->
                      <div class="grid">
                        <div class="grid-cell">
                          <div id="bridge-supply-slider" disabled></div>
                        </div>
                      </div>

                      <!-- Legend -->
                      <div class="grid legend">
                        <div class="grid-cell">
                          <p class="label deposited">Supplied</p>
                          <input title="Deposited supply" id="supply-deposited" disabled="" value="50 USDb">
                        </div>
                        <div class="grid-cell">
                          <p class="label available">Wallet</p>
                          <input title="Available supply" id="supply-available" disabled="" value="50 USDb">
                        </div>
                      </div>

                      <!-- Income -->
                      <div class="grid legend income">
                        <div class="grid-cell">
                          <p class="label">Daily interest</p>
                          <p class="supply-interest">+ 10 USDb</p>
                        </div>
                        <div class="grid-cell">
                          <p class="label">Daily rewards</p>
                          <p id="supply-rewards">+ 10 OMM</p>
                        </div>
                      </div>

                      <!-- Actions -->
                      <div class="grid">
                        <div class="grid-cell text-center">
                          <!-- Adjust -->
                          <div class="grid grid-center supply-actions">
                            <div class="grid-cell text-center">
                              <a href="#" class="button supply-adjust" id="supply-adjust-button">Adjust</a>
                            </div>
                          </div>
                          <!-- Confirm -->
                          <div class="grid grid-center supply-actions hide">
                            <div class="grid-cell text-right">
                              <a href="#" class="cancel supply-adjust">Cancel</a>
                            </div>
                            <div class="grid-cell text-left">
                              <a href="#" class="button modal-trigger" data-modal="modal-1">Confirm</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /Supply container-->

                    <!-- Borrow container -->
                    <div id="borrow" class="grid-cell container borrow">
                      <!-- Title -->
                      <div class="grid grid-center title">
                        <div class="grid-cell">
                          <h2>Borrow <span class="label">Risk: <span class="risk-percentage text-grey" style="font-size: 14px !important;">23%</span></span></h2>
                        </div>
                        <div class="grid-cell text-right">
                          <span>-0.27% APY</span>
                        </div>
                      </div>

                      <!-- Slider -->
                      <div class="grid">
                        <div class="grid-cell">
                          <div id="bridge-borrow-slider" disabled></div>
                        </div>
                      </div>

                      <!-- Legend -->
                      <div class="grid legend">
                        <div class="grid-cell">
                          <p class="label deposited">Borrowed</p>
                          <input title="Deposited borrow" id="borrow-borrowed" disabled="" value="50 USDb">
                        </div>
                        <div class="grid-cell">
                          <p class="label available">Available</p>
                          <input title="Available borrow" id="borrow-available" disabled="" value="50 USDb">
                        </div>
                      </div>

                      <!-- Income -->
                      <div class="grid legend income">
                        <div class="grid-cell">
                          <p class="label">Daily interest</p>
                          <p class="borrow-interest-bridge">- 10 USDb</p>
                        </div>
                        <div class="grid-cell">
                          <p class="label">Daily rewards</p>
                          <p class="borrow-rewards-bridge">+ 10 OMM</p>
                        </div>
                      </div>

                      <!-- Button -->
                      <div class="grid">
                        <div class="grid-cell text-center">
                          <div class="grid grid-center borrow-actions">
                            <div class="grid-cell text-center">
                              <a href="#" class="button purple borrow-adjust" id="borrow-adjust-button">Adjust</a>
                            </div>
                          </div>
                          <div class="grid grid-center borrow-actions hide">
                            <div class="grid-cell text-right">
                              <a href="#" class="cancel borrow-adjust">Cancel</a>
                            </div>
                            <div class="grid-cell text-left">
                              <a href="#" class="button purple modal-trigger" data-modal="modal-2">Confirm</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /Borrow container -->
                  </div>
                  <!-- /Market container -->
                </div>
              </div>
            </td>
          </tr>

          <tr class="spacer"></tr>

          <tr id="asset-tap" class="tap asset">
            <td><span>TAP Tokens</span><br>TAP</td>
            <td><span>$??K</span><br>?? TAP</td>
            <td><span class="text-green">??%</span><br>+??%</td>
            <td><span>$??K</span><br>?? TAP</td>
            <td><span class="text-purple">??%</span><br>+??%</td>
          </tr>

          <tr class="spacer"></tr>

          <tr id="asset-icon-all" class="icon asset">
            <td><span>ICON</span><br>ICX</td>
            <td><span>${{this.formatNumberToNdigits(this.persistenceService.allReserves?.sICX?.totalLiquidity)}}</span>
              <br>{{this.formatNumberToUSLocaleString(this.persistenceService.allReserves?.sICX?.totalLiquidity)}} ICX</td>
            <td><span class="text-green">{{this.persistenceService.allReserves?.sICX?.liquidityRate?.toFixed(5)}}%</span>
              <br>+??%</td>
            <td><span>${{this.formatNumberToNdigits(this.persistenceService.allReserves?.sICX?.totalBorrows)}}</span>
              <br>{{this.formatNumberToUSLocaleString(this.persistenceService.allReserves?.sICX?.totalBorrows)}} ICX</td>
            <td><span class="text-purple">{{this.persistenceService.allReserves?.sICX?.borrowRate?.toFixed(5)}}%</span>
              <br>-??%</td>
          </tr>

          <tr class="spacer"></tr>

          <tr id="asset-1" class="asset">
            <td><span>ICON Dollars</span><br>ICD</td>
            <td><span>$??K</span><br>?? ICD</td>
            <td><span class="text-green">??%</span><br>+??%</td>
            <td><span>$??K</span><br>?? ICD</td>
            <td><span class="text-purple">??%</span><br>??%</td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>
  </section>
  <!-- /Asset list -->
</main>
<!-- /Markets content -->

<!-- Modal overlay -->
<div class="modal-overlay"></div>

</body>

<script>
  ( function( $ ) {
    $( 'a[href="#"]' ).click( function(e) {
      e.preventDefault();
    } );
  })( jQuery );
</script>
