<main>
  <!-- Breadcrumbs -->
  <div class="breadcrumbs vote">
    <ol>
      <li><a href="javascript:void(0);" routerLink="/vote" class="animation-underline">Vote</a> <span class="label"> &gt; </span> </li>
      <li>New proposal</li>
    </ol>
  </div>

  <div class="grid">
    <div class="grid-cell">
      <h2>Proposal type: Text</h2>
    </div>
  </div>

  <!-- Text proposal -->
  <section id="new-proposal-text" class="panel proposal-type-1-content new-proposal">
    <!-- Container -->
    <div class="grid">
      <div class="grid-cell">
        <div class="grid grid-center title">
          <div class="grid-cell">
            <h3 class="">Title</h3>
          </div>
          <div class="grid-cell text-right">
            <p class="label">{{titleSize}}/100</p>
          </div>
        </div>
        <input type="text" placeholder="" class="" required="" maxlength="100" [value]="title" (input)="onTitleChange($event)">

        <div class="grid grid-center title">
          <div class="grid-cell">
            <h3>Forum link</h3>
          </div>
        </div>
        <input type="text" placeholder="" class="" required="" maxlength="200" (input)="onForumLinkChange($event)">

        <div class="grid grid-center title">
          <div class="grid-cell">
            <h3>Description</h3>
          </div>
          <div class="grid-cell text-right">
            <p class="label">{{descriptionSize}}/500</p>
          </div>
        </div>
        <textarea placeholder="" name="description" type="text" maxlength="500" [value]="description" (input)="onDescriptionChange($event)"></textarea>

        <p class="label message text-center">It costs {{voteDefinitionFee() | roundOff2Dec | usFormat}} OMM to submit a proposal, which is refunded if it's approved.</p>

        <div class="grid text-center">
          <div class="grid-cell">
            <p><a id="new-proposal-submit" href="javascript:void(0);" class="button modal-trigger {{fieldsValid() && userHasEnoughOmmStaked() ? '' : 'disabled'}}"  data-modal="modal-submit-proposal" (click)="onSubmitClick()">Submit</a></p>
            <!-- Min OMM stake required for creating a proposal -->
            <ng-container *ngIf="!userHasEnoughOmmStaked()">
              <br>
              <p class="label text-red text-center">You need at least {{persistenceService.getMinOmmStakedRequiredForProposal() | roundOff2Dec | usFormat}} bOMM to propose a change.</p>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
