.red-border {
  border-color: red !important;
}

/* ICON USDC logo */
.list tbody tr.usdc td:first-of-type {
  background-image: url(../img/logos/usdc-logo.png);
  background-repeat: no-repeat;
  background-position: 33px center;
  background-size: 35px;
}

/* Stably USD logo */
.list tbody tr.usds td:first-of-type {
  background-image: url(../img/logos/usds-logo.png);
  background-repeat: no-repeat;
  background-position: 33px center;
  background-size: 35px;
}

/* BALN logo */
.list tbody tr.baln td:first-of-type {
  background-image: url(../img/logos/baln.svg);
  background-repeat: no-repeat;
  background-position: 33px center;
  background-size: 35px;
}

/* OMM logo */
.list tbody tr.omm td:first-of-type {
  background-image: url(../img/logo/omm-symbol.svg);
  background-repeat: no-repeat;
  background-position: 33px center;
  background-size: 35px;
}

.value-your-votes {
  font-size: 20px;
  color: #7a8294;
}

.stake-omm-actions-adjust .button {
  margin-top: 0 !important;
}

.spinner-wrapper {
  height: 100%;
  padding: 0;
  margin: 0;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  min-width: 35px;
  min-height: 35px;
  width: 4vw;
  height: 4vw;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 4000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 4000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
