.red-border {
  border-color: red !important;
}

/* ICON USDC logo */
.list tbody tr.usdc td:first-of-type {
  background-image: url(../img/logos/usdc-logo.png);
  background-repeat: no-repeat;
  background-position: 33px center;
  background-size: 35px;
}

/* Stably USD logo */
.list tbody tr.usds td:first-of-type {
  background-image: url(../img/logos/usds-logo.png);
  background-repeat: no-repeat;
  background-position: 33px center;
  background-size: 35px;
}

/* BALN logo */
.list tbody tr.baln td:first-of-type {
  background-image: url(../img/logos/baln.svg);
  background-repeat: no-repeat;
  background-position: 33px center;
  background-size: 35px;
}

/* OMM logo */
.list tbody tr.omm td:first-of-type {
  background-image: url(../img/logo/omm-symbol.svg);
  background-repeat: no-repeat;
  background-position: 33px center;
  background-size: 35px;
}

.value-your-votes {
  font-size: 20px;
  color: #7a8294;
}

.stake-omm-actions-adjust .button {
  margin-top: 0 !important;
}

.spinner-wrapper {
  height: 100%;
  padding: 0;
  margin: 0;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  min-width: 35px;
  min-height: 35px;
  width: 4vw;
  height: 4vw;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 4000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 4000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.chart-wrapper {
  width: 100%;
  position: relative;
  height: 100px;
}

.chart-wrapper .chart-apy {
  position: absolute;
  width: 100%;
  height: 100px;
}

/*
 * Notifications styling
 */

.notifier__container * {
  box-sizing: border-box;
}
.notifier__container-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
.notifier__notification {
  display: flex;
  align-items: center;
  position: fixed;
  visibility: hidden;
  z-index: 10000;
  will-change: transform;
  backface-visibility: hidden;
}

.notifier__notification--custom {
  border-radius: 3px;
  box-shadow: 0 2.8px 2.2px rgba(174, 196, 215, 0.034), 0 6.7px 5.3px rgba(174, 196, 215, 0.048), 0 12.5px 10px rgba(174, 196, 215, 0.06), 0 22.3px 17.9px rgba(174, 196, 215, 0.072), 0 41.8px 33.4px rgba(174, 196, 215, 0.086), 0 100px 80px rgba(174, 196, 215, 0.12);
  cursor: default;
}
.notifier__notification--custom .notifier__notification-message {
  color: #49546a;
  font-family: 'metropolis-medium';
  display: inline-block;
  margin: 10px 20px;
  vertical-align: top;
  line-height: 32px;
  font-size: 14px;
}
.notifier__notification--custom .notifier__notification-button {
  display: inline-block;
  transition: opacity 0.2s ease;
  opacity: 0.5;
  margin-right: 16px;
  margin-left: 10px;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  padding: 6px;
  width: 32px;
  height: 32px;
  vertical-align: top;
}
.notifier__notification--custom .notifier__notification-button:hover,
.notifier__notification--custom .notifier__notification-button:focus {
  opacity: 1;
}
.notifier__notification--material .notifier__notification-button:active {
  transform: scale(0.82);
  opacity: 1;
}

.notifier__notification--info {
  color: #49546a;
  border-radius: 10px;
  background-color: #fff;
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.notifier__notification--info .notifier__notification-button-icon {
  fill: #fff;
}


@media (prefers-color-scheme: dark) {
  .notifier__notification--info {
    color: #fff;
    background-color: #3f414a;
  }
  .notifier__notification--custom {
    box-shadow: 0 2.8px 2.2px rgba(35, 36, 41, 0.034), 0 6.7px 5.3px rgba(35, 36, 41, 0.048), 0 12.5px 10px rgba(35, 36, 41, 0.06), 0 22.3px 17.9px rgba(35, 36, 41, 0.072), 0 41.8px 33.4px rgba(35, 36, 41, 0.086), 0 100px 80px rgba(35, 36, 41, 0.12);
  }
  .notifier__notification--custom .notifier__notification-message {
    color: #fff;
  }
}
