/*
* Omm
* Modules CSS
* Version PROTOTYPE
* Last updated 22/10/20
*/

/* ==========================================================================
	Fonts
========================================================================== */

/*
*	Metropolis light
*/

@font-face {
  font-family: 'metropolis-light';
  src: url('../font/metropolis-light/metropolis-light.woff2') format('woff2'),
  url('../font/metropolis-light/metropolis-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*
*	Metropolis regular
*/

@font-face {
  font-family: 'metropolis-regular';
  src: url('../font/metropolis-regular/metropolis-regular.woff2') format('woff2'),
  url('../font/metropolis-regular/metropolis-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*
*	Metropolis medium
*/

@font-face {
  font-family: 'metropolis-medium';
  src: url('../font/metropolis-medium/metropolis-medium.woff2') format('woff2'),
  url('../font/metropolis-medium/metropolis-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*
*	Metropolis semibold
*/

@font-face {
  font-family: 'metropolis-semibold';
  src: url('../font/metropolis-semibold/metropolis-semibold.woff2') format('woff2'),
  url('../font/metropolis-semibold/metropolis-semibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* ==========================================================================
	HTML
========================================================================== */

/* Force border box */

*, *::after, *::before {
  box-sizing: border-box;
}

/* Selection colour */

::-moz-selection {
  background: #c0e2ee;
  color: #49546a;
  text-shadow: none;
}
::-webkit-selection {
  background: #c0e2ee;
  color: #49546a;
  text-shadow: none;
}
::selection {
  background: #c0e2ee;
  color: #49546a;
  text-shadow: none;
}

a::-moz-selection,
a::-webkit-selection,
a::selection {
  color: #49546a;
}

/* Placeholders */

::-webkit-input-placeholder { /* Edge */
  color: rgba(255, 255, 255, 0.75);
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(255, 255, 255, 0.75);
}

::placeholder {
  color: rgba(255, 255, 255, 0.75);
}

/* Default setup */

html {
  color: #7a8294;
  font-size: 16px;
  font-family: 'metropolis-medium';
  font-weight: normal;
  line-height: 1.4;
  background-image: -moz-linear-gradient( 135deg, rgb(213,221,241) 0%, rgb(241,244,249) 100%);
  background-image: -webkit-linear-gradient( 135deg, rgb(213,221,241) 0%, rgb(241,244,249) 100%);
  background-image: -ms-linear-gradient( 135deg, rgb(213,221,241) 0%, rgb(241,244,249) 100%);
  min-width: 1280px;
  image-rendering: -webkit-optimize-contrast;
  height: 105%;
}
body {
  margin-left: auto;
  margin-right: auto;
}
h1 {
  color: #49546a;
  margin: 0;
  padding: 0;
  font-family: 'metropolis-medium';
  font-weight: normal;
  font-size: 45px;
}
h2 {
  color: #49546a;
  margin: 0;
  padding: 0;
  font-family: 'metropolis-medium';
  font-weight: normal;
  font-size: 25px;
}
h3 {
  margin: 0;
  color: #49546a;
  font-family: 'metropolis-medium';
  font-weight: normal;
  font-size: 18px;
}
p {
  margin: 0;
  padding: 0;
  line-height: 1.8;
}
a {
  color: #2fccdc;
  text-decoration: none;
}
section {
  margin-bottom: 50px;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
input[type=text] {
  background-color: #ffffff;
  color: #7a8294;
  padding: 7px 20px;
  border-radius: 100px;
  outline: none;
  border: 2px solid #c7ccd5;
  transition: border 0.3s ease;
  width: 100%;
}
input[type=text]:hover {
  border: 2px solid #2ca9b7;
  transition: border 0.2s ease;
}
input[type=text]:focus {
  border: 2px solid #2ca9b7;
  transition: border 0.2s ease;
}

/* ==========================================================================
	Modules
========================================================================== */

/*
*
* Grids & layout
*
*/

/* Grid setup */

.grid {
  display: flex;
}
.grid-cell {
  flex: 1;
}

/* Grid alignment */

.grid-top {
  align-items: flex-start;
}
.grid-bottom {
  align-items: flex-end;
}
.grid-center {
  align-items: center;
}

/* Grid cell alignment */

.grid-cell-top {
  align-self: flex-start;
}
.grid-cell-bottom {
  align-self: flex-end;
}
.grid-cell-center {
  align-self: center;
}

/* Grid sizes */

.grid-fit > .grid-cell {
  flex: 1;
}
.grid-whole > .grid-cell {
  flex: 0 0 100%;
}
.grid-half > .grid-cell {
  flex: 0 0 50%
}
.grid-third > .grid-cell {
  flex: 0 0 33.3333%
}
.grid-quarter > .grid-cell {
  flex: 0 0 25%
}

/* Margins */

.no-margin {
  margin: 0 !important;
}
.margin-top-0 {
  margin-top: 0 !important;
}
.margin-top-5 {
  margin-top: 5px !important;
}
.margin-top-10 {
  margin-top: 10px !important;
}
.margin-top-15 {
  margin-top: 15px !important;
}
.margin-top-25 {
  margin-top: 25px !important;
}
.margin-top-35 {
  margin-top: 35px !important;
}
.margin-bottom-0 {
  margin-bottom: 0 !important;
}
.margin-bottom-5 {
  margin-bottom: 5px !important;
}
.margin-bottom-15 {
  margin-bottom: 15px !important;
}
.margin-bottom-25 {
  margin-bottom: 25px !important;
}
.margin-bottom-35 {
  margin-bottom: 35px !important;
}

/* Padding */

.padding-35 {
  padding: 35px;
}
.no-padding {
  padding: 0 !important;
}
.padding-top-0 {
  padding-top: 0 !important;
}
.padding-top-5 {
  padding-top: 5px !important;
}
.padding-top-15 {
  padding-top: 15px !important;
}
.padding-top-25 {
  padding-top: 25px !important;
}
.padding-top-35 {
  padding-top: 35px !important;
}
.padding-bottom-0 {
  padding-bottom: 0 !important;
}
.padding-bottom-5 {
  padding-bottom: 5px !important;
}
.padding-bottom-15 {
  padding-bottom: 15px !important;
}
.padding-bottom-25 {
  padding-bottom: 25px !important;
}
.padding-bottom-35 {
  padding-bottom: 35px !important;
}

/* Text alignment */

.text-left {
  text-align: left !important;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}

/* Text color */

.text-green {
  color: #11b9ac !important;
}
.text-purple {
  color: #9d4df1 !important;
}
.text-red {
  color: #fb6a6a !important;
}
.text-white {
  color: #ffffff !important;
}

/* Text styles */

.label {
  font-size: 14px !important;
  color: #7a8294 !important;
}
.text-bold {
  font-family: 'montserrat-semibold';
  font-weight: normal;
}
.text-size-18 {
  font-size: 18px;
}
.text-size-20 {
  font-size: 20px;
}
.text-size-25 {
  font-size: 25px;
}
.font-bold {
  font-family: 'montserrat-semibold';
}
.risk-percentage {
  font-size: 20px !important;
  color: #7a8294 !important;
}


/* Borders */

.border-right {
  border-right: 1px solid #c7ccd5;
}
.border-bottom {
  border-bottom: 1px solid #c7ccd5;
}
.border-top {
  border-top: 1px solid #c7ccd5;
}
.no-border-bottom {
  border-bottom: none !important;
}

/* Separator */

.separator {
  height: 3px;
  background-image: -moz-linear-gradient( 0deg, rgb(157,77,241) 0%, rgb(0,211,194) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(157,77,241) 0%, rgb(0,211,194) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(157,77,241) 0%, rgb(0,211,194) 100%);
  margin-top: 0px;
  margin-bottom: 15px;
  border-radius: 20px;
}

/* Panel */

.panel {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 35px;
}

/* Helper classes */

.mobile-show {
  display: none;
}
.relative {
  position: relative;
}

/*
*
* Header
*
*/

.header {
  margin-top: 50px;
  margin-bottom: 50px;
}
.header .logo img {
  width: 160px;
  margin-left: 15px;
}
.header .profile {
  float: right;
  display: block;
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: #c7ccd5;
  border-radius: 100px;
}
.header .profile img {
  width: 27px;
  margin-top: 11px;
}
.header .profile .svg {
  width: 27px;
  margin-top: -1px;
}
.header .notifications {
  float: right;
  margin-left: 25px;
  display: block;
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: #00d0c1;
  border-radius: 100px;
}
.header .notifications img {
  width: 22px;
  margin-top: 9px;
}
.header .notifications .svg {
  width: 22px;
  margin-top: 9px;
}
.header .active-wallet {
  float: right;
  text-align: right;
  margin-right: 15px;
}

.header .profile,
.header .notifications {
  transition: background-color 0.3s ease;
}
.header .profile:hover,
.header .profile.active,
.header .notifications:hover,
.header .notifications.active {
  background-color: #49546a;
  transition: background-color 0.2s ease;
}
header .tooltip.hover,
header .tooltip.hover .tooltip-item {
  cursor: initial !important;
}
.header .profile svg path,
.header .notifications svg path {
  transition: fill 0.3s ease;
}
.header .profile.active svg path,
.header .notifications.active svg path {
  fill: #ffffff !important;
  transition: fill 0.2s ease;
}
header .tooltip:first-of-type .tooltip-content {
  margin: 0 0 -272px 0px;
  padding: 25px;
}
#profile-tooltip.tooltip-content {
  margin: 0 0 -272px -8px;
  width: 240px;
  padding: 25px;
}
.tooltip-content .dot {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background-color: #1c6982;
  transition: background-color 0.3s ease;
}
#profile-tooltip .button {
  background-color: transparent;
  color: #49546a;
  border: 3px solid;
  border-image-source: linear-gradient(45deg, #9d4df1, #00d3c2);
  border-image-slice: 1;
  box-shadow: 0 2.8px 2.2px rgba(30, 128, 177, 0.017), 0 6.7px 5.3px rgba(30, 128, 177, 0.024), 0 12.5px 10px rgba(30, 128, 177, 0.03), 0 22.3px 17.9px rgba(30, 128, 177, 0.036), 0 41.8px 33.4px rgba(30, 128, 177, 0.043), 0 100px 80px rgba(30, 128, 177, 0.06);
  transition: box-shadow 0.3s ease;
}
#profile-tooltip .button:hover {
  box-shadow: 0 2.8px 2.2px rgba(30, 128, 177, 0.034), 0 6.7px 5.3px rgba(30, 128, 177, 0.048), 0 12.5px 10px rgba(30, 128, 177, 0.06), 0 22.3px 17.9px rgba(30, 128, 177, 0.072), 0 41.8px 33.4px rgba(30, 128, 177, 0.086), 0 100px 80px rgba(30, 128, 177, 0.12);
  transition: box-shadow 0.2s ease;
}

/*
*
* Notifications
*
*/

#notifications-tooltip.tooltip-content {
  width: 300px;
}
#notifications-tooltip.tooltip-content::after {
  left: 271px;
}
#notifications-tooltip.tooltip-content .grid {
  cursor: pointer;
}
#logo-back {
  padding: 10px;
  border: none;
  width: initial !important;
}
#logo-back-container .tooltip-content::after {
  display: none;
}

/*
*
* Navigation
*
*/

nav {
  float: left;
  margin-right: 75px;
  height: 600px;
  transition: height 1s ease;
}
nav p {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
  margin-left: 35px;
  padding-top: 15px;
  margin-bottom: 10px;
}
nav img {
  margin-right: 15px;
  margin-top: -10px;
}
nav ul {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  width: 210px;
  border-radius: 30px;
  padding-top: 10px;
  padding-bottom: 15px;
  box-shadow: 21.213px 21.213px 35px 0px rgba(174, 196, 215, 0.5);
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.017), 0 6.7px 5.3px rgba(0, 0, 0, 0.024), 0 12.5px 10px rgba(0, 0, 0, 0.03), 0 22.3px 17.9px rgba(0, 0, 0, 0.036), 0 41.8px 33.4px rgba(0, 0, 0, 0.043), 0 100px 80px rgba(0, 0, 0, 0.06);
}
nav ul li {
  list-style-type: none;
  width: 100%;
}
nav ul li a {
  display: block;
  color: #8695a6;
  text-decoration: none;
  padding: 15px;
  padding-left: 35px;
  text-align: left;
  border-radius: 25px;
  width: 100%;
  transition: background-color 0.3s ease, color 0.3s ease;
}
nav ul li a:hover {
  color: #49546a;
  transition: background-color 0.2s ease, color 0.3s ease;
}
nav ul li a.active {

  opacity: 1;
}
nav .animation-underline {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
nav .animation-underline:after {
  margin: 0;
  padding: 0;
  position: absolute;
}
nav .animation-underline:hover:after {
  width: 80%;
  background: #2fccdc;
  padding: 0;
  margin: 0;
  position: absolute;
}
nav .animation-underline:hover:after,
nav .animation-underline.active:after {
  width: 70%;
  background: -webkit-linear-gradient( 0deg, rgb(157,77,241) 0%, rgb(0,211,194) 100%);
  position: absolute;
  margin-top: 0px;
  margin-left: 15%;
  height: 1px;
}

/*
*
* Toggle
*
*/

.toggle {
  float: right;
  margin: 0;
}
.toggle li {
  float: left;
  list-style: none;
  padding: 1px 12px;
  border-radius: 100px;
  margin-left: 5px;
  color: #ffffff;
  font-size: 14px;
  background-color: #144a68;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.toggle li.active {
  background-color: #2ca9b7;
}
.toggle li:hover {
  background-color: #2ca9b7;
  transition: background-color 0.2s ease;
}
.activity .toggle {
  float: none;
  padding-left: 0;
  margin-left: 15px;
  margin-top: 3px;
}

/*
*
* Search
*
*/

.search {
  width: 100%;
  background-color: #021338;
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 10px;
  outline: none;
  border: 2px solid #0c2a4d;
  min-height: 49px;
  transition: border 0.3s ease;
}
.search:focus {
  border: 2px solid #2ca9b7;
  transition: border 0.2s ease;
}

/*
*
* Animations
*
*/

/* Underline animation */

.animation-underline {
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
  margin-bottom: -9px;
}
.animation-underline:after {
  content: '';
  display: block;
  width: 0px;
  height: 1px;
  margin-top: 3px;
  background: transparent;
  border-radius: 3px;
  transition: width 0.3s ease, background-color 0.3s ease;
}
.animation-underline:hover:after {
  width: 100%;
  background: #2fccdc;
}
.animation-underline.active:after {
  width: 100%;
  background: #2fccdc;
}

/*
*
* Metadata
*
*/

.metadata {
  margin: 15px 0;
}
.metadata dt {
  margin-bottom: 5px;
  color: rgba(255,255,255,0.75);
  font-size: 14px;
}
.metadata dd {
  margin-left: 0;
}
.button {
  display: inline-block;
  background-color: #00d0c1;
  border-radius: 100px;
  padding: 5px 25px;
  text-decoration: none;
  color: #ffffff;
  transition: background-color 0.3s ease;
}
.button:hover {
  background-color: #087083;
  transition: background-color 0.2s ease;
}
.borrow .button {
  background-color: #9d4df1;
}
.borrow .button:hover {
  background-color: #6117e4;
}

.button.inactive {
  background-color: #c7ccd5;
}
.button-red {
  display: inline-block;
  background-color: #fb6a6a;
  border-radius: 10px;
  padding: 5px 25px;
  text-decoration: none;
  color: #ffffff;
  transition: background-color 0.3s ease;
}
.button-red:hover {
  background-color: #f72c2c;
  transition: background-color 0.2s ease;
}
.chart {
  width: 100%;
  height: 15px;
  margin-top: 50px;
  background-image: -moz-linear-gradient( 0deg, rgb(44,169,183) 59%, rgb(3,51,79) 59%);
  background-image: -webkit-linear-gradient( 0deg, rgb(44,169,183) 59%, rgb(3,51,79) 59%);
  background-image: -ms-linear-gradient( 0deg, rgb(44,169,183) 59%, rgb(3,51,79) 59%);
  border-radius: 5px;
}
.number {
  font-size: 20px;
  color: #ffffff;
  margin: 0;
  padding: 0;
}
.cancel {
  font-size: 14px;
  color: #49546a;
  transition: color 0.3s ease;
  margin-right: 15px;
}
.cancel:hover {
  color: #49546a;
  transition: color 0.2s ease;
}
.legend .grid-cell:first-of-type {
  margin-right: 35px;
}
.border-bottom-dotted {
  border-bottom: 1px dotted;
}
img.placeholder {
  width: 100%;
  padding: 35px;
  padding-top: 10px;
}

/* ==========================================================================
	Modal
========================================================================== */

.modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background: -webkit-linear-gradient( 135deg, rgb(213,221,241, 0.75) 0%, rgb(241,244,249, 0.75) 100%);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 340px;
  min-width: 320px;
  height: auto;
  margin-left: 95px;
  z-index: 2000;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

/* Modal content */

.modal-content {
  color: #49546a;
  background: #f5f9ff;
  position: relative;
  border-radius: 3px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.017), 0 6.7px 5.3px rgba(0, 0, 0, 0.024), 0 12.5px 10px rgba(0, 0, 0, 0.03), 0 22.3px 17.9px rgba(0, 0, 0, 0.036), 0 41.8px 33.4px rgba(0, 0, 0, 0.043), 0 100px 80px rgba(0, 0, 0, 0.06);
}
.modal-content h3 {
  margin-top: 0;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 15px;
}
.modal-actions {
  border-top: 1px solid #c7ccd5;
  text-align: center;
  padding-top: 20px;
  margin-top: 20px;
}

/* Modal visible */

.modal-show {
  visibility: visible;
}
.modal-show ~ .modal-overlay {
  opacity: 1;
  visibility: visible;
}

/* Modal animation */

.modal .modal-content {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.modal-show .modal-content {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

/* ==========================================================================
	Tooltips
========================================================================== */

.tooltip {
  display: block;
  position: relative;
  z-index: 999;
}

/* Trigger text */

.tooltip-item {
  cursor: pointer;
}

/* Gap filler */

.tooltip-item::after {
  content: '';
  position: absolute;
  width: 360px;
  height: 20px;
  bottom: 100%;
  left: 50%;
  pointer-events: none;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.tooltip:hover .tooltip-item::after {
  pointer-events: auto;
}

/* Tooltip */

.tooltip-content {
  position: absolute;
  z-index: 9999;
  width: 360px;
  left: 50%;
  margin: 0 0 -221px -137px;
  bottom: 100%;
  text-align: left;
  font-size: 14px;
  box-shadow: 21.213px 21.213px 35px 0px rgba(174, 196, 215, 0.5);
  background: #ffffff;
  opacity: 0;
  cursor: default;
  pointer-events: none;
  border-radius: 10px;
  border-radius: #2ca9b7;
}
.tooltip .tooltip-content {
  -webkit-transform: translate3d(0,-10px,0) rotate3d(1,1,0,25deg);
  transform: translate3d(0,-10px,0) rotate3d(1,1,0,25deg);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}
.tooltip .tooltip-content.active {
  pointer-events: auto;
  opacity: 1;
  -webkit-transform: translate3d(0,0,0) rotate3d(0,0,0,0);
  transform: translate3d(0,0,0) rotate3d(0,0,0,0);
}
.tooltip.hover .tooltip-item:hover + .tooltip-content {
  pointer-events: auto;
  opacity: 1;
  -webkit-transform: translate3d(0,0,0) rotate3d(0,0,0,0);
  transform: translate3d(0,0,0) rotate3d(0,0,0,0);
}
.tooltip.hover .tooltip-content {
  margin: 0 0 0 -150px;
  padding: 15px;
  margin-bottom: 15px;
  width: 300px;
  line-height: 1.6;
  padding-top: 12px;
}
.tooltip.hover,
.tooltip.hover .tooltip-item {
  cursor: help !important;
}

/* Arrow */

.tooltip-content::after {
  content: '';
  top: 0%;
  left: 89%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-top-color: #fff;
  border-width: 13px;
  margin-left: -10px;
  transform: rotate(0.5turn);
  margin-top: -25px;
}

/* Hover arrow */

.tooltip.hover .tooltip-content::after {
  content: '';
  top: initial;
  bottom: -24px;
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-top-color: #2ca9b7;
  transform: initial;;
  border-width: 12px;
  margin-left: -12px;
}

/* Tooltip content */

.tooltip-text {
  display: block;
  padding: 25px;
  color: #fff;
}

/* Tooltip content */

.modal-options .grid-cell {
  margin-right: 15px;
  padding: 15px;
  padding-top: 20px;
  cursor: pointer !important;
  border-radius: 15px;
  background-color: #081e44;
  transition: background-color 0.3s ease;
}
.modal-options .grid-cell:hover,
.modal-options .grid-cell.active {
  background-color: #1d5879;
  transition: background-color 0.2s ease;
}
.modal-options .grid-cell:last-of-type {
  margin-right: 0;
}

/* ==========================================================================
	Tables
========================================================================== */

/*
*
* List table
*
*/

.list {
  width: 100%;
}
table.list {
  border-collapse: collapse;
}
.list th {
  font-size: 14px;
  font-weight: normal;
  color: #49546a;
  padding-bottom: 25px;
}
.list thead tr {
  border-bottom: none;
}
.list td {
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 1.7;
}
.list tbody {
  font-size: 14px;
}
.list tbody span {
  color: #49546a;
  font-size: 16px;
}
.list tbody tr td:first-of-type {
  padding-left: 85px;
  background-image: url(../img/logos/bridge-logo.png);
  background-repeat: no-repeat;
  background-position: 35px center;
  text-align: left !important;
}
.list .active td:first-child {
  border-bottom-left-radius: 0px;
}
.list .active td:last-child {
  border-bottom-right-radius: 0px;
}
.list tbody tr.bridge td:first-of-type {
  background-image: url(../img/logos/bridge-logo.png);
  background-repeat: no-repeat;
  background-position: 36px center;
  background-size: 29px;
}
.list tbody tr.icon td:first-of-type {
  background-image: url(../img/logos/icon-logo.svg);
  background-repeat: no-repeat;
  background-position: 33px center;
  background-size: 35px;
}
.list tbody tr td {
  background-color: #ffffff;
}
.list tbody tr {
  transition: 0.3s ease;
}
.list tbody tr:first-of-type:hover {
  cursor: pointer !important;
}
.list tbody tr:hover,
.list tbody tr.active {
  box-shadow: 0px 21.213px 35px 0px rgba(174, 196, 215, 0.5);
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.017), 0 6.7px 5.3px rgba(0, 0, 0, 0.024), 0 12.5px 10px rgba(0, 0, 0, 0.03), 0 22.3px 17.9px rgba(0, 0, 0, 0.036), 0 41.8px 33.4px rgba(0, 0, 0, 0.043), 0 100px 80px rgba(0, 0, 0, 0.06);
  transition: 0.2s ease;
}
.list > tbody:nth-child(2) > tr:nth-child(2) {
  position: relative;
}
.list > tbody:nth-child(2) > tr:nth-child(2) td {
  border-radius: 10px !important;
}
.list > tbody:nth-child(2) > tr:nth-child(2):hover {
  box-shadow: none;
}
.list tbody tr td,
.list thead tr th {
  text-align: right;
}
.list thead tr {
  text-align: right;
}
.list tr:first-child th:first-child {
  text-align: left;
  padding-left: 35px;
}
.list tr:first-child th:last-child {
  padding-right: 35px;
}
.list td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  text-align: left;
  width: 250px;
}
.list td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-right: 35px;
}

/* list colours */

.list td:nth-of-type(4) span {
  color: #00b9aa;
}
.list td:last-child span {
  color: #9d4df1;
}

/* ==========================================================================
	Sliders
========================================================================== */

.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.noUi-target {
  position: relative;
}
.noUi-base,
.noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
.noUi-connects {
  overflow: hidden;
  z-index: 0;
}
.noUi-connect,
.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  transform-style: flat;
}
.noUi-connect {
  height: 100%;
  width: 100%;
}
.noUi-origin {
  height: 10%;
  width: 10%;
}
.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
  left: 0;
  right: auto;
}
.noUi-vertical .noUi-origin {
  width: 0;
}
.noUi-horizontal .noUi-origin {
  height: 0;
}
.noUi-handle {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}
.noUi-touch-area {
  height: 100%;
  width: 100%;
}
.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s;
}
.noUi-state-drag * {
  cursor: inherit !important;
}
.noUi-horizontal {
  height: 5px;
}
.noUi-horizontal .noUi-handle {
  width: 20px;
  height: 20px;
  right: -10px;
  top: -8px;
  background-color: #f1f4f9;
  border: 3px solid #2ca9b7;
}
.borrow .noUi-horizontal .noUi-handle {
  border: 3px solid #8165e9;
}
.borrow .noUi-tooltip {
  border: 3px solid #8165e9;
}
.noUi-vertical {
  width: 18px;
}
.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  right: -6px;
  top: -17px;
}
.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
  left: -17px;
  right: auto;
}
.noUi-target {
  background-image: -moz-linear-gradient( 180deg, rgb(0,211,194, 0.25) 0%, rgb(63,157,213, 0.25) 100%);
  background-image: -webkit-linear-gradient( 180deg, rgb(0,211,194, 0.25) 0%, rgb(63,157,213, 0.25) 100%);
  background-image: -ms-linear-gradient( 180deg, rgb(0,211,194, 0.25) 0%, rgb(63,157,213, 0.25) 100%);
  border-radius: 4px;
}
.borrow .noUi-target {
  background-image: -moz-linear-gradient( 0deg, rgb(96,129,223, 0.25) 0%, rgb(157,77,241, 0.25) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(96,129,223, 0.25) 0%, rgb(157,77,241, 0.25) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(96,129,223, 0.25) 0%, rgb(157,77,241, 0.25) 100%);
}
.noUi-connects {
  border-radius: 3px;
}
.noUi-connect {
  background-image: -moz-linear-gradient( 180deg, rgb(0,211,194) 0%, rgb(63,157,213) 100%);
  background-image: -webkit-linear-gradient( 180deg, rgb(0,211,194) 0%, rgb(63,157,213) 100%);
  background-image: -ms-linear-gradient( 180deg, rgb(0,211,194) 0%, rgb(63,157,213) 100%);
}
.borrow .noUi-connect {
  background-image: -moz-linear-gradient( 0deg, rgb(96,129,223) 0%, rgb(157,77,241) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(96,129,223) 0%, rgb(157,77,241) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(96,129,223) 0%, rgb(157,77,241) 100%);
}

/* Handle */

.noUi-draggable {
  cursor: ew-resize;
}
.noUi-vertical .noUi-draggable {
  cursor: ns-resize;
}
.noUi-handle {
  border: 1px solid #D9D9D9;
  border-radius: 100px;
  background: #FFF;
  cursor: pointer;
}
.noUi-active {
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB;
}

/* Handle stripes */

.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px;
}
.noUi-vertical .noUi-handle:after {
  top: 17px;
}

/* Disabled state */

[disabled] .noUi-connect {
  background: #B8B8B8;
}
[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
  cursor: not-allowed;
}

/* Base */

.noUi-pips,
.noUi-pips * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.noUi-pips {
  position: absolute;
  color: #999;
}
.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center;
}
.noUi-value-sub {
  color: #ccc;
  font-size: 10px;
}
.noUi-marker {
  position: absolute;
  background: #CCC;
}
.noUi-marker-sub {
  background: #AAA;
}
.noUi-marker-large {
  background: #AAA;
}
.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
}
.noUi-value-horizontal {
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}
.noUi-rtl .noUi-value-horizontal {
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
}
.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}
.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px;
}
.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}
.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%;
}
.noUi-value-vertical {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding-left: 25px;
}
.noUi-rtl .noUi-value-vertical {
  -webkit-transform: translate(0, 50%);
  transform: translate(0, 50%);
}
.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px;
}
.noUi-marker-vertical.noUi-marker-sub {
  width: 10px;
}
.noUi-marker-vertical.noUi-marker-large {
  width: 15px;
}
.noUi-tooltip {
  display: block;
  position: absolute;
  border: 3px solid #2ca9b7;
  border-radius: 5px;
  background: #ffffff;
  color: #49546a;
  padding: 5px 10px;
  text-align: center;
  white-space: nowrap;
}
.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%;
}
.noUi-vertical .noUi-tooltip {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  right: 120%;
}
.noUi-horizontal .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(50%, 0);
  transform: translate(50%, 0);
  left: auto;
  bottom: 10px;
}
.noUi-vertical .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(0, -18px);
  transform: translate(0, -18px);
  top: auto;
  right: 28px;
}
.noUi-tooltip {
  display: none;
}
.noUi-active .noUi-tooltip {
  display: block;
}

#bridge-supply-slider,
#bridge-borrow-slider {

}
#supply-deposited:disabled,
#borrow-borrowed:disabled,
#supply-available:disabled,
#borrow-available:disabled {
  -webkit-text-fill-color: #49546a;
  opacity: 1;
}
#supply-deposited,
#borrow-borrowed {
  margin-top: 0px;
  background-color: transparent;
  border: 2px solid transparent;
  outline: none;
  color: #ffffff;
  padding: 0;
  padding-left: 30px;
  border-radius: 5px;
  text-align: left;
  font-size: 18px;
  width: 100%;
  cursor: text;
  transition: border 0.3s ease, background-color 0s ease;
}
.adjust #supply-deposited,
.adjust #borrow-borrowed {
  margin-top: 10px;
  background-color: #ffffff;
  border: 2px solid #c7ccd5;
  outline: none;
  color: #49546a;
  padding: 3px;
  padding-right: 10px;
  border-radius: 5px;
  text-align: right;
  font-size: 18px;
  width: 100%;
  min-height: 37px;
  transition: border 0.3s ease, background-color 0.3s ease;
}
#supply-deposited:focus,
#borrow-borrowed:focus {
  border: 0px solid transparent;
  transition: border 0s ease;
}
.adjust #supply-deposited:focus,
.adjust #borrow-borrowed:focus {
  border: 2px solid #00d0c1;
  transition: border 0.2s ease;
}
.adjust #borrow-borrowed:focus {
  border: 2px solid #9d4df1;
}
#supply-available,
#borrow-available {
  margin-top: 0;
  background-color: transparent;
  border: 2px solid transparent;
  outline: none;
  color: #49546a;
  padding: 0;
  padding-left: 30px;
  border-radius: 5px;
  text-align: left;
  font-size: 18px;
  width: 100%;
  cursor: text;
  transition: border 0.3s ease, background-color 0s ease;
}
.adjust #supply-available,
.adjust #borrow-available {
  margin-top: 10px;
  background-color: #ffffff;
  border: 2px solid #c7ccd5;
  outline: none;
  color: #49546a;
  padding: 3px;
  padding-right: 10px;
  border-radius: 5px;
  text-align: right;
  font-size: 18px;
  width: 100%;
  min-height: 37px;
  transition: border 0.3s ease, background-color 0.3s ease;
}
#supply-available:focus,
#borrow-available:focus {
  border: 0px solid transparent;
  transition: border 0s ease;
}
.adjust #supply-available:focus,
.adjust #borrow-available:focus {
  border: 2px solid #00d0c1;
  transition: border 0.2s ease;
}
.adjust #borrow-available:focus {
  border: 2px solid #9d4df1;
  transition: border 0.2s ease;
}
.noUi-horizontal .noUi-handle {
  top: -2px;
  opacity: 0;
  transition: top 0.4s ease, opacity 0.3s ease;
}
.adjust .noUi-horizontal .noUi-handle {
  top: -8px;
  opacity: 1;
  transition: top 0.3s ease, opacity 0.3s ease;
}
.noUi-horizontal {
  height: 15px;
  transition: height 0.3s ease;
}
.adjust .noUi-horizontal {
  height: 5px;
  transition: height 0.3s ease;
}
.noUi-connects {
  border-radius: 5px;
  transition: border-radius 0.3s ease;
}
.adjust .noUi-connects {
  border-radius: 3px;
  transition: border-radius 0.3s ease;
}

.supply-actions.hide,
.borrow-actions.hide {
  display: none;
}

/* Disabled states */

[disabled] .noUi-connect {
  background-image: -moz-linear-gradient( 180deg, rgb(0,211,194) 0%, rgb(63,157,213) 100%);
  background-image: -webkit-linear-gradient( 180deg, rgb(0,211,194) 0%, rgb(63,157,213) 100%);
  background-image: -ms-linear-gradient( 180deg, rgb(0,211,194) 0%, rgb(63,157,213) 100%);
}
.borrow [disabled] .noUi-connect {
  background-image: -moz-linear-gradient( 0deg, rgb(96,129,223) 0%, rgb(157,77,241) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(96,129,223) 0%, rgb(157,77,241) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(96,129,223) 0%, rgb(157,77,241) 100%);
}
[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
  cursor: auto;
}
#risk-ratio.noUi-target {
  background: #2ca9b7 !important;
}
#risk-ratio .noUi-connect {
  background-color: #144a68 !important;
}

/* ==========================================================================
	Asset expanded
========================================================================== */

.list .asset {
  z-index: 999;
  position: relative;
}
.asset-expanded .tablinks {
  padding: 0;
  padding-bottom: 10px;
  color: rgba(255, 255, 255, 0.75);
}
.asset-expanded .tab button:hover {
  color: rgba(255, 255, 255, 1);
  border-bottom: 3px solid #2ca9b7;
}
.asset-expanded .tab button {
  background-color: initial;
  margin-right: 15px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 3px solid #144a68;
}
.asset-expanded .tab {
  border-bottom: 1px solid #37657f;
  margin-bottom: 25px;
}
.asset-expanded .tablinks.active {
  border-bottom: 3px solid #2ca9b7;
  color: #ffffff;
}
.asset-expanded .tabcontent {
  background-color: transparent;
}
.asset-expanded {
  padding: 35px;
  background-color: #f5f9ff;
  border-radius: 0;
  margin-top: -5px;
  border-left: 1px solid #d3d9e7;
  border-right: 1px solid #d3d9e7;
}
.asset-expanded .title {
  margin-bottom: 15px;
}
.asset-expanded .legend {
  color: #49546a;
  font-size: 16px;
  margin-bottom: 10px;
}
.asset-expanded .legend.income {
  margin-bottom: 25px;
}
.asset-expanded .legend.income p {
  line-height: 1.7;
}
.asset-expanded .input-inner input[type="text"].address {
  padding-left: 100px;
  padding-right: 10px;
  text-align: left;
}
.asset-expanded .container:first-of-type {
  border-right: 1px solid #c7ccd5;
  margin-right: 35px;
  padding-right: 35px;
}

/* ==========================================================================
	Market specific styles
========================================================================== */

/* List */

#asset-icon {
  transform: translateY(35px);
}

/*
*
* Asset expanded colours
*
*/

.label.deposited,
.label.available,
.label.borrowed {
  margin-top: 25px;
  margin-bottom: 0;
  font-size: 14px;
}
.label.deposited::before,
.label.available::before,
.label.borrowed::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: -4px;
}
.label.deposited::before,
.label.borrowed::before {
  background-image: -moz-linear-gradient( -135deg, rgb(0,211,194) 0%, rgb(63,157,213) 100%);
  background-image: -webkit-linear-gradient( -135deg, rgb(0,211,194) 0%, rgb(63,157,213) 100%);
  background-image: -ms-linear-gradient( -135deg, rgb(0,211,194) 0%, rgb(63,157,213) 100%);
}
.label.available::before {
  background-image: -moz-linear-gradient( -135deg, rgb(0,211,194) 0%, rgb(63,157,213) 100%);
  background-image: -webkit-linear-gradient( -135deg, rgb(0,211,194) 0%, rgb(63,157,213) 100%);
  background-image: -ms-linear-gradient( -135deg, rgb(0,211,194) 0%, rgb(63,157,213) 100%);
  opacity: 0.25;
}

.borrow .label.deposited::before,
.borrow .label.borrowed::before {
  background-image: -moz-linear-gradient( 35deg, rgb(96,129,223) 0%, rgb(157,77,241) 100%);
  background-image: -webkit-linear-gradient( 35deg, rgb(96,129,223) 0%, rgb(157,77,241) 100%);
  background-image: -ms-linear-gradient( 35deg, rgb(96,129,223) 0%, rgb(157,77,241) 100%);
}
.borrow .label.available::before {
  background-image: -moz-linear-gradient( 35deg, rgb(96,129,223) 0%, rgb(157,77,241) 100%);
  background-image: -webkit-linear-gradient( 35deg, rgb(96,129,223) 0%, rgb(157,77,241) 100%);
  background-image: -ms-linear-gradient( 35deg, rgb(96,129,223) 0%, rgb(157,77,241) 100%);
  opacity: 0.25;
}
.asset-expanded .title span {
  font-size: 20px;
}

.legend.income .grid-cell:first-of-type,
.legend.income .grid-cell:last-of-type {
  padding-left: 30px;
}

.position-overview {
  background-color: #e8ecf2;
  padding: 35px;
  border: 1px solid #d3d9e7;
  border-radius: 0 0 20px 20px;
}
.position-details {
  border-right: 1px solid #d3d9e7;
  max-width: 275px;
}
#position-supply,
#position-borrow {
  font-size: 18px;
  color: #49546a;
}
.risk .noUi-target {
  background-color: #d3d9e7;
  background-image: none;
}
.risk [disabled] .noUi-connect {
  background-image: -moz-linear-gradient( -180deg, rgb(0,211,194) 0%, rgb(13,178,166) 100%);
  background-image: -webkit-linear-gradient( -180deg, rgb(0,211,194) 0%, rgb(13,178,166) 100%);
  background-image: -ms-linear-gradient( -180deg, rgb(0,211,194) 0%, rgb(13,178,166) 100%);
}
.risk {
  margin-left: 35px;
}
.position-details .legend .grid-cell:first-of-type {
  margin-right: 0;
  max-width: 120px;
}
.position-details h2 {
  margin-bottom: 15px;
}

/* Risk ratio limits */

#risk-ratio.noUi-target {
  background-color: #144a68;
}
.risk-ratio-container .limits::before {
  content: '900%';
  background-color: #2ca9b7;
  font-size: 14px;
  color: #ffffff;
  margin-top: -3px;
  padding: 1px 10px;
  border-radius: 100px;
}
.risk-ratio-container .limits::after {
  content: '150%';
  background-color: #fb6a6a;
  font-size: 14px;
  color: #ffffff;
  margin-top: -3px;
  padding: 1px 10px;
  border-radius: 100px;
  right: 0;
}
.risk-ratio .limits span {
  background-color: #2ca9b7;
  font-size: 14px;
  color: #ffffff;
  margin-left: -50px;
  margin-top: -3px;
  padding: 1px 10px;
  border-radius: 100px;
}

#risk-slider {
  margin-top: 10px;
  margin-bottom: 15px;
}

/* Reward threshold tooltip */

.risk-earn span.title {
  display: block;
  margin-left: -187px;
  margin-top: -8px;
  float: right;
  margin-right: 15px;
  color: #7a8294 !important;
  font-size: 14px;
}
#liquidation-price {
  float: right;
  margin-top: 12px;
  margin-right: 15px;
  font-size: 14px;
  color: rgba(255,255,255,0.75);
}
.risk-earn::after {
  content: '';
  width: 10px;
  height: 1px;
  background-color: #c7ccd5;
  position: absolute;
  transition: height 0.3s ease;
  z-index: 9;
  margin-top: 5px;
  margin-left: -9px;
  opacity: 0.75;
}
.risk-earn {
  width: 1px;
  height: 40px;
  background-color: #c7ccd5;
  position: absolute;
  transition: height 0.3s ease;
  z-index: 9;
  margin-top: -25px;
  margin-left: 536px;
  transition: color 0.3s ease;
}
.risk-earn.alert {
  background-color: #fb6a6a!important;
  color: #fb6a6a!important;
  opacity: 1!important;
}
.risk-earn.alert::after {
  background-color: #fb6a6a!important;
  opacity: 1!important;
}

/* All supply locked tooltip */

.risk-locked::after {
  content: '';
  width: 10px;
  height: 1px;
  background-color: #ffffff;
  position: absolute;
  transition: height 0.3s ease;
  z-index: 9;
  margin-top: -1px;
  margin-left: -45px;
  opacity: 0.75;
}
.risk-locked {
  width: 1px;
  height: 53px;
  background-color: #ffffff;
  position: absolute;
  transition: height 0.3s ease;
  z-index: 9;
  margin-top: -38px;
  margin-left: 335px;
}
.risk-locked span.title {
  display: block;
  margin-right: -240px;
  margin-top: -11px;
  float: left;
  margin-left: 15px;
  color: #fff;
  font-size: 14px;
}
#locked-price {
  float: left;
  margin-top: 12px;
  margin-left: 15px;
  font-size: 14px;
  color: rgba(255,255,255,0.75);
  width: 30px;
}
.risk-locked.alert {
  background-color: #fb6a6a!important;
  color: #fb6a6a!important;
  opacity: 1!important;
}
.risk-locked.alert::before {
  color: #fb6a6a!important;
  opacity: 1!important;
}
.risk-locked.alert::after {
  font-family: 'tex-gyre-adventor-bold';
  font-weight: normal;
}
.risk-locked.alert::after {
  background-color: #fb6a6a!important;
  opacity: 1!important;
}
.risk-ratio.bar {
  margin-top: 3px;
  padding-bottom: 22px !important;
}
.risk-ratio-container {
  padding: 35px;
}
#liquidation-price.alert,
.reward-threshold.alert,
.risk-earn.alert .title,
.risk-earn.alert #liquidation-price,
.risk-locked.alert .title,
.risk-locked.alert #locked-price,
#icx-price.alert {
  color: #fb6a6a !important;
}

.label.bridge {
  margin-right: 35px;
}
.label.bridge::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: -4px;
}
.label.bridge::before {
  background-image: -moz-linear-gradient( -138deg, rgb(0,211,194) 0%, rgb(13,178,166) 100%);
  background-image: -webkit-linear-gradient( -138deg, rgb(0,211,194) 0%, rgb(13,178,166) 100%);
  background-image: -ms-linear-gradient( -138deg, rgb(0,211,194) 0%, rgb(13,178,166) 100%);
}
.label.icx::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: -4px;
}
.label.icx::before {
  background-image: none;
  background-color: #00b8cc;
}

.market-overview {
  color: #49546a;
  max-width: 450px;
  padding-left: 50px;
  text-align: center;
}
.market-overview .legend .grid-cell:first-of-type {
  margin-right: 0;
  margin-bottom: 10px;
}

#supply-adjust-button,
#modal-trigger-1 {
  background-color: transparent;
  border-radius: 0;
  color: #49546a;
  border: 3px solid;
  border-image-source: linear-gradient(45deg, #3f9dd5, #00d3c2);
  border-image-slice: 1;
  box-shadow: 0 2.8px 2.2px rgba(30, 128, 177, 0.017), 0 6.7px 5.3px rgba(30, 128, 177, 0.024), 0 12.5px 10px rgba(30, 128, 177, 0.03), 0 22.3px 17.9px rgba(30, 128, 177, 0.036), 0 41.8px 33.4px rgba(30, 128, 177, 0.043), 0 100px 80px rgba(30, 128, 177, 0.06);
  transition: box-shadow 0.3s ease, border-image-source 0.3s ease;
}
#supply-adjust-button:hover,
#modal-trigger-1:hover {
  background-color: transparent;
  border-radius: 0;
  border-image-source: linear-gradient(45deg, #0973aa, #019e9a);
  box-shadow: 0 2.8px 2.2px rgba(30, 128, 177, 0.034), 0 6.7px 5.3px rgba(30, 128, 177, 0.048), 0 12.5px 10px rgba(30, 128, 177, 0.06), 0 22.3px 17.9px rgba(30, 128, 177, 0.072), 0 41.8px 33.4px rgba(30, 128, 177, 0.086), 0 100px 80px rgba(30, 128, 177, 0.12);
  transition: box-shadow 0.2s ease, border-image-source 0.2s ease;
}
#borrow-adjust-button,
#modal-trigger-2 {
  background-color: transparent;
  border-radius: 0;
  color: #49546a;
  border: 3px solid;
  border-image-source: linear-gradient(45deg, #6081df, #9d4df1);
  border-image-slice: 1;
  box-shadow: 0 2.8px 2.2px rgba(30, 128, 177, 0.017), 0 6.7px 5.3px rgba(30, 128, 177, 0.024), 0 12.5px 10px rgba(30, 128, 177, 0.03), 0 22.3px 17.9px rgba(30, 128, 177, 0.036), 0 41.8px 33.4px rgba(30, 128, 177, 0.043), 0 100px 80px rgba(30, 128, 177, 0.06);
  transition: box-shadow 0.3s ease;
}
#borrow-adjust-button:hover,
#modal-trigger-2:hover {
  background-color: transparent;
  border-radius: 0;
  border-image-source: linear-gradient(45deg, #3035ca, #551dde);
  box-shadow: 0 2.8px 2.2px rgba(30, 128, 177, 0.034), 0 6.7px 5.3px rgba(30, 128, 177, 0.048), 0 12.5px 10px rgba(30, 128, 177, 0.06), 0 22.3px 17.9px rgba(30, 128, 177, 0.072), 0 41.8px 33.4px rgba(30, 128, 177, 0.086), 0 100px 80px rgba(30, 128, 177, 0.12);
  transition: box-shadow 0.2s ease;
}

#modal-1 .button {
  background-color: transparent;
  border-radius: 0;
  color: #49546a;
  border: 3px solid;
  border-image-source: linear-gradient(45deg, #3f9dd5, #00d3c2);
  border-image-slice: 1;
  box-shadow: 0 2.8px 2.2px rgba(30, 128, 177, 0.017), 0 6.7px 5.3px rgba(30, 128, 177, 0.024), 0 12.5px 10px rgba(30, 128, 177, 0.03), 0 22.3px 17.9px rgba(30, 128, 177, 0.036), 0 41.8px 33.4px rgba(30, 128, 177, 0.043), 0 100px 80px rgba(30, 128, 177, 0.06);
  transition: box-shadow 0.3s ease, border-image-source 0.3s ease;
}
#modal-1 .button:hover {
  background-color: transparent;
  border-radius: 0;
  border-image-source: linear-gradient(45deg, #0973aa, #019e9a);
  box-shadow: 0 2.8px 2.2px rgba(30, 128, 177, 0.034), 0 6.7px 5.3px rgba(30, 128, 177, 0.048), 0 12.5px 10px rgba(30, 128, 177, 0.06), 0 22.3px 17.9px rgba(30, 128, 177, 0.072), 0 41.8px 33.4px rgba(30, 128, 177, 0.086), 0 100px 80px rgba(30, 128, 177, 0.12);
  transition: box-shadow 0.2s ease, border-image-source 0.2s ease;
}

#modal-2 .button {
  background-color: transparent;
  border-radius: 0;
  color: #49546a;
  border: 3px solid;
  border-image-source: linear-gradient(45deg, #6081df, #9d4df1);
  border-image-slice: 1;
  box-shadow: 0 2.8px 2.2px rgba(30, 128, 177, 0.017), 0 6.7px 5.3px rgba(30, 128, 177, 0.024), 0 12.5px 10px rgba(30, 128, 177, 0.03), 0 22.3px 17.9px rgba(30, 128, 177, 0.036), 0 41.8px 33.4px rgba(30, 128, 177, 0.043), 0 100px 80px rgba(30, 128, 177, 0.06);
  transition: box-shadow 0.3s ease;
}
#modal-2 .button:hover {
  background-color: transparent;
  border-radius: 0;
  border-image-source: linear-gradient(45deg, #3035ca, #551dde);
  box-shadow: 0 2.8px 2.2px rgba(30, 128, 177, 0.034), 0 6.7px 5.3px rgba(30, 128, 177, 0.048), 0 12.5px 10px rgba(30, 128, 177, 0.06), 0 22.3px 17.9px rgba(30, 128, 177, 0.072), 0 41.8px 33.4px rgba(30, 128, 177, 0.086), 0 100px 80px rgba(30, 128, 177, 0.12);
  transition: box-shadow 0.2s ease;
}

/* ==========================================================================
	Responsive styles
========================================================================== */

/*
*
* Responsive styles - 1600px & larger
*
*/

@media (min-width: 1600px) {

  /* HTML */

  body {
    max-width: 1200px;
  }

  /* Vote modal */

  .vote-modal .modal-content {
    max-height: initial;
  }
  .vote-modal .modal-content .modal-actions {
    margin-bottom: 0 !important;
  }
}

/*
*
* Responsive styles - 1600px & smaller
*
*/

@media (max-width: 1600px) {

  /* HTML */

  body {
    max-width: 1200px;
  }
}
