<div disabled #slider></div>

<!-- Rest state -->
<div class="grid" #restEl>
  <div class="grid-cell">
    <p class="text-dark">{{getStakedValue() | usFormat}} / {{sliderMaxValue() | usFormat}} LP tokens</p>
    <p><a href="javascript:void(0);" class="button" id="adjust-stake" style="margin-top: 10px;" (click)="onAdjustClick()">Adjust stake</a></p>
  </div>
</div>

<!-- Adjust state -->
<div class="grid hide" #adjustEl>
  <div class="grid-cell">
    <div class="grid grid-center" style="margin-top: 15px; margin-bottom: 25px;">
      <div class="grid-cell">
        <input class="liquidity-input text-right text-dark" type="text" name="" #inputEl>
      </div>
      <div class="grid-cell text-left" style="margin-left: 10px;">
        <p class="text-dark"> / {{sliderMaxValue() | usFormat}} LP tokens</p>
      </div>
    </div>


    <div class="grid grid-center">
      <div class="grid-cell text-right">
        <a href="javascript:void(0);" class="cancel adjust-cancel" (click)="onCancelClick()">Cancel</a>
      </div>
      <div class="grid-cell text-left">
        <a href="javascript:void(0);" class="button modal-trigger" data-modal="modal-adjust-stake" (click)="onConfirmClick()">Confirm</a>
      </div>
    </div>
  </div>
</div>
