<!-- Proposals -->
<section id="proposal-cards">
  <!-- Title -->
  <div class="grid grid-center">
    <div class="grid-cell">
      <h2>Latest proposals</h2><span class="label"><a href="javascript:void(0);" routerLink="/vote/all-proposals" class="animation-underline">View all</a></span>
    </div>
    <div class="grid-cell">
      <a *ngIf="userLoggedIn()" href="javascript:void(0);" routerLink="/vote/new-proposal" class="button">New proposal</a>
    </div>
  </div>

  <div class="grid cards">
    <ng-container *ngFor="let proposal of latestProposals;">
      <a href="javascript:void(0);" routerLink="/vote/proposal" class="grid-cell panel" (click)="onProposalClick(proposal)">
        <h3>{{proposal.name}}</h3>
        <p>{{proposal.getShortDescription()}}</p>

        <div class="grid proposal-metadata border-top">
          <img class="time" src="assets/img/icon/clock.svg"><span class="label">{{proposal.getProposalState(currentTimestampMicro, true)}}</span>
          <div class="green-square"></div><span class="label">{{proposal.getApprovedPercentage() | roundDown0DecPercent: true}}</span>
          <div class="purple-square"></div><span class="label">{{proposal.getRejectedPercentage() | roundDown0DecPercent: true}}</span>
        </div>
      </a>
    </ng-container>
  </div>
</section>
