<!-- Your markets (users asset) state -->
<tr class="asset {{asset.className}} your " (click)="onAssetClick()" #assetYour>
  <td>{{asset.name}}<br><span class="label">{{asset.tag}}</span></td>
  <td><span class="value-supplied">{{this.toDollar2digitsString(this.persistenceService.getUserAssetReserve(asset.tag)?.currentOTokenBalanceUSD)}}</span><br>
    <span class="value-supplied label">{{this.formatNumberToUSLocaleString(this.persistenceService.getUserSuppliedAssetBalance(asset.tag))}} {{asset.tag}}</span></td>
  <td class="text-green">{{to2DecimalPercentString(this.persistenceService.getUserAssetReserve(asset.tag)?.liquidityRate)}}</td>
  <td><span class="value-borrowed">{{this.toDollar2digitsString(this.persistenceService.getUserAssetReserve(asset.tag)?.principalBorrowBalanceUSD)}}</span><br>
    <span class="value-borrowed label">{{this.formatNumberToUSLocaleString(this.persistenceService.getUserBorrowedAssetBalance(asset.tag))}} {{asset.tag}}</span></td>
  <td class="text-purple">{{to2DecimalPercentString(this.persistenceService.getUserAssetReserve(asset.tag)?.borrowRate)}}</td>
</tr>


<!-- Asset Expanded -->
<tr class="expanded">
  <td colspan="5">
    <div class="market-expanded" #marketExpandedEl>
      <div class="grid">
        <!-- Asset Supply -->
        <div class="grid-cell supply border-right" #supply>
          <!-- Supply title -->
          <div class="grid grid-center title">
            <div class="grid-cell">
              <h2>Supply</h2>
            </div>
            <div class="grid-cell text-right">
              <p class="supply-apy">{{to2DecimalPercentString(this.persistenceService.getUserAssetReserve(asset.tag)?.liquidityRate)}} APY</p>
            </div>
          </div>

          <!-- Supply allow (Show if user can supply) -->
          <div class="supply-allow" #supplyAllow [ngStyle]="hideElement(userAssetBalanceIsZero())">
            <!-- Supply slider -->
            <div id="slider-supply" #sliderSupply disabled></div>

            <!-- Supply inputs -->
            <div class="grid legend">
              <div class="grid-cell">
                <label class="label supplied">Supplied</label>
                <input type="text" title="{{asset.tag}} supplied" id="input-supply" #inputSupply class="input-supply"
                       (keyup)="supplyAssetAmountChange()" disabled="" value="0">
              </div>
              <div class="grid-cell">
                <label class="label available">Available</label>
                <input type="text" title="{{asset.tag}} available to supply" #inpSuppAvail id="input-supply-available"
                       class="input-supply-available" disabled value="0">
              </div>
            </div>

            <!-- Supply income -->
            <div class="grid legend income">
              <div class="grid-cell">
                <dl class="metadata">
                  <dt>Daily interest</dt>
                  <dd class="value-supply-interest" #suppInterest>+ {{getDailySupplyInterest().toFixed(2)}} {{asset.tag}}</dd>
                </dl>
              </div>
              <div class="grid-cell">
                <dl class="metadata">
                  <dt>Daily rewards</dt>
                  <dd class="value-supply-rewards" #suppRewards>+ ?? OMM</dd>
                </dl>
              </div>
            </div>

            <!-- Adjust-->
            <div class="grid grid-center supply-actions actions-1" #suppAct1>
              <div class="grid-cell text-center">
                <a href="javascript:void(0);" class="button {{asset.className}} supply-adjust"
                   (click)="onSupplyAdjustClick()">{{userAssetSuppliedBalanceIsZero() ? "Supply" : "Adjust"}}</a>
              </div>
            </div>
          </div>

          <!-- Confirm -->
          <div class="grid grid-center supply-actions actions-2 hide" #suppAct2>
            <div class="grid-cell text-right">
              <a href="javascript:void(0);" class="cancel adjust-cancel" (click)="onAdjustCancelClick()">Cancel</a>
            </div>
            <div class="grid-cell text-left">
              <a href="javascript:void(0);" class="button modal-trigger" data-modal="modal-supply" (click)="onAssetSupplyConfirmClick()">Confirm</a>
            </div>
          </div>

          <!-- Supply deny (Show if user can't borrow) -->
          <div class="supply-deny {{asset.className}} hide" [ngStyle]="displayAsBlockOrHide(userAssetBalanceIsZero())">
            <p class="text-center label message">You have no {{asset.name}} available to supply.</p>
          </div>
        </div>

        <!-- Asset Borrow -->
        <div class="grid-cell borrow" #borrow>
          <!-- Borrow title -->
          <div class="grid grid-center title">
            <div class="grid-cell">
              <h2>Borrow</h2><span class="risk-outer" [ngStyle]="hideElement(this.persistenceService.userHasNotSuppliedAnyAsset())">Risk: <span class="value-risk-total">- %</span></span>
            </div>
            <div class="grid-cell text-right">
              <p class="borrow-apy">{{to2DecimalPercentString(this.persistenceService.getUserAssetReserve(asset.tag)?.borrowRate)}} APY</p>
            </div>
          </div>

          <!-- Borrow allow (Show if user can borrow) -->
          <div class="borrow-allow" [ngStyle]="hideElement(this.persistenceService.userHasNotSuppliedAnyAsset())">
            <!-- Borrow slider -->
            <div id="slider-borrow" #sliderBorrow disabled></div>

            <!-- Borrow legend -->
            <div class="grid legend">
              <div class="grid-cell">
                <label class="label borrowed">Borrowed</label>
                <input type="text" title="{{asset.tag}} borrowed" id="input-borrow" class="input-borrow" #inputBorrow disabled value="0">
              </div>
              <div class="grid-cell">
                <label class="label available">Available</label>
                <input type="text" title="{{asset.tag}} available to borrow" #inpBorrAvail id="input-borrow-available" class="input-borrow-available" disabled value="0">
              </div>
            </div>

            <!-- Borrow income legend -->
            <div class="grid legend income">
              <div class="grid-cell">
                <dl class="metadata">
                  <dt>Daily interest</dt>
                  <dd class="value-borrow-interest" #borrInterest>+ {{getDailyBorrowInterest().toFixed(2)}} {{asset.tag}}</dd>
                </dl>
              </div>
              <div class="grid-cell">
                <dl class="metadata">
                  <dt>Daily rewards</dt>
                  <dd class="value-borrow-rewards" #borrRewards>+ ?? OMM</dd>
                </dl>
              </div>
            </div>

            <!-- Adjust-->
            <div class="grid grid-center borrow-actions actions-1" #borrAct1>
              <div class="grid-cell text-center">
                <a href="javascript:void(0);" class="button {{asset.className}} purple borrow-adjust"
                   [ngStyle]="hideElement(this.persistenceService.userHasNotSuppliedAnyAsset())"
                   (click)="onBorrowAdjustClick()">{{userAssetBorrowedBalanceIsZero() ? "Borrow" : "Adjust"}}</a>
              </div>
            </div>

            <!-- Confirm -->
            <div class="grid grid-center borrow-actions actions-2 hide" #borrAct2>
              <div class="grid-cell text-right">
                <a href="javascript:void(0);" class="cancel adjust-cancel" (click)="onAdjustCancelClick()">Cancel</a>
              </div>
              <div class="grid-cell text-left">
                <a href="javascript:void(0);" class="button purple modal-trigger" data-modal="modal-borrow" (click)="onAssetBorrowConfirmClick()">Confirm</a>
              </div>
            </div>
          </div>

          <!-- Borrow deny (Show if user can't borrow) -->
          <div class="borrow-deny hide" [ngStyle]="displayAsBlockOrHide(this.persistenceService.userHasNotSuppliedAnyAsset())">
            <p class="text-center label message">Supply an asset to borrow {{asset.name}}.</p>
          </div>
        </div>
      </div>
    </div>
  </td>
</tr>
