<!-- Risk -->
<div class="grid-cell">
  <section id="risk">
    <div class="grid">
      <div class="grid-cell">
        <h2>Risk</h2><span class="value-risk-total">23%</span>
      </div>
    </div>

    <!-- Risk content -->
    <div class="grid panel">
      <div class="grid-cell">
        <div class="risk-container">
          <p class="label risk-message-liquidated"><span>Your supply will be liquidated at 100%.</span></p>
          <div id="slider-risk" disabled></div>
        </div>
        <p class="risk-message-noassets label text-center hide">You have no risk until you borrow an asset.</p>
      </div>
    </div>
  </section>
</div>
