<div class="grid grid-center">
  <div class="grid-cell">
    <h2>Risk</h2>
    <span class="value-risk-total" #risk>- %</span>
    <span id="tooltip-risk" class="tooltip" style="padding-left: 5px">
      <span class="tooltip-item"><img src="assets/img/icon/question.svg" class="tooltip-icon"></span>
      <div class="tooltip-content"><p>While you borrow assets, your supply is at risk of liquidation. Keep it below 50% to reduce the impact of volatile markets.</p></div>
    </span>
  </div>
</div>

<!-- Risk content -->
<div class="grid panel">
  <div class="grid-cell">
    <div class="risk-container" [ngStyle]="hideElement(userBorrowIsZero())" #riskContainer>
      <p class="label risk-message-liquidated"><span>Your supply will be liquidated at 100%.</span></p>
      <div id="slider-risk" #sliderRisk disabled></div>
    </div>
    <p class="risk-message-noassets label text-center hide"
       [ngStyle]="displayAsBlockOrHide(userBorrowIsZero())">You have no risk until you borrow an asset.</p>
  </div>
</div>
