<!-- Bridge supply modal -->
<div class="modal" id="modal-1">
  <div class="modal-content">
    <h3 class="text-center"><span class="adjust-label">Adjust</span> supply by <br><strong id="supply-increase">XXX USDb</strong>?</h3>
    <div>
      <p class="text-center">Before: <span id="supply-before"></span></p>
      <p class="text-center">After: <span id="confirm-supply"></span></p>
      <div class="modal-actions">
        <a href="javascript:void(0);" class="cancel modal-close">Cancel</a> <a href="javascript:void(0);" id="confirm-supply-adjust" class="button">Confirm</a>
      </div>
    </div>
  </div>
</div>

<!-- Bridge borrow modal -->
<div class="modal" id="modal-2">
  <div class="modal-content">
    <h3 class="text-center"><span class="adjust-label">Adjust</span> borrow by <br><strong id="borrow-increase">XXX USDb</strong>?</h3>
    <div>
      <p class="text-center">Before: <span id="borrow-before"></span></p>
      <p class="text-center">After: <span id="confirm-borrow"></span></p>
      <div class="modal-actions">
        <a href="javascript:void(0);" class="cancel modal-close">Cancel</a> <a href="javascript:void(0);" id="confirm-borrow-adjust" class="button">Confirm</a>
      </div>
    </div>
  </div>
</div>

		<!-- Navigation -->
		<nav>
			<ul>
				<p>Navigation</p>
				<li>
					<a href="/" ><img src="assets/img/icons/home.svg" width="24px" class="svg home"><span>Home</span></a>
				</li>
				<li>
					<a href="javascript:void(0);" class="active"><img src="assets/img/icons/markets.svg" width="21px" class="svg markets"><span>Markets</span></a>
				</li>
				<li>
					<a href="javascript:void(0);"><img src="assets/img/icons/governance.svg" width="23px" class="svg governance"><span>Governance</span></a>
				</li>
				<li>
					<a href="javascript:void(0);"><img src="assets/img/icons/liquidation.svg" width="22px" class="svg liquidation"><span>Liquidation</span></a>
				</li>
			</ul>
		</nav>
		<!-- /Navigation -->

<!-- Markets content -->
<main class="markets" (click)="onMainClick()">

  <div class="grid grid-bottom">
    <div class="grid-cell">
      <h1>Markets</h1>
      <p>Earn interest when you supply an asset, lose interest when you borrow. Keep your risk below 100% to protect your position, and receive OMM tokens every day as a reward.</p>
    </div>

    <!-- Market overview -->
    <div class="grid-cell market-overview">
      <div class="grid">
        <div class="grid-cell border-right">
          <div class="grid legend">
            <div class="grid-cell">
              <p class="label">Total supplied</p>
              <p class="text-size-25">${{this.formatNumberToUSLocaleString(this.mockScoreService.totalSuppliedUSD)}}</p>
            </div>
          </div>
        </div>

        <div class="grid-cell">
          <div class="grid legend">
            <div class="grid-cell">
              <p class="label">Total borrowed</p>
              <p class="text-size-25">${{this.formatNumberToUSLocaleString(this.mockScoreService.totalBorrowedUSD)}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Asset list -->
  <section style="margin-top: 75px;">
    <div class="grid">
      <div class="grid-cell">
        <table class="list">
          <thead>
          <tr>
            <th>Asset</th>
            <th>Total supplied</th>
            <th>Supply APY
              <!-- tooltip -->
              <span class="tooltip hover" style="display: inline-block;">
											<span class="tooltip-item"><img src="assets/img/icons/info-dark.svg" width="14px" style="margin-top: -5px;"></span>
											<span class="tooltip-content clearfix" style="width: 228px; margin-left: -113px;">
												<div class="grid">
													<div class="grid-cell no-margin">
														<p>The amount of ICX available to deposit from your wallet.</p>
													</div>
												</div>
											</span>
										</span>
            </th>
            <th>Total borrowed</th>
            <th>Borrow APY
              <!-- tooltip -->
              <span class="tooltip hover" style="display: inline-block;">
											<span class="tooltip-item"><img src="assets/img/icons/info-dark.svg" width="14px" style="margin-top: -5px;"></span>
											<span class="tooltip-content clearfix" style="width: 228px; margin-left: -113px;">
												<div class="grid">
													<div class="grid-cell no-margin">
														<p>The amount of ICX available to deposit from your wallet.</p>
													</div>
												</div>
											</span>
										</span>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr id="asset-bridge" class="asset bridge" (click)="onAssetBridgeClick()">
            <td><span>Bridge Dollars</span><br>USDb</td>
            <td><span>${{this.formatNumberToNdigits(this.mockScoreService.userSuppliedUSD)}}</span>
              <br>{{this.formatNumberToUSLocaleString(this.mockScoreService.userSuppliedUSDb)}} USDb</td>
            <td><span class="text-green">6.47%</span><br>+0.51% past 24H</td>
            <td><span>${{this.formatNumberToNdigits(this.mockScoreService.userBorrowedUSD)}}</span>
              <br>{{this.formatNumberToUSLocaleString(this.mockScoreService.totalBorrowedUSDb)}} USDb</td>
            <td><span class="text-purple">7.25%</span><br>-0.27% past 24H</td>
          </tr>
          <tr>
            <td colspan="5" class="no-padding">
              <div id="asset-bridge-expanded" class="grid asset-expanded" style="display: none;">
                <!-- Supply -->
                <div id="supply" class="grid-cell container supply">
                  <!-- Title -->
                  <div class="grid grid-center title">
                    <div class="grid-cell">
                      <h2>Supply</h2>
                    </div>
                    <div class="grid-cell text-right">
                      <span class="text-green">6.47% APY</span>
                    </div>
                  </div>

                  <!-- Chart -->
                  <div class="grid">
                    <div class="grid-cell">
                      <img src="assets/img/placeholders/chart3.png">
                    </div>
                  </div>

                  <!-- Slider -->
                  <div class="grid margin-top-35">
                    <div class="grid-cell">
                      <div class="locked" id="locked" style="opacity: 0;"></div>
                      <div id="bridge-supply-slider" disabled></div>
                    </div>
                  </div>

                  <!-- Legend -->
                  <div class="grid legend">
                    <div class="grid-cell">
                      <p class="label deposited">Supplied</p>
                      <input title="Deposited supply" id="supply-deposited" (keyup)="depositUSDbAmountChange()" disabled="" value="50 USDb">
                    </div>
                    <div class="grid-cell">
                      <p class="label available">Available</p>
                      <input title="Available supply" id="supply-available" disabled="" value="50 USDb">
                    </div>
                  </div>

                  <!-- Income -->
                  <div class="grid legend income">
                    <div class="grid-cell">
                      <p class="label">Daily interest</p>
                      <p id="supply-interest">+ 10 USDb</p>
                    </div>
                    <div class="grid-cell">
                      <p class="label">Daily rewards</p>
                      <p id="supply-rewards">+ 10 OMM</p>
                    </div>
                  </div>

                  <!-- Button -->
                  <div class="grid">
                    <div class="grid-cell text-center">

                      <div class="grid grid-center supply-actions">
                        <div class="grid-cell text-center">
                          <a href="javascript:void(0);" class="button supply-adjust" id="supply-adjust-button"  (click)="onSupplyAdjustClick()">Adjust</a>
                        </div>
                      </div>
                      <div class="grid grid-center supply-actions hide">
                        <div class="grid-cell text-right">
                          <a id="cancel-supply-adjust" class="cancel supply-adjust" href="javascript:void(0);" (click)="onSupplyAdjustClick()">Cancel</a>
                        </div>
                        <div class="grid-cell text-left">
                          <a href="javascript:void(0);" class="button modal-trigger" data-modal="modal-1" id="modal-trigger-1" (click)="onUSDbDepositConfirmClick()">Confirm</a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

                <!-- Borrow -->
                <div id="borrow" class="grid-cell container borrow">
                  <!-- Title -->
                  <div class="grid grid-center title">
                    <div class="grid-cell">
                      <h2>Borrow</h2>
                    </div>
                    <div class="grid-cell text-right">
                      <span>7.25% APY</span>
                    </div>
                  </div>

                  <!-- Chart -->
                  <div class="grid">
                    <div class="grid-cell">
                      <img src="assets/img/placeholders/chart4.png">
                    </div>
                  </div>

                  <!-- Slider -->
                  <div class="grid margin-top-35">
                    <div class="grid-cell">
                      <div id="bridge-borrow-slider" disabled></div>
                    </div>
                  </div>

                  <!-- Legend -->
                  <div class="grid legend">
                    <div class="grid-cell">
                      <p class="label deposited">Borrowed</p>
                      <input title="Deposited borrow" id="borrow-borrowed" disabled="" value="50 USDb">
                    </div>
                    <div class="grid-cell">
                      <p class="label available">Available</p>
                      <input title="Available borrow" id="borrow-available" disabled="" value="50 USDb">
                    </div>
                  </div>

                  <!-- Income -->
                  <div class="grid legend income">
                    <div class="grid-cell">
                      <p class="label">Daily interest</p>
                      <p id="borrow-interest">- 10 USDb</p>
                    </div>
                    <div class="grid-cell">
                      <p class="label">Daily rewards</p>
                      <p id="borrow-rewards">+ 10 OMM</p>
                    </div>
                  </div>

                  <!-- Button -->
                  <div class="grid">
                    <div class="grid-cell text-center">
                      <div class="grid grid-center borrow-actions">
                        <div class="grid-cell text-center">
                          <a href="javascript:void(0);" class="button borrow-adjust" id="borrow-adjust-button" (click)="onBorrowAdjustClick()">Adjust</a>
                        </div>
                      </div>
                      <div class="grid grid-center borrow-actions hide">
                        <div class="grid-cell text-right">
                          <a href="javascript:void(0);" class="cancel borrow-adjust">Cancel</a>
                        </div>
                        <div class="grid-cell text-left">
                          <a href="javascript:void(0);" class="button modal-trigger" data-modal="modal-2" id="modal-trigger-2" (click)="onBorrowAdjustClick()">Confirm</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Position overview -->
              <div id="position-overview" class="grid position-overview" style="display: none;">
                <div class="grid-cell position-details">
                  <h2>Overview</h2>
                  <!-- Income -->
                  <div class="grid legend">
                    <div class="grid-cell">
                      <p class="label">Supplied</p>
                      <p id="position-supply">$1,420</p>
                    </div>
                    <div class="grid-cell">
                      <p class="label">Borrowed</p>
                      <p><span id="position-borrow">$753</span><span class="label"> / <span id="position-borrow-limit" class="label">$3,000</span></span></p>
                    </div>
                  </div>
                </div>
                <div class="grid-cell risk">
                  <div class="grid grid-center">
                    <div class="grid-cell" style="max-width: 200px;">
                      <h2>Risk <span id="risk-percentage-bridge" class="risk-percentage">35%</span>
                        <!-- tooltip -->
                        <span class="tooltip hover" style="display: inline-block;">
																<span class="tooltip-item"><img src="assets/img/icons/info-dark.svg" width="17px" style="margin-top: -5px;"></span>
																<span class="tooltip-content clearfix" style="width: 228px; margin-left: -113px;">
																	<div class="grid">
																		<div class="grid-cell no-margin">
																			<p>The amount of ICX available to deposit from your wallet.</p>
																		</div>
																	</div>
																</span>
															</span>
                      </h2>
                    </div>
                    <div class="grid-cell">
                      <p class="label text-right" style="margin-top: 4px;">Your entire supply will be liquidated at 100%.</p>
                    </div>
                  </div>
                  <div id="risk-slider" disabled></div>
                  <span class="label bridge">Bridge Dollars</span>
                </div>
              </div>
            </td>
          </tr>

								<tr class="spacer"></tr>

								<tr id="asset-icon" class="icon asset">
									<td><span>ICON</span><br>ICX</td>
									<td><span>$120.69K</span><br>420,690 ICX</td>
									<td><span class="text-green">3.47%</span><br>+0.34% past 24H</td>
									<td><span>$7.12K</span><br>9,840 ICX</td>
									<td><span class="text-purple">5.25%</span><br>-0.27% past 24H</td>
								</tr>

							</tbody>
						</table>
					</div>
				</div>
			</section>
			<!-- /Asset list -->
		</main>
		<!-- /Markets content -->

<!-- Modal overlay -->
<div class="modal-overlay"></div>
