<body>
<!--  &lt;!&ndash; Notification &ndash;&gt;-->
<!--  <app-notification></app-notification>-->

<!--  &lt;!&ndash; Banner &ndash;&gt;-->
<!--  <app-banner></app-banner>-->
<!--  &lt;!&ndash; /Banner &ndash;&gt;-->

<!--  &lt;!&ndash; Header &ndash;&gt;-->
<!--  <app-header [walletValue]="'$' + 0"> </app-header>-->
<!--  &lt;!&ndash; /Header &ndash;&gt;-->

<!--  &lt;!&ndash; Modals &ndash;&gt;-->
<!--  <app-modal></app-modal>-->
<!--  &lt;!&ndash; /Modals &ndash;&gt;-->

<!--  &lt;!&ndash; Main content &ndash;&gt;-->
<!--  <app-main></app-main>-->
<!--  &lt;!&ndash; /Main content &ndash;&gt;-->

<!--  &lt;!&ndash; Modal overlay &ndash;&gt;-->
<!--  <div class="modal-overlay" (click)="onOverlayClick()"></div>-->

<!--  &lt;!&ndash; Bridge widget (hidden) &ndash;&gt;-->
<!--  <icon-bridge-widget hideButton="true"></icon-bridge-widget>-->

<app-upgrade-notice></app-upgrade-notice>
</body>
