<body>
  <!-- Notification -->
  <app-notification></app-notification>

  <!-- Banner -->
  <app-banner></app-banner>
  <!-- /Banner -->

  <!-- Header -->
  <app-header [walletValue]="'$' + 0"> </app-header>
  <!-- /Header -->

  <!-- Modals -->
  <app-modal></app-modal>
  <!-- /Modals -->

  <!-- Main content -->
  <app-main></app-main>
  <!-- /Main content -->

  <!-- Modal overlay -->
  <div class="modal-overlay" (click)="onOverlayClick()"></div>

  <!-- Bridge widget (hidden) -->
  <icon-bridge-widget hideButton="true"></icon-bridge-widget>
</body>
