<main>
  <!-- Breadcrumbs -->
  <div class="breadcrumbs vote">
    <ol>
      <li><a href="javascript:void(0);" routerLink="/vote" class="animation-underline">Vote</a> <span class="label"> &gt; </span> </li>
      <li>{{activeProposal?.name}}</li>
    </ol>
  </div>

  <ng-container *ngIf="activeProposal">
    <h2>{{activeProposal?.name}}</h2>
    <!-- Proposal overview -->
    <section id="proposal-overview" class="panel {{isVoteValid() ? 'voted' : ''}}">
      <!-- Container -->
      <div class="grid proposal-overview-metadata">
        <div class="grid-cell">
          <span class="label"><img [src]="activeProposal?.getStatusImgSrc()">{{activeProposal?.getProposalState(currentTimestampMicro)}}</span> <span class="label">
          <img src="assets/img/icon/chart.svg">{{to2DecimalRndOffPercString(activeProposal?.getTotalVotePercentage(), true)}} voted</span> <span class="label">
        <img src="assets/img/icon/users.svg">{{totalVoters()}} voters</span>
        </div>
      </div>

      <ng-container *ngIf="!isVoteValid()">
        <!-- Approve -->
        <div class="grid">
          <div class="grid-cell">
            <p class="text-bold">Approve <span class="label">{{to2DecimalRndOffPercString(activeProposal?.getApprovedPercentage(), true)}} ({{to2DecimalRndOffPercString(activeProposal?.majority, true)}} required)</span></p>
            <div id="slider-approve" disabled="" class="noUi-target noUi-ltr noUi-horizontal noUi-txt-dir-ltr">
              <div class="noUi-base">
                <div class="noUi-connects">
                  <div class="noUi-connect" [ngStyle]="{'transform': 'translate(0%) scale(' + activeProposal?.getApprovedPercentage() + ', 1)'}"></div>
                </div>
                <div class="noUi-origin" style="transform: translate(-208.955%); z-index: 4;">
                  <div class="noUi-handle noUi-handle-lower" data-handle="0" tabindex="0" role="slider" aria-orientation="horizontal" aria-valuemin="0.0" aria-valuemax="100" aria-valuenow="50" aria-valuetext="90">
                    <div class="noUi-touch-area"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="!activeProposal?.proposalIsOver(reloaderService) && userLoggedIn()" class="grid-cell text-right button-container">
            <a href="javascript:void(0);" class="button modal-trigger" data-modal="modal-vote-approve" (click)="onApproveClick()">Approve</a>
          </div>
        </div>

        <!-- Reject -->
        <div class="grid" style="margin-top: 15px;">
          <div class="grid-cell">
            <p class="text-bold">Reject <span class="label">{{to2DecimalRndOffPercString(activeProposal?.getRejectedPercentage(), true)}}</span></p>
            <div id="slider-reject" disabled="" class="noUi-target noUi-ltr noUi-horizontal noUi-txt-dir-ltr">
              <div class="noUi-base">
                <div class="noUi-connects">
                  <div class="noUi-connect" [ngStyle]="{'transform': 'translate(0%) scale(' + activeProposal?.getRejectedPercentage() + ', 1)'}"></div>
                </div>
                <div class="noUi-origin" style="transform: translate(-791.045%); z-index: 4;">
                  <div class="noUi-handle noUi-handle-lower" data-handle="0" tabindex="0" role="slider" aria-orientation="horizontal" aria-valuemin="0.0" aria-valuemax="67.0" aria-valuenow="14.0" aria-valuetext="14.00">
                    <div class="noUi-touch-area"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="!activeProposal?.proposalIsOver(reloaderService) && userLoggedIn()" class="grid-cell text-right button-container">
            <a href="javascript:void(0);" class="button modal-trigger purple" data-modal="modal-vote-reject" (click)="onRejectClick()">Reject</a>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="isVoteValid()">
        <div class="grid">
          <div class="grid-cell">
            <!-- Approve -->
            <div class="grid">
              <div class="grid-cell">
                <p class="text-bold">Approve <span class="label">{{to2DecimalRndOffPercString(activeProposal?.getApprovedPercentage(), true)}} ({{to2DecimalRndOffPercString(activeProposal?.majority, true)}} required)</span></p>
                <div id="slider-approve" disabled="" class="noUi-target noUi-ltr noUi-horizontal noUi-txt-dir-ltr"><div class="noUi-base">
                  <div class="noUi-connects"><div class="noUi-connect" [ngStyle]="{'transform': 'translate(0%) scale(' + activeProposal?.getApprovedPercentage() + ', 1)'}"></div></div>
                  <div class="noUi-origin" style="transform: translate(-208.955%); z-index: 4;">
                    <div class="noUi-handle noUi-handle-lower" data-handle="0" tabindex="0" role="slider" aria-orientation="horizontal" aria-valuemin="0.0" aria-valuemax="67.0" aria-valuenow="53.0" aria-valuetext="53.00">
                      <div class="noUi-touch-area"></div>
                    </div></div></div></div>
              </div>
            </div>

            <!-- Reject -->
            <div class="grid" style="margin-top: 15px;">
              <div class="grid-cell">
                <p class="text-bold">Reject <span class="label">{{to2DecimalRndOffPercString(activeProposal?.getRejectedPercentage(), true)}}</span></p>
                <div id="slider-reject" disabled="" class="noUi-target noUi-ltr noUi-horizontal noUi-txt-dir-ltr"><div class="noUi-base">
                  <div class="noUi-connects"><div class="noUi-connect" [ngStyle]="{'transform': 'translate(0%) scale(' + activeProposal?.getRejectedPercentage() + ', 1)'}"></div></div>
                  <div class="noUi-origin" style="transform: translate(-791.045%); z-index: 4;"><div class="noUi-handle noUi-handle-lower" data-handle="0" tabindex="0" role="slider" aria-orientation="horizontal" aria-valuemin="0.0" aria-valuemax="67.0" aria-valuenow="14.0" aria-valuetext="14.00">
                    <div class="noUi-touch-area"></div></div></div></div></div>
              </div>
            </div>
          </div>
          <div *ngIf="isVoteRejected()" class="grid-cell proposal-decision">
            <div class="grid grid-center">
              <div class="grid-cell">
                <img src="assets/img/icon/cross-circle-purple.svg">
              </div>
              <div class="grid-cell">
                <h3>You rejected <a href="javascript:void(0);" (click)="onChangeVoteClick()">Change vote</a></h3>
                <p>Voting weight: {{getUsersVotingWeightOnProposal() | roundOff2Dec | usFormat}} bOMM</p>
              </div>
            </div>
          </div>
          <div *ngIf="isVoteApproved()" class="grid-cell proposal-decision">
            <div class="grid grid-center">
              <div class="grid-cell">
                <img src="assets/img/icon/tick-circle-green.svg">
              </div>
              <div class="grid-cell">
                <h3>You approved <a href="javascript:void(0);" (click)="onChangeVoteClick()">Change vote</a></h3>
                <p>Voting weight: {{getUsersVotingWeightOnProposal() | roundOff2Dec | usFormat}} bOMM</p>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </section>


    <h2>Description</h2>
    <!-- Proposal description -->
    <section id="proposal-description">
      <!-- Container -->
      <div class="grid panel">
        <div class="grid-cell">
          <p [innerText]="activeProposal?.description"></p>
          <br>
          <div class="proposal-description-metadata border-top">
            <a href="{{activeProposal?.forumLink}}" target="_blank">Discussion</a><img src="assets/img/icon/external.svg">
            <!--          <a href="javascript:void(0);">Transaction</a><img src="assets/img/icon/external.svg">-->
          </div>
        </div>
      </div>
    </section>
  </ng-container>

  <!-- Show spinner if no proposal exists -->
  <ng-container *ngIf="!activeProposal">
    <app-loading></app-loading>
  </ng-container>
</main>
