<main>
  <!-- Breadcrumbs -->
  <div class="breadcrumbs vote">
    <ol>
      <li><a href="javascript:void(0);" routerLink="/vote" class="animation-underline">Vote</a> <span class="label"> &gt; </span> </li>
      <li>OIP7: Allocate more OMM to the DAO fund & incentivize the borrowers.</li>
    </ol>
  </div>

  <h2>OIP7: Allocate more OMM to the DAO fund & incentivize the borrowers.</h2>
  <!-- Proposal overview -->
  <section id="proposal-overview" class="panel">
    <!-- Container -->
    <div class="grid proposal-overview-metadata">
      <div class="grid-cell">
        <span class="label"><img src="assets/img/icon/clock.svg">3 days, 7 hours left</span> <span class="label"><img src="assets/img/icon/chart.svg">16% voted</span> <span class="label"><img src="assets/img/icon/users.svg">748 voters</span>
      </div>
    </div>

    <!-- Approve -->
    <div class="grid">
      <div class="grid-cell">
        <p class="text-bold">Approve <span class="label">53% (67% required)</span></p>
        <div id="slider-approve" disabled="" class="noUi-target noUi-ltr noUi-horizontal noUi-txt-dir-ltr"><div class="noUi-base"><div class="noUi-connects"><div class="noUi-connect" style="transform: translate(0%) scale(0.791045, 1);"></div></div><div class="noUi-origin" style="transform: translate(-208.955%); z-index: 4;"><div class="noUi-handle noUi-handle-lower" data-handle="0" tabindex="0" role="slider" aria-orientation="horizontal" aria-valuemin="0.0" aria-valuemax="67.0" aria-valuenow="53.0" aria-valuetext="53.00"><div class="noUi-touch-area"></div></div></div></div></div>
      </div>
      <div class="grid-cell text-right button-container">
        <a href="#" class="button modal-trigger" data-modal="modal-vote-approve">Approve</a>
      </div>
    </div>

    <!-- Reject -->
    <div class="grid" style="margin-top: 15px;">
      <div class="grid-cell">
        <p class="text-bold">Reject <span class="label">14%</span></p>
        <div id="slider-reject" disabled="" class="noUi-target noUi-ltr noUi-horizontal noUi-txt-dir-ltr"><div class="noUi-base"><div class="noUi-connects"><div class="noUi-connect" style="transform: translate(0%) scale(0.208955, 1);"></div></div><div class="noUi-origin" style="transform: translate(-791.045%); z-index: 4;"><div class="noUi-handle noUi-handle-lower" data-handle="0" tabindex="0" role="slider" aria-orientation="horizontal" aria-valuemin="0.0" aria-valuemax="67.0" aria-valuenow="14.0" aria-valuetext="14.00"><div class="noUi-touch-area"></div></div></div></div></div>
      </div>
      <div class="grid-cell text-right button-container">
        <a href="#" class="button modal-trigger purple" data-modal="modal-vote-reject">Reject</a>
      </div>
    </div>
  </section>


  <h2>Description</h2>
  <!-- Proposal description -->
  <section id="proposal-description">
    <!-- Container -->
    <div class="grid panel">
      <div class="grid-cell">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non semper sapien, ut congue nisl. Aenean vel dui eget odio tempor pulvinar. Morbi mauris odio, aliquet nec varius quis, congue quis sem.</p>
        <br>
        <p>Pellentesque vitae nisi quis est laoreet volutpat a a ipsum. Nulla non mattis nisi. Donec facilisis tortor eget lectus aliquam sodales a vel felis. Morbi gravida ante erat, vel malesuada nulla congue sed. Curabitur ut congue elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae.</p>
        <div class="proposal-description-metadata border-top">
          <a href="#">Discussion</a><img src="assets/img/icon/external.svg"><a href="#">Transaction</a><img src="assets/img/icon/external.svg">
        </div>
      </div>
    </div>
  </section>
</main>
