<div *ngIf="showBanner" class="banner">
  <div class="grid grid-center">
    <div class="grid-cell">
      <p class="label">
        <span class="text-bold">Omm is undergoing a transition to liquid staking.</span>
        The money markets and liquidity pools no longer earn OMM, and you can no longer supply or borrow assets. You should withdraw your funds at your earliest convenience. View <a href="https://blog.omm.finance/liquid-staking-pivot/" target="_blank">From money markets to liquid staking</a> for more info.
      </p>
    </div>
    <div class="grid-cell text-right close">
      <a href="javascript:void(0);" (click)="onBannerExitClick()">
        <img src="assets/img/icon/cross.svg" alt="">
      </a>
    </div>
  </div>

</div>
