<div *ngIf="showBanner" class="banner">
  <div class="grid grid-center">
    <div class="grid-cell">
      <p class="label">
        Omm is now a liquid staking protocol, so this interface will be retired soon. Withdraw your funds as soon as possible. <a href="https://docs.omm.finance/reference/liquid-staking-pivot" target="_blank">Learn more about the liquid staking pivot</a>
      </p>
    </div>
    <div class="grid-cell text-right close">
      <a href="javascript:void(0);" (click)="onBannerExitClick()">
        <img src="assets/img/icon/cross.svg" alt="">
      </a>
    </div>
  </div>

</div>
