<div *ngIf="showBanner" class="banner">
  <div class="grid grid-center">
    <div class="grid-cell">
      <p class="label">
        In preparation for the ICY airdrop, the ICON borrow market has been deactivated. sICX borrowers won’t earn OMM,
        and will accrue interest at a rate of 120%. The community can vote to reactivate it after the snapshot for the airdrop takes place in December.
        <a href="https://docs.omm.finance/faq#icy-airdrop-support" target="_blank">Learn more about the airdrop.</a></p>
    </div>
    <div class="grid-cell text-right close">
      <a href="javascript:void(0);" (click)="onBannerExitClick()">
        <img src="assets/img/icon/cross.svg">
      </a>
    </div>
  </div>

</div>
