<!-- Wrapper -->
<div class="grid wrapper">
  <!-- Navigation -->
  <div class="grid-cell navigation-container">
    <nav class="navigation">
      <ul>
        <li>
          <a href="javascript:void(0);" routerLink="home" routerLinkActive="active">
            <div class="grid grid-center">
              <div class="grid-cell">
                <img src="assets/img/icon/home.svg" class="svg" alt="Home icon">
              </div>
              <div class="grid-cell">
                Home
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="javascript:void(0);" routerLink="vote" routerLinkActive="active">
            <div class="grid grid-center">
              <div class="grid-cell">
                <img src="assets/img/icon/vote.svg" class="svg" alt="Vote icon">
              </div>
              <div class="grid-cell">
                Vote
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="javascript:void(0);">
            <div class="grid grid-center">
              <div class="grid-cell">
                <img src="assets/img/icon/liquidate.svg" class="svg" alt="Liquidate icon">
              </div>
              <div class="grid-cell">
                Liquidate
              </div>
            </div>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="grid-cell">
    <!-- Router outlet for content -->
    <router-outlet ></router-outlet>
  </div>

</div>
