<!-- All markets state -->
<tr class="asset {{asset.className}} all" #assetEl (click)="onAssetClick()">
  <td>{{asset.name}}<br><span class="label">{{asset.tag}}</span></td>
  <td><span>{{this.toDollarUSLocaleString(this.persistenceService.getAssetReserveData(asset.tag)?.totalLiquidityUSD)}}</span><br>
    <span class="label">{{this.formatNumberToUSLocaleString(getTotalLiquidity())}} {{asset.tag}}</span></td>
  <td class="text-green">{{to2DecimalRoundedDownPercentString(this.persistenceService.getAssetReserveData(asset.tag)?.liquidityRate)}}</td>
  <td>{{this.toDollarUSLocaleString(this.persistenceService.getAssetReserveData(asset.tag)?.totalBorrowsUSD)}}<br>
    <span class="label">{{this.formatNumberToUSLocaleString(getTotalBorrows())}} {{asset.tag}}</span></td>
  <td class="text-purple">{{to2DecimalRoundedDownPercentString(this.persistenceService.getAssetReserveData(asset.tag)?.borrowRate)}}</td>
</tr>

<!-- Asset - Expanded -->
<tr class="expanded">
  <td colspan="5">
    <div class="market-expanded" #marketExpandedEl>
      <div class="grid">
        <!-- Bridge Supply -->
        <div class="grid-cell supply border-right">
          <!-- Supply title -->
          <div class="grid grid-center title">
            <div class="grid-cell">
              <h2>Supply</h2>
            </div>
            <div class="grid-cell text-right">
              <p class="supply-apy">{{to2DecimalRoundedDownPercentString(this.persistenceService.getAssetReserveData(asset.tag)?.liquidityRate)}} APY</p>
            </div>
          </div>

          <!-- If logged out show sign in button -->
          <div class="grid grid-center sign-in-message">
            <div class="grid-cell">
              <p class="text-center"><a href="javascript:void(0);" class="button" (click)="onSignInClick()">Sign in to supply</a></p>
            </div>
          </div>
        </div>

        <!-- Bridge Borrow -->
        <div class="grid-cell borrow">
          <!-- Borrow title -->
          <div class="grid grid-center title">
            <div class="grid-cell text-right">
              <p class="borrow-apy">{{to2DecimalRoundedDownPercentString(this.persistenceService.getAssetReserveData(asset.tag)?.borrowRate)}} APY</p>
            </div>
          </div>

          <!-- Borrow deny (Show if user can't borrow) -->
          <div class="borrow-deny">
            <p class="text-center label message">Supply an asset to borrow Bridge Dollars.</p>
          </div>
        </div>
      </div>
    </div>
  </td>
</tr>
