<!-- All markets state -->
<tr class="asset {{asset.className}} all" #assetEl>
  <td>{{asset.name}}<br><span class="label">{{asset.tag}}</span></td>
  <td><span>{{this.toDollar2digitsString(this.persistenceService.getAssetReserveData(asset.tag)?.totalLiquidityUSD)}}</span><br>
    <span class="label">{{this.formatNumberToUSLocaleString(this.persistenceService.getAssetReserveData(asset.tag)?.totalLiquidity)}} {{asset.tag}}</span></td>
  <td class="text-green">{{to2DecimalPercentString(this.persistenceService.getAssetReserveData(asset.tag)?.liquidityRate)}}</td>
  <td>{{this.toDollar2digitsString(this.persistenceService.getAssetReserveData(asset.tag)?.totalBorrowsUSD)}}<br>
    <span class="label">{{this.formatNumberToUSLocaleString(this.persistenceService.getAssetReserveData(asset.tag)?.totalBorrows)}} {{asset.tag}}</span></td>
  <td class="text-purple">{{to2DecimalPercentString(this.persistenceService.getAssetReserveData(asset.tag)?.borrowRate)}}</td>
</tr>
