<main class="vote">
  <!-- Vote overview -->
  <section class="boosted-omm">
    <div class="grid">
      <div class="grid-cell">
        <h2>Overview</h2>
      </div>

      <div class="grid-cell">

      </div>
    </div>

    <!-- Panel -->
    <div class="grid panel">
      <div class="grid-cell">
        <div class="grid">
          <div class="grid-cell boosted-container">
            <!-- Header -->
            <div class="grid">
              <!-- Heading -->
              <div class="grid-cell">
                <h3>Voting power <span *ngIf="!userBOMMbalance().isZero() && userBOMMbalance().isPositive()"
                                       class="label value-bomm-total">{{userBOMMbalance() | roundDown2Dec | usFormat | toZeroIfDash }} bOMM</span>
                  <span class="bomm-tooltip tooltip">
                    <span class="tooltip-item"><img src="assets/img/icon/question.svg" class="tooltip-icon"></span>
                    <p class="bomm-tooltip-content tooltip-content">
                      Lock up OMM to hold voting power on Omm. The longer you lock up OMM, the more bOMM (boosted OMM)
                      you'll receive; the amount will decrease over time.
                    </p>
                  </span>
                </h3>
              </div>
              <!-- Button -->
              <div class="grid-cell" [ngStyle]="hideElement(shouldHideBoostedSlider())">
                <p class="text-right" [ngStyle]="hideElement(lockAdjustActive)">
                  <a href="javascript:void(0);" class="button" id="boost-adjust" style="margin-top: 0;" (click)="onLockAdjustClick()">{{boostAdjustLabel()}}</a>
                </p>

                <div class="boost-adjust-actions" [ngStyle]="hideElement(!lockAdjustActive)">
                  <div class="grid">
                    <div class="grid-cell">
                      <div class="grid grid-center">
                        <div class="grid-cell text-right">
                          <a href="javascript:void(0);" class="cancel boost-cancel" (click)="onLockAdjustCancelClick()">Cancel</a>
                        </div>
                        <div class="grid-cell">
                          <a href="javascript:void(0);" class="button modal-trigger" style="margin-top: 0;"
                             data-modal="modal-boost-confirm" (click)="onConfirmLockOmmClick()">Confirm</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <p class="label intro-label" [ngStyle]="hideElement(lockAdjustActive)">{{boostedOmmPanelMessage()}}</p>
            <div class="threshold locked boost {{shouldHideLockedOmmThreshold() ? 'hide':''}}" [ngStyle]="getLeftLockedThresholdPercentStyle()">
              <dl class="metadata">
                <dt>Locked</dt>
              </dl>
            </div>
            <div id="slider-boost" class="{{lockAdjustActive ? 'active' : ''}}" disabled="" #stkSlider [ngStyle]="hideElement(shouldHideBoostedSlider())"></div>
            <div class="grid grid-center" [ngStyle]="hideElement(shouldHideBoostedSlider())">
              <div class="grid-cell" style="max-width: 200px;">
                <p class="label">
                  <input [ngStyle]="hideElement(!lockAdjustActive)" #lockInput id="input-boost" (input)="onInputLockChange()" class="input-boost" type="text" name=""><span [ngStyle]="hideElement(lockAdjustActive)" class="omm-locked">{{userLockedOmmBalance | roundDown2Dec | usFormat}}</span> / {{getLockSliderMax() | usFormat}} OMM</p>
              </div>
              <div class="grid-cell text-right">
                <p class="label locked-default" [ngStyle]="hideElement(lockAdjustActive || userLockedOmmBalance.isZero())">Locked until {{timestampInMillisecondsToPrettyDate(lockDate())}}</p>
                <div class="locked-adjust" [ngStyle]="hideElement(!lockAdjustActive)">
                  <p>
                    <span class="label">Locked until </span> <a class="dropdown time-selector" (click)="onLockedDateDropdownClick()">
                    <span class="animation-underline locked-selector">{{timestampInMillisecondsToPrettyDate(lockDate())}}</span></a></p>
                  <div class="grid dropdown-content locked-selector">
                    <div class="grid-cell">
                      <ul>
                        <ng-container *ngFor="let date of lockedUntilDateOptions;">
                          <li (click)="onLockUntilDateClick(date)">{{date}}</li>
                        </ng-container>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="grid">
          <div class="grid-cell boost-increase border-top">
            <div class="grid">
              <div class="grid-cell border-right">
                <dl class="metadata">
                  <dt>Voting power</dt>
                  <dd>1 bOMM = {{votingPower() | usFormat}} ICX</dd>
                </dl>
              </div>
              <div class="grid-cell border-right">
                <dl class="metadata">
                  <dt>Your voting power</dt>
                  <dd class="value-voting-power">{{userLoggedIn() && userVotingPower().isGreaterThan(ZERO) ?
                    (userVotingPower() | roundDown2Dec | usFormat) : "-"}} {{userVotingPower().isGreaterThan(ZERO) ? " ICX" : ""}}</dd>
                </dl>
              </div>
              <div class="grid-cell">
                <dl class="metadata">
                  <dt>Total voting power <span class="total-bomm-tooltip tooltip">
                    <span class="tooltip-item"><img src="assets/img/icon/question.svg" class="tooltip-icon"></span>
                    <p class="total-bomm-tooltip-content tooltip-content">{{totalbOmm() | usFormat}} bOMM</p>
                  </span></dt>
                  <dd class="value-voting-power-total">{{ommVotingPower() | roundDown2Dec | usFormat}} ICX</dd>
                </dl>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- Proposals -->
  <section id="proposal-cards">
    <!-- Title -->
    <div class="grid grid-center">
      <div class="grid-cell">
        <h2>Latest proposals</h2><span class="label"><a href="javascript:void(0);" routerLink="/vote/all-proposals" class="animation-underline">View all</a></span>
      </div>
      <div class="grid-cell">
        <a *ngIf="userLoggedIn()" href="javascript:void(0);" routerLink="/vote/new-proposal" class="button">New proposal</a>
      </div>
    </div>

    <div class="grid cards">
      <ng-container *ngFor="let proposal of getLatestProposals(); last as isLast;">
        <a href="javascript:void(0);" routerLink="/vote/proposal" class="grid-cell panel" (click)="onProposalClick(proposal)">
          <h3>{{proposal.name}}</h3>
          <p>{{proposal.getShortDescription()}}</p>

          <div class="grid proposal-metadata border-top">
            <img class="time" src="assets/img/icon/clock.svg"><span class="label">{{proposal.getProposalState(reloaderService, true)}}</span>
            <div class="green-square"></div><span class="label">{{to0DecimalRoundedDownPercentString(proposal.getApprovedPercentage(), true)}}</span>
            <div class="purple-square"></div><span class="label">{{to0DecimalRoundedDownPercentString(proposal.getRejectedPercentage(), true)}}</span>
          </div>
        </a>
      </ng-container>
    </div>
  </section>

  <!-- Your votes -->
  <section id="your-votes" class="{{this.yourVotesEditMode ? 'adjust' : ''}}" [ngStyle]="hideElement(!userLoggedIn() || !userHasStaked())">
    <!-- Title -->
    <div class="grid grid-center">
      <div class="grid-cell">
        <h2>Your votes</h2><span class="value-your-votes">{{this.yourVotesPrepList?.length ? this.yourVotesPrepList?.length : 0}}/5</span>
      </div>
    </div>

    <!-- Message (If staked but not voted) -->
    <p class="label text-center" style="margin-top: 25px;" [ngStyle]="hideElement(userHasVotedForPrep())">Add up to 5 P-Reps from the list.<br
    >If you don’t choose any, your votes will be allocated towards the P-Reps that work on Omm.</p>

    <!-- Your votes list -->
    <div class="grid">
      <div class="grid-cell">
        <table class="list vote" [ngStyle]="hideElement(!userHasVotedForPrep())">
          <tbody>
          <ng-container *ngFor="let yourPrepVote of yourVotesPrepList; last as isLast; let i = index">
            <tr>
              <td class="name">
                <div class="grid grid-center">
                  <div class="grid-cell">
                    <div class="minus" (click)="removeYourVotePrepByIndex(i)">–</div>
                    <img [src]="getLogoUrl(yourPrepVote.address)" (error)="errorHandlerPrepLogo($event)">
                  </div>
                  <div class="grid-cell">
                    {{yourPrepVote.name}}
                    <ng-container *ngIf="isPrepOmmContributor(yourPrepVote.address)">
                      <br><span class="label contributor">Omm contributor</span>
                    </ng-container>
                  </div>
                </div>
              </td>
              <td></td>
              <td>{{yourPrepVote.percentage.toFixed(2)}}%<br><span class="label">{{getDelegationAmount(yourPrepVote)}} ICX</span></td>
            </tr>

            <!-- Spacer -->
            <tr *ngIf="!isLast" class="spacer"></tr>
          </ng-container>
          </tbody>
        </table>

          <!-- Actions to show by default -->
          <div class="grid grid-center actions-default" [ngStyle]="hideElement(!userHasVotedForPrep() || yourVotesEditMode)">
            <div class="grid-cell text-center">
              <a href="javascript:void(0);" id="vote-adjust" class="button" (click)="onAdjustVoteClick()">Adjust P-Reps</a>
            </div>
          </div>

          <!-- Actions to show when adjust class is active -->
          <div class="grid grid-center actions-adjust" [ngStyle]="hideElement(!userHasVotedForPrep() && !yourVotesEditMode)">
            <div class="grid-cell text-right">
              <a href="javascript:void(0);" id="vote-adjust-cancel" class="cancel" (click)="onCancelAdjustVotesClick()">Cancel</a>
            </div>
            <div class="grid-cell text-left">
              <a href="javascript:void(0);" class="button modal-trigger" data-modal="modal-add-preps" (click)="onConfirmSavePrepClick()">Save</a>
            </div>
          </div>

      </div>
    </div>
  </section>
  <!-- /Your votes -->

  <!-- P-Rep list -->
  <section id="p-rep-list">
    <!-- Title -->
    <div class="grid grid-center title">
      <div class="grid-cell">
        <h2>P-Reps</h2>
        <span id="p-rep-tooltip" class="tooltip">
              <span class="tooltip-item"><img src="assets/img/icon/question.svg" class="tooltip-icon"></span>
              <div class="tooltip-content"><p>Public representatives operate nodes that keep the ICON Network – Omm's foundation – online. Many also contribute time and resources to build products and utilities, much like this one.</p></div>
            </span>
      </div>
      <div class="grid-cell text-right">
        <input type="text" name="" class="search" placeholder="Search P-Reps" [ngModel]="searchInput" (ngModelChange)="onSearchInputChange($event)">
      </div>
    </div>

    <!-- P-Rep list -->
    <div class="grid" *ngIf="searchedPrepList">
      <div class="grid-cell">
        <table class="list p-reps {{yourVotesEditMode || (userHasStaked() && !listIsNotNullOrEmpty(yourVotesPrepList)) ? 'adjust' : ''}}">
          <thead>
          <tr>
            <th>Rank</th>
            <th>Name</th>
            <th class="text-right">
              Earnings
              <span id="tooltip-earnings" class="tooltip">
                      <span class="tooltip-item"><img src="assets/img/icon/question.svg" class="tooltip-icon"></span>
                      <div class="tooltip-content"><p>The amount P-Reps earn each month, based on the number of votes.</p></div>
                    </span>
            </th>
            <th class="text-right">Voting Power</th>
          </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let prep of searchedPrepList.preps; last as isLast; let i = index">
              <!-- Prep -->
              <tr>
                <td>{{i + 1}}</td>
                <td class="name">
                  <div class="grid grid-center">
                    <div class="grid-cell">
                      <div class="plus" [ngStyle]="hideElement(!userLoggedIn() || prepIsInYourVotes(prep))" (click)="addYourVotePrep(prep)">+</div>
                      <div class="minus" [ngStyle]="hideElement(!userLoggedIn() || !prepIsInYourVotes(prep) || !yourVotesEditMode)" (click)="removeYourVotePrepByAddress(prep)">–</div>
                      <img [src]="prep.logoUrl" (error)="errorHandlerPrepLogo($event)">
                    </div>
                    <div class="grid-cell">
                      {{prep.name}}
                      <ng-container *ngIf="isPrepOmmContributor(prep.address)">
                        <br><span class="label contributor">Omm contributor</span>
                      </ng-container>
                    </div>
                  </div>
                </td>
                <td>${{getPrepsUSDReward(prep, i) | roundOff0Dec | usFormat}}<br>
                  <span class="label">{{getPrepsIcxReward(prep, i) | roundOff0Dec | usFormat}} ICX</span></td>
                <td>{{to2DecimalRoundedOffPercentString(getPowerPercent(prep), true)}}<br>
                  <span class="label">{{prep!.power  | roundOff0Dec | usFormat | toZeroIfDash}}</span></td>
              </tr>
              <!-- Spacer -->
              <tr *ngIf="!isLast" class="spacer"></tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  <!-- /P-Rep list -->
</main>
