<main class="vote">
  <!-- Vote overview -->
  <section class="boosted-omm">
    <div class="grid">
      <div class="grid-cell">
        <h2>Overview</h2>
      </div>

      <div class="grid-cell">

      </div>
    </div>

    <!-- Panel -->
    <div class="grid panel">
      <div class="grid-cell">
        <app-omm-locking style="display: contents"
                         [type]="getOmmLckCmpType()"
                         (lockUntilDateClicked)="onLockUntilDateClick()"
                         (sliderValueUpdate)="handleLockSliderValueUpdate($event)"
                         (lockAdjustCancelClicked)="handleLockAdjustCancelClicked()"
        ></app-omm-locking>

        <div class="grid">
          <div class="grid-cell boost-increase border-top">
            <div class="grid">
              <div class="grid-cell border-right">
                <dl class="metadata">
                  <dt>Voting power</dt>
                  <dd #votPwrPerIcx>1 bOMM = {{votingPower | usFormat}} ICX</dd>
                </dl>
              </div>
              <div class="grid-cell border-right">
                <dl class="metadata">
                  <dt>Your voting power</dt>
                  <dd class="value-voting-power" #yourVotPow>{{userLoggedIn() && yourVotingPower.isGreaterThan(ZERO) ?
                    (yourVotingPower | roundDown2Dec | usFormat) : "-"}} {{yourVotingPower.isGreaterThan(ZERO) ? " ICX" : ""}}</dd>
                </dl>
              </div>
              <div class="grid-cell">
                <dl class="metadata">
                  <dt>Total voting power <span class="total-bomm-tooltip tooltip">
                    <span class="tooltip-item"><img src="assets/img/icon/question.svg" class="tooltip-icon"></span>
                    <p class="total-bomm-tooltip-content tooltip-content">{{totalDelegationWorkingbOmm() | roundDown2Dec | usFormat}} bOMM</p>
                  </span></dt>
                  <dd class="value-voting-power-total">{{ommVotingPower | roundDown2Dec | usFormat}} ICX</dd>
                </dl>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- Proposals -->
  <app-latest-proposals style="display: contents"
                        [latestProposals]="latestProposals"
  >
  </app-latest-proposals>

  <!-- Your votes -->
  <section id="your-votes" class="{{this.yourVotesEditMode ? 'adjust' : ''}}" [ngStyle]="(!userLoggedIn() || !userHasLockedOmm())  | hide">
    <!-- Title -->
    <div class="grid grid-center">
      <div class="grid-cell">
        <h2>Your votes</h2><span class="value-your-votes">{{this.yourVotesPrepList?.length ? this.yourVotesPrepList?.length : 0}}/5</span>
      </div>
    </div>

    <!-- Message (If staked but not voted) -->
    <p class="label text-center" style="margin-top: 25px;" [ngStyle]="userHasVotedForPrep() | hide">Add up to 5 validators from the list.
      <br>If you don’t choose any, your votes will be allocated toward the validators that work on Omm.</p>

    <!-- Your votes list -->
    <div class="grid">
      <div class="grid-cell">
        <table class="list vote" [ngStyle]="!userHasVotedForPrep() | hide">
          <tbody>
          <ng-container *ngFor="let yourPrepVote of yourVotesPrepList; last as isLast; let i = index">
            <tr>
              <td class="name">
                <div class="grid grid-center">
                  <div class="grid-cell">
                    <div class="minus" (click)="removeYourVotePrepByIndex(i)">–</div>
                    <img [src]="getLogoUrl(yourPrepVote.address)" (error)="errorHandlerPrepLogo($event)">
                  </div>
                  <div class="grid-cell">
                    {{yourPrepVote.name}}
                    <ng-container *ngIf="isPrepOmmContributor(yourPrepVote.address)">
                      <br><span class="label contributor">Omm contributor</span>
                    </ng-container>
                    <ng-container *ngIf="isPrepOfferingIncentive(yourPrepVote.address)">
                      <br><span class="label rewards">Offers incentives</span>
                    </ng-container>
                  </div>
                </div>
              </td>
              <td></td>
              <td>{{yourPrepVote.percentage.toFixed(2)}}%<br><span class="label">{{getDelegationAmount(yourPrepVote) | usFormat}} ICX</span></td>
            </tr>

            <!-- Spacer -->
            <tr *ngIf="!isLast" class="spacer"></tr>
          </ng-container>
          </tbody>
        </table>

          <!-- Actions to show by default -->
          <div class="grid grid-center actions-default" [ngStyle]="(!userHasVotedForPrep() || yourVotesEditMode)  | hide">
            <div class="grid-cell text-center">
              <a href="javascript:void(0);" id="vote-adjust" class="button" (click)="onAdjustVoteClick()">Adjust validators</a>
            </div>
          </div>

          <!-- Actions to show when adjust class is active -->
          <div class="grid grid-center actions-adjust" [ngStyle]="(!userHasVotedForPrep() && !yourVotesEditMode)  | hide">
            <div class="grid-cell text-right">
              <a href="javascript:void(0);" id="vote-adjust-cancel" class="cancel" (click)="onCancelAdjustVotesClick()">Cancel</a>
            </div>
            <div class="grid-cell text-left">
              <a href="javascript:void(0);" class="button modal-trigger" data-modal="modal-add-preps" (click)="onConfirmSavePrepClick()">Save</a>
            </div>
          </div>

      </div>
    </div>
  </section>
  <!-- /Your votes -->

  <!-- P-Rep list -->
  <app-prep-list style="display: contents"
                 [yourVotesPrepList]="yourVotesPrepList"
                 [yourVotesEditMode]="yourVotesEditMode"
                 (addYourVotePrepEvent)="addYourVotePrep($event)"
                 (removeYourVotePrepEvent)="removeYourVotePrepByAddress($event)"
  >
  </app-prep-list>
  <!-- /P-Rep list -->
</main>
