<main class="vote">
  <!-- Vote overview -->
  <section id="vote-overview" class="{{voteOverviewEditMode ? 'adjust' : ''}}">
    <h2>Overview</h2>
    <!-- Container -->
    <div class="grid panel">
      <!-- Omm stake -->
      <div id="omm-stake" class="grid-cell">
        <!-- Title -->
        <h3>Omm stake</h3>

        <!-- Stake slider -->
        <div id="slider-stake" disabled #stkSlider [ngStyle]="hideElement(!userLoggedIn() || !userHasOmmTokens())"></div>

        <!-- Message (If user has no Omm tokens) -->
        <p class="label text-center" [ngStyle]="hideElement(!userLoggedIn() || userHasOmmTokens())">You have no Omm Tokens.<br>Supply or borrow to earn them.</p>

        <!-- Message (If not logged in) -->
        <div id="message-vote-logged-out" class="grid" [ngStyle]="hideElement(userLoggedIn())">
          <div class="grid-cell">
            <p>Sign in to stake Omm Tokens.</p>
            <a href="javascript:void(0);" class="button" (click)="onSignInClick()">Sign in</a>
          </div>
        </div>

        <!-- Stake actions -->
        <div class="grid" [ngStyle]="hideElement(!userLoggedIn() || !userHasOmmTokens())">
          <div class="grid-cell text-center">

            <!-- Actions to show by default -->
            <div *ngIf="!userHasStaked()" class="grid grid-center actions-default">
              <div class="grid-cell text-center">
                <a href="javascript:void(0);" class="button" id="stake-adjust" (click)="onStakeAdjustClick()">Stake Omm Tokens</a>
              </div>
            </div>

            <!-- Actions to show if already staked -->
            <div *ngIf="userHasStaked() && !isMaxStaked()" class="grid grid-center actions-default">
              <div class="grid-cell text-center">
                <a href="javascript:void(0);" class="button" (click)="onStakeAdjustClick()">Adjust stake</a>
              </div>
            </div>

            <!-- Actions to show if max staked -->
            <div *ngIf="userHasStaked() && isMaxStaked()" class="grid grid-center actions-default">
              <div class="grid-cell text-center">
                <a href="javascript:void(0);" class="button" (click)="onStakeAdjustClick()">Unstake Omm Tokens</a>
              </div>
            </div>

            <!-- Actions to show when adjust class is active -->
            <div class="grid grid-center actions-adjust">
              <div class="grid-cell text-right">
                <a href="javascript:void(0);" id="stake-adjust-cancel" class="cancel" (click)="onStakeAdjustCancelClick()">Cancel</a>
              </div>
              <div class="grid-cell text-left">
                <a href="javascript:void(0);" class="button modal-trigger" data-modal="modal-confirm-stake" (click)="onConfirmStakeClick()">Confirm</a>
              </div>
            </div>
          </div>

          <!-- Stake -->
          <div class="grid-cell text-center">
            <dl class="metadata">
              <dt>Your stake</dt>
              <dd><span class="value-omm-stake-amount" #ommStk>{{userOmmTokenBalanceDetails?.stakedBalance}}</span> / {{userOmmTokenBalanceDetails?.totalBalance}} OMM</dd>
            </dl>

            <!-- Message (If un-staking) -->
            <p *ngIf="isUnstaking()" class="label" style="margin-top: 5px;">{{this.persistenceService.getUserUnstakingOmmBalance()}} OMM unstaking</p>

          </div>
        </div>
      </div>

      <!-- Voting power -->
      <div id="vote-power" class="grid-cell">
        <div id="vote-conversion" class="grid-cell border-bottom text-center">
          <dl class="metadata">
            <dt>Voting power</dt>
            <dd>1 OMM = 1.3 ICX</dd>
          </dl>
        </div>
        <div class="grid">
          <div class="grid-cell">
            <dl class="metadata text-center">
              <dt>Your voting power</dt>
              <dd><span class="value-icx-stake-amount">{{userLoggedIn() && yourVotingPower> 0 ? roundOffTo2Decimals(yourVotingPower) : "-"}}</span>{{yourVotingPower > 0 ? " ICX" : ""}}</dd>
            </dl>
          </div>
          <div class="grid-cell">
            <dl class="metadata text-center">
              <dt>Omm's voting power</dt>
              <dd>{{roundOffTo2Decimals(calculationsService.totalVotingPower())}} ICX</dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Your votes -->
  <section id="your-votes" class="{{this.yourVotesEditMode ? 'adjust' : ''}}" [ngStyle]="hideElement(!userLoggedIn() || !userHasStaked())">
    <!-- Title -->
    <div class="grid grid-center">
      <div class="grid-cell">
        <h2>Your votes</h2><span class="value-risk-total">{{this.yourVotesPrepList?.length ? this.yourVotesPrepList?.length : 0}}/5</span>
      </div>
    </div>

    <!-- Message (If staked but not voted) -->
    <p class="label text-center" [ngStyle]="hideElement(userHasVotedForPrep())">Your votes are spread across the top 100 public representatives (P-Reps).
      <br>To allocate your own votes, add up to 5 P-Reps from the list.</p>

    <!-- Your votes list -->
    <div class="grid">
      <div class="grid-cell">
        <table class="list vote" [ngStyle]="hideElement(!userHasVotedForPrep())">
          <tbody>
          <ng-container *ngFor="let yourPrepVote of yourVotesPrepList; last as isLast; let i = index">
            <tr>
              <td class="name">
                <div class="grid grid-center">
                  <div class="grid-cell">
                    <div class="minus" (click)="removeYourVotePrep(i)">–</div>
                    <img src="assets/img/icon/profile.svg">
                  </div>
                  <div class="grid-cell">
                    {{yourPrepVote.name}}
                  </div>
                </div>
              </td>
              <td></td>
              <td>{{yourPrepVote.percentage}}%<br><span class="label">{{getDelegationAmount()}} ICX</span></td>
            </tr>

            <!-- Spacer -->
            <tr *ngIf="!isLast" class="spacer"></tr>
          </ng-container>
          </tbody>
        </table>

          <!-- Actions to show by default -->
          <div class="grid grid-center actions-default" [ngStyle]="hideElement(!userHasVotedForPrep() || yourVotesEditMode)">
            <div class="grid-cell text-center">
              <a href="javascript:void(0);" id="vote-adjust" class="button" (click)="onAdjustVoteClick()">Adjust P-Reps</a>
            </div>
          </div>

          <!-- Actions to show when adjust class is active -->
          <div class="grid grid-center actions-adjust" [ngStyle]="hideElement(!userHasVotedForPrep() && !yourVotesEditMode)">
            <div class="grid-cell text-right">
              <a href="javascript:void(0);" id="vote-adjust-cancel" class="cancel" (click)="onCancelAdjustVotesClick()">Cancel</a>
            </div>
            <div class="grid-cell text-left">
              <a href="javascript:void(0);" class="button modal-trigger" data-modal="modal-add-preps" (click)="onConfirmSavePrepClick()">Save</a>
            </div>
          </div>

      </div>
    </div>
  </section>
  <!-- /Your votes -->

  <!-- P-Rep list -->
  <section id="p-rep-list">
    <!-- Title -->
    <div class="grid grid-center title">
      <div class="grid-cell">
        <h2>P-Reps</h2>
        <span id="p-rep-tooltip" class="tooltip">
              <span class="tooltip-item"><img src="assets/img/icon/question.svg" class="tooltip-icon"></span>
              <div class="tooltip-content"><p>Public representatives operate nodes that keep the ICON Network – Omm's foundation – online. Many also contribute time and resources to build products and utilities, much like this one.</p></div>
            </span>
      </div>
      <div class="grid-cell text-right">
        <input type="text" name="" class="search" placeholder="Search P-Reps" [ngModel]="searchInput" (ngModelChange)="onSearchInputChange($event)">
      </div>
    </div>

    <!-- P-Rep list -->
    <div class="grid" *ngIf="searchedPrepList">
      <div class="grid-cell">
        <table class="list p-reps {{yourVotesEditMode || (userHasStaked() && !listIsNotNullOrEmpty(yourVotesPrepList)) ? 'adjust' : ''}}">
          <thead>
          <tr>
            <th>Rank</th>
            <th>Name</th>
            <th class="text-right">
              Earnings
              <span id="tooltip-earnings" class="tooltip">
                      <span class="tooltip-item"><img src="assets/img/icon/question.svg" class="tooltip-icon"></span>
                      <div class="tooltip-content"><p>The amount P-Reps earn each month, based on the number of votes.</p></div>
                    </span>
            </th>
            <th class="text-right">Votes</th>
          </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let prep of searchedPrepList.preps; last as isLast; let i = index">
              <!-- Prep -->
              <tr>
                <td>{{i + 1}}</td>
                <td class="name">
                  <div class="grid grid-center">
                    <div class="grid-cell">
                      <div class="plus" [ngStyle]="hideElement(!userLoggedIn())" (click)="addYourVotePrep(prep)">+</div>
                      <img [src]="prep.logoUrl">
                    </div>
                    <div class="grid-cell">
                      {{prep.name}}
                    </div>
                  </div>
                </td>
                <td>${{formatNumberToUSLocaleString(calculationsService.calculatePrepsIcxReward(prep, searchedPrepList) * persistenceService.getAssetExchangePrice(AssetTag.ICX))}}<br>
                  <span class="label">{{formatNumberToUSLocaleString(calculationsService.calculatePrepsIcxReward(prep, searchedPrepList))}} ICX</span></td>
                <td>{{to2DecimalRoundedOffPercentString(prep!.delegated / searchedPrepList!.totalDelegated)}}<br><span class="label">{{formatNumberToUSLocaleString(prep!.delegated)}}</span></td>
              </tr>
              <!-- Spacer -->
              <tr *ngIf="!isLast" class="spacer"></tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  <!-- /P-Rep list -->
</main>
