<div class="grid">
  <div class="grid-cell">
    <h2>Performance</h2>
    <span id="tooltip-performance" class="tooltip">
      <span class="tooltip-item"><img src="assets/img/icon/question.svg" class="tooltip-icon"></span>
      <div class="tooltip-content"><p>How your position will perform if all variables stay the same. Your supply auto-adjusts for interest, and you can claim Omm rewards daily.</p></div>
    </span>
    <span id="time-selector" class="label animation-underline" (click)="onTimeSelectorClick()"><span id="time-selector-dropdown" class="dropdown">Per {{selectedDropDownOption}}</span></span>
    <div class="time-selector-content">
      <ul>
        <ng-container *ngFor="let option of dropDownOptions">
          <li *ngIf="option.toLowerCase() !== selectedDropDownOption" (click)="onDropDownOptionClick(option)">{{option}}</li>
        </ng-container>
      </ul>
    </div>
  </div>
</div>

<!-- Performance content -->
<div class="grid panel">
  <!-- Supplied -->
  <div class="grid-cell">
    <div class="grid">
      <!-- Supply interest -->
      <div class="grid-cell text-center">
        <dl class="metadata">
          <dt>Supply interest</dt>
          <dd class="value-supply-interest-total" #suppInterest>{{supplyInterestMultipliedByDays()}}</dd>
        </dl>
      </div>

      <!-- Borrow interest -->
      <div class="grid-cell text-center borrow-interest-container" [ngStyle]="hideElement(borrowInterest.isZero())">
        <dl class="metadata">
          <dt>Borrow interest</dt>
          <dd class="value-borrow-interest-total" #borrInterest>{{borrowInterestMultipliedByDays()}}</dd>
        </dl>
      </div>

      <!-- Omm rewards -->
      <div class="grid-cell text-center">
        <dl class="metadata">
          <dt>Omm rewards</dt>
          <dd><span class="value-rewards-total">{{ommRewardsMultipliedByDays() | roundDown2Dec | usFormat}}</span>
            <span class="label" style="font-size: 12px;letter-spacing: 1px;margin-left: 5px;">OMM</span></dd>
        </dl>
      </div>
    </div>

  </div>
</div>
